{% extends 'page.html' %}
{% load static %}


{%block imports_css %}
 <link rel="stylesheet" type="text/css" href='{% static "css/fileInput/fileinput.min.css" %}'> 
 <link rel="stylesheet" type="text/css" href='{% static "js/plugins/datepicker/css/bootstrap-datetimepicker.css" %}'>
{% endblock imports_css %}

{% block title %}Seguimiento Retie{% endblock title%}
{% block mapa %}
	<li><a href="{% url 'usuario.index' %}"><i class="glyphicon glyphicon-home"></i></a></li>
  <li><a href="">Seguimiento Retie</a></li>  
	<li class="active">Configuración porcentajes</li>
{% endblock mapa %}
{% block encabezado %}{% endblock encabezado %}

{% block contenido %}
<!-- http://52.26.19.129/sinin/contrato/poliza.php?codigo=302 -->
  <div class="row" >

		<div class="col-lg-12">
		  
		   <div data-bind="html: mensaje"></div> 

		    <div class="panel panel-sky" data-bind="visible:(listado()!=null && listado().length > 0)">
		    		    
		        <div class="panel-heading">
              <span>      
                <a href="{% url 'usuario.index' %}"><i class="fa fa-arrow-left text-primary" style="font-size: 20px;"                aria-hidden="true"></i></a>
              </span>                
               Listado configuraciones
               <span data-bind="text:'- N° de Registros: ' + paginacion.totalRegistrosBuscados() + ' de ' + paginacion.total()"></span>
                <span class="panel-controls">
                  <a data-bind="click:abrir_filtros" data-placement="top" data-toggle="tooltip" data-original-title="Filtros" style="cursor:pointer;">
                    <i class="fa fa-filter fa-2x"></i>
                  </a>
                </span>

          	</div>

          	 <div class="panel-body">
          	 	              
          	 	 <div class="table-responsive">


                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>     
                     <th>
                        <div class="option-group field admin-form">
                        <label class="option option-primary"  style="">
                          <input name="mobileos" data-bind="checked:seleccionar" type="checkbox">
                          <span class="checkbox"></span>
                        </label>
                      </div>
                      </th>                 
                      <th>Macro-Contrato</th>    
                      <th>Porcentaje</th>
                      <th>Comentario</th>  
                      <th></th>                                        
                    </tr>
                   </thead>
                   <tbody data-bind="foreach:{data:listado, as:'item'}">
                    <tr>   
                     <td>
                       <div class="option-group field admin-form">
                        <label class="option option-primary"  style="">
                          <input name="mobileos" data-bind="checked:item.procesar" type="checkbox">
                          <span class="checkbox"></span>
                        </label>
                      </div>
                    </td>                 
                    <td data-bind="cutWord:{num:25,text:item.contrato.nombre, verMax:'...', verMin:'...'}"></td>
                    <td data-bind="text:item.porcentaje"></td>
                    <td data-bind="text: item.comentario"></td>                   
                    <td>
                   
                     <div class="btn-group text-right">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h fa-2x">
                                </i></a>

                             <ul class="dropdown-menu" role="menu">
                                {% if 'seguimiento_retie.change_configuracion_pocentaje' in perms %}
                                 <li>
                                    <a href="#" data-bind="click:function(obj){$root.consultar_por_id(obj.id);}">Editar</a>
                                 </li>
                                 {% endif %}
                                 {% if 'seguimiento_retie.delete_configuracion_pocentaje' in perms %}
                                 <li>
                                    <a href="#" data-bind="click:function(){ $root.eliminar_un_registro(item.id); }">Eliminar</a>
                                  </li>
                                  {% endif %}
                              </ul>
                      </div>
                    </td>                              
                    </td>                 
                    </tr>
                   </tbody> 
                 </table>
          	 	 	
                 <div id="paginacion" >
                      <div data-bind="pagination: {
                                   currentPage: paginacion.pagina_actual,
                                   totalCount: paginacion.total,
                                   pageSize:paginacion.cantidad_por_paginas,
                                   maxPages: paginacion.maxPaginas,
                                   directions: paginacion.direcciones,
                                   boundary: paginacion.limite,
                                   text: paginacion.text }">

                      </div>
                  </div>

          	 	 </div>

          	 </div>

		    </div>

		</div>

  </div>   

  <!--Modal-->

<div id="modal_acciones" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
       	         
           <div class="form-group">
              <label>Macro Contrato</label>             
              <select id="cmb_contrato_id" class="form-control" data-bind="value:configuracionVO.contrato_id">
                <option value="">[Seleccione...]</option>
                {% for item in contratos %}
                  <option value="{{item.contrato.id}}">{{item.contrato.nombre}}</option>
                {% endfor %}
              </select>            
            </div>
                     
           <div class="form-group">
                  <label>Porcentaje</label>
                   <div class="input-group"> 
                    <input class="form-control" data-bind="value:configuracionVO.porcentaje, onlyNumber:configuracionVO.porcentaje">
                    <!-- <span class="input-group-addon">%</span> -->
                     <label for="fecha_nacimiento" class="input-group-addon cursor">
                        %
                      </label>
                  </div>                  
            </div>

            <div class="form-group">
                  <label>Comentario</label>
                  <textarea class="form-control" cols="55" rows="3" data-bind="value:configuracionVO.comentario"></textarea>
             </div>
         
       </div>
     
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bind="click:guardar">Guardar</button>
        </div>      
    </div>
  </div>
</div>

<div id="modal_filtros" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">Filtros</h4>
      </div>
       <div class="modal-body">
        
                           
            <div class="form-group">
              <label>Macro Contrato</label>             
              <select class="form-control" data-bind="value:filtros.contrato_id">
                <option value="">[Seleccione...]</option>
                {% for item in  contratos %}
                  <option value="{{item.contrato.id}}">{{item.contrato.nombre}}</option>
                {% endfor %}
              </select>            
            </div> 
                    
         
          
       </div>
     
        <div class="modal-footer">

         <button type="button" class="btn btn-primary" data-bind="click:function(){ consultar(1);}">Consultar</button>

        </div>      
    </div>
  </div>
</div>
<!--Modal-->

{% endblock contenido %}


{% load static %}


{%block imports %}
   <!--  <script src='{% static "js/plugins/globalize/globalize.min.js" %}'></script>
    <script src='{% static "js/plugins/moment/moment.min.js" %}'></script>
     <script type="text/javascript" src='{% static "js/plugins/locale/es.js" %}'></script> 
    <script type="text/javascript" src='{% static "js/plugins/datepicker/js/bootstrap-datetimepicker.js" %}'></script>  -->
    <script type="text/javascript" src='{% static "js/plugins/accounting/accounting.min.js" %}'></script>     	
  	<script type="text/javascript" src='{% static "js/ViewModels/seguimiento_retie/ConfiguracionPorcentaje.js" %}'></script>   
{% endblock imports %}