<ul class="icon-list">
  <li>
    <b> Consecutivo Numero :</b>  <span data-bind='text:historial_multaVO.consecutivo' ></span>
  </li>
  <li>
    <b> Numero del contrato :</b> <span data-bind='text:historial_multaVO.no_contrato' ></span>
  </li>
  <li>
    <b> Nombre:</b>   <span data-bind='text:historial_multaVO.nombre' ></span>
  </li>
   <li>
    <b> Estado del contrato:</b> <span data-bind='text:historial_multaVO.estado_contrato' ></span>
  </li>
   <li>
    <b> Fecha de solicitud:</b> <span data-bind="text: historial_multaVO.fecha_solicitud" ></span>
  </li>
   <li>
    <b> Contratista:</b> <span data-bind='text:historial_multaVO.contratista' ></span>
  </li>
   <li>
    <b> Estado de la solicitud:</b> <span data-bind='text:historial_multaVO.estado_solicitud' ></span>
  </li>
  <li>
    <b> Valor solicitado:</b> <span data-bind='text:historial_multaVO.valor_solicitado' ></span>
  </li>
  <li>
    <b> Valor para imposición:</b> <span data-bind='text:historial_multaVO.valor_imposicion' ></span>
  </li>
  <!-- <li>
    <i class="fa fa-exclamation-circle text-warning fa-lg pr10"></i>
    <b> Info:</b>
    <a href="http://www.themeforest.net/user/AdminDesigns"> www.admindesigns.com </a>
  </li> -->
</ul>


