{% extends 'page.html' %}
{% load static %}

{%block imports_css %}
 <link rel="stylesheet" type="text/css" href='{% static "css/fileInput/fileinput.min.css" %}'>
 
{% endblock imports_css %}

{% block title %}Asignacion de proyecto{% endblock title%}
{% block opciones_listado %}

{% endblock opciones_listado %}
{% block mapa %}
  <li><a href="{% url 'usuario.index' %}"><i class="fa fa-home fa-2x"></i>Inicio</a></li>
  <li class="active">Asignacion Proyecto</li>
{% endblock mapa %}
{% block encabezado %}{% endblock encabezado %}

{% block contenido %}

{% block busqueda %}

{% endblock busqueda %}


  <div class="row" >
    <div class="col-lg-12">
      <div class="panel">
        <div class="panel-heading">
          <span class="panel-title"> 
            <a href="{% url 'usuario.index' %}" data-placement="right"    
              data-toggle="tooltip" data-original-title="Regresar al inicio">
              <i class="fa fa-arrow-left"></i>
            </a>
            Asignacion de proyectos 
          </span>
        </div>
        <div class="panel-body">

          <!--Inicio Buscar el funcionario-->
          <div class='row'>
            <form action="." method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="col-md-6">
                <div class="form-group">
                  <label>Empresa</label>
                  <div class="form-group admin-form">
                    <label class="select">
                      <select class="form-control" data-bind="value:empresa">
                        <option value="0">[Seleccione...]</option>
                        {% for item in empresa %}
                        <option value="{{ item.id }}">{{ item.nombre }}</option>
                        {% endfor %}
                      </select><i class="arrow"></i>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Cargo</label>
                  <div class="form-group admin-form">
                    <label class="select">
                      <select class="form-control" data-bind="value:cargo">
                        <option value="0">[Seleccione...]</option>
                        <!--ko foreach:{ data:lista_cargo, as:'item'} -->
                        <option data-bind="value:item.id,text:item.nombre"></option>
                        <!--/ko-->                    
                      </select><i class="arrow"></i>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Funcionarios</label>
                  <div class="form-group admin-form">
                    <label class="select">
                      <select class="form-control" data-bind="value:funcionario_id">
                        <option value="0">[Seleccione...]</option>
                        <!--ko foreach:{ data:lista_funcionario, as:'item'} -->
                        <option data-bind="value:item.id,text:item.persona.nombres+' '+item.persona.apellidos"></option>
                        <!--/ko-->                     
                      </select><i class="arrow"></i>
                    </label>
                  </div>
                </div>                                
              </div>
            </form>
          </div>
          <!--Fin Buscar el funcionario-->

          <div class="col-md-6" data-bind="visible: mostrarasignados">
            <div class="panel">
              <div class="panel-heading">
                <span class="panel-title"> Por Asignar </span>
              </div>
              <div class="panel-body">

                <!--Inicio Buscar Proyectos por Asignar-->
                <div class='row'>
                  <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Macro-contrato</label>
                        <div class="form-group admin-form">
                          <label class="select">
                            <select class="form-control" data-bind='value:macrocontrato_select'>
                              <option value="0">[Seleccione...]</option>
                              {% for item in mcontrato %}
                              <option value="{{ item.id }}">{{ item.nombre }}</option>
                              {% endfor %}
                            </select><i class="arrow"></i>
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Contratista</label>
                        <div class="form-group admin-form">
                          <label class="select">
                            <select class="form-control" data-bind="value:contratista">
                              <option value="0">[Seleccione...]</option>
                              <!--ko foreach:{ data:listado_contratista, as:'item'} -->
                              <option data-bind="value:item.id,text:item.nombre"></option>
                              <!--/ko-->                           
                            </select><i class="arrow"></i>
                          </label>
                        </div>
                      </div>                   
                      <div class="form-group">
                        <label>Departamento</label>
                        <div class="form-group admin-form">
                          <label class="select">
                            <select class="form-control" data-bind="value:departamento">
                              <option value="0">[Seleccione...]</option>
                              <!--ko foreach:{ data:departamento_select, as:'item'} -->
                              <option data-bind="value:item.id,text:item.nombre"></option>
                              <!--/ko-->                                                      
                            </select><i class="arrow"></i>
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Municipio</label>
                        <div class="form-group admin-form">
                          <label class="select">
                            <select class="form-control" data-bind="value:municipio">
                              <option value="0">[Seleccione...]</option>
                              <!--ko foreach:{ data:listado_municipio, as:'item'} -->
                              <option data-bind="value:item.id,text:item.nombre"></option>
                              <!--/ko-->                          
                            </select><i class="arrow"></i>
                          </label>
                        </div>
                      </div>
                      <button type="button" class="btn btn-primary" data-bind="click:list_proyecto">Consultar</button><br/><br/>
                      <div data-bind="html: mensaje"></div>
                      <div class="panel panel-sky" data-bind="visible:(lista_proyecto()!=null && lista_proyecto().length > 0)">
                        <button type="button" data-bind="click:guardar_proyecto" class="btn btn-sm btn-primary btn-block"  >                        
                        <h4>Asignar -
                          <i class="fa fa-hand-o-right fa-lg" aria-hidden="true"></i>
                        </h4>
                      </button>
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>  
                                  <th>
                                    <div class="option-group field admin-form">
                                      <label class="option option-primary" >
                                        <input name="mobileos" value="ok" type="checkbox" data-bind="checked:checkall">
                                        <span class="checkbox"></span>
                                      </label>
                                    </div>
                                  </th>
                                  <th>Municipio</th>
                                  <th>Departamento</th>
                                  <th>Nombre</th>
                                </tr>
                              </thead>
                              <tbody>
                                <!--ko foreach:{ data:lista_proyecto, as:'item'} -->
                                  <tr>
                                    <td>
                                      <div class="option-group field admin-form">
                                        <label class="option option-primary">
                                          <input name="mobileos" value="" type="checkbox" data-bind="checked: eliminado, value: item.id">
                                          <span class="checkbox"></span>
                                        </label>
                                      </div>
                                    </td>
                                    <td data-bind="text: item.municipio.nombre"></td>
                                    <td data-bind="text: item.municipio.departamento.nombre"></td>
                                    <td data-bind="text: item.nombre"></td>
                                  </tr>

                                <!--/ko-->
                              </tbody>
                            </table>
                          </div>
                      </div><!-- /.panel panel-sky -->                                                                      
                    </div>
                  </form>
              </div>
              <!--Fin Buscar Proyectos por Asignar-->

              </div>
            </div>
          </div>
          <div class="col-md-6" data-bind="visible: mostrarasignados">
            <div class="panel">
              <div class="panel-heading">
                <span class="panel-title"> Asignados </span>
              </div>
              <div class="panel-body">

                <!-- Inicio Buscar Proyectos Asignados-->
                <div class='row'>
                  <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Macro-contrato</label>
                        <div class="form-group admin-form">
                          <label class="select">
                            <select class="form-control" data-bind='value:macrocontrato_select2'>
                              <option value="0">[Seleccione...]</option>
                              {% for item in mcontrato %}
                              <option value="{{ item.id }}">{{ item.nombre }}</option>
                              {% endfor %}
                            </select><i class="arrow"></i>
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Contratista</label>
                        <div class="form-group admin-form">
                          <label class="select">
                            <select class="form-control" data-bind="value:contratista2">
                              <option value="0">[Seleccione...]</option>
                              <!--ko foreach:{ data:listado_contratista2, as:'item'} -->
                              <option data-bind="value:item.id,text:item.nombre"></option>
                              <!--/ko--> 
                            </select><i class="arrow"></i>
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Departamento</label>
                        <div class="form-group admin-form">
                          <label class="select">
                            <select class="form-control" data-bind="value:departamento2">
                              <option value="0">[Seleccione...]</option>
                              <!--ko foreach:{ data:departamento_select2, as:'item'} -->
                              <option data-bind="value:item.id,text:item.nombre"></option>
                              <!--/ko--> 
                            </select><i class="arrow"></i>
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Municipio</label>
                        <div class="form-group admin-form">
                          <label class="select">
                            <select class="form-control" data-bind="value:municipio2">
                              <option value="0">[Seleccione...]</option>
                              <!--ko foreach:{ data:listado_municipio2, as:'item'} -->
                              <option data-bind="value:item.id,text:item.nombre"></option>
                              <!--/ko-->  
                            </select><i class="arrow"></i>
                          </label>
                        </div>
                      </div> 

                      <button type="button" class="btn btn-primary" data-bind="click:list_proyecto2">Consultar</button><br/><br/>
                      <div data-bind="html: mensaje2"></div>
                      <div class="panel panel-sky" data-bind="visible:(lista_proyecto2()!=null && lista_proyecto2().length > 0)">

                      <button type="button" data-bind="click:eliminar_proyecto" class="btn btn-sm btn-primary btn-block"  >                        
                         <h4><i class="fa fa-hand-o-left fa-lg" aria-hidden="true"></i>
                            - Quitar                          
                        </h4>
                      </button>

                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>  
                                  <th>
                                    <div class="option-group field admin-form">
                                      <label class="option option-primary" >
                                        <input name="mobileos" value="ok" type="checkbox" data-bind="checked:checkall2">
                                        <span class="checkbox"></span>
                                      </label>
                                    </div>
                                  </th>
                                  <th>Municipio</th>
                                  <th>Departamento</th>
                                  <th>Nombre</th>
                                </tr>
                              </thead>
                              <tbody>
                                <!--ko foreach:{ data:lista_proyecto2, as:'item'} -->
                                  <tr>
                                    <td>
                                      <div class="option-group field admin-form">
                                        <label class="option option-primary">
                                          <input name="mobileos" value="" type="checkbox" data-bind="checked: eliminado, value: item.id">
                                          <span class="checkbox"></span>
                                        </label>
                                      </div>
                                    </td>
                                    <td data-bind="text: item.municipio.nombre"></td>
                                    <td data-bind="text: item.municipio.departamento.nombre"></td>
                                    <td data-bind="text: item.nombre"></td>
                                  </tr>
                                <!--/ko-->
                              </tbody>
                            </table>
                          </div>

                      </div><!-- /.panel panel-sky -->                                                                                    
                    </div>
                  </form>
              </div>
              <!-- Fin Buscar Proyectos Asignados-->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--col-lg-12" -->
  </div><!--cierra row -->


<!--Loading-->
  
{% endblock contenido %}

{% load static %}

{%block imports %}

  <script type="text/javascript" src='{% static "js/plugins/fileInput/fileinput.js" %}'></script>
  <script type="text/javascript" src='{% static "js/ViewModels/asignacion_proyecto/asignacion_proyecto.js" %}'></script>


{% endblock imports %}

