{% extends 'page.html' %}
{% load static %}

{%block imports_css %}
 <link rel="stylesheet" type="text/css" href='{% static "css/fileInput/fileinput.min.css" %}'>
 <link rel="stylesheet" type="text/css" href='{% static "js/plugins/datepicker/css/bootstrap-datetimepicker.css" %}'>

{% endblock imports_css %}

{% block title %}Listado de pagos{% endblock title%}
{% block mapa %}
  <li><a href="{% url 'usuario.index' %}"><i class="fa fa-home fa-2x"></i>Inicio</a></li>
  <li><a href="{% url 'seguimiento_factura.index' %}">Seguimiento factura</a></li>
  <li><a href="{% url 'seguimiento_factura.consulta-factura-pagada' %}">Listado de factura</a></li>
  <li class="active">Listado de pagos</li>
{% endblock mapa %}
{% block encabezado %}<!--cuenta-->{% endblock encabezado %}

{% block opciones_listado %} {% endblock opciones_listado %}
{% block busqueda %}{% endblock busqueda %}

{% block contenido %}


  <div class="row" ><br><br>

    <div class="col-lg-12">
  
          <div class="panel" id="spy4">
            <div class="panel-heading">
              <span class="panel-title"></span><span>Listado de pagos</span>
            </div>
            
            <div class="panel-body">

              <div data-bind="html: mensaje"></div>

              <div class="table-responsive">

                <table class="table" data-bind="visible:(listado_pago()!=null && listado_pago().length > 0)">
                  <thead>
                      <tr>
                        <th style="width:18%">Contrato</th>
                        <th style="width:18%">Cuenta origen</th>
                        <th style="width:18%">Proveedor</th>
                        <th style="width:18%">TEST-OP/Codigo compensacion</th>
                        <th style="width:18%">Valor</th>
                        <th style="width:10%"></th>
                      </tr>
                  </thead>

                  <tbody data-bind="foreach:{data:listado_pago, as:'item'}">

                    <tr>

                      <td data-bind="cutWord:{num:10,text:item.contrato, verMax:'...', verMin:'...'}"></td>
                      <td>
                      <!--ko if: item.financiero_cuenta != null-->

                        <span data-bind="text: item.financiero_cuenta.nombre"></span>
                      <!--/ko -->
                      </td>
                      <td data-bind="text: item.beneficiario"></td>
                      <td data-bind="text: item.codigo"></td>               
                      <td data-bind="text: formatMoney(item.valor)"></td>
                      <td>

                        <div class="btn-group text-right">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h fa-2x"></i>
                          </a>

                          <ul class="dropdown-menu" role="menu" style="left:-148px;top:20px;">

                            <li>
                              <a style="cursor:pointer" data-bind="click:$parent.consultar_factura_pagada" title="Listado de facturas"> 
                                 Listado de facturas pagadas
                              </a>
                            </li>

                            <li>
                              <a style="cursor:pointer" data-bind="click:$parent.consultar_por_id" title="Actualizar fecha de pago"> 
                               Actualizar fecha de pago
                              </a>
                            </li>
                           
                          </ul>
                        </div>

                      </td>

                    </tr>
                     
                  </tbody>
                </table>
               
              </div>

            </div>
          </div>

        </div><!--cierra row de validacion de la tabla-->

    </div><!--col-lg-12" -->
  </div><!--cierra row -->


  <!--Modal para mostrar las facturas pagadas-->
  <div id="modalFactura" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 30px;font-weight: bold;">&times;</span></button>
          
          <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>

        </div>
        <div class="modal-body">

          <div class="table-responsive" data-bind="visible:(listado_factura_pagada()!=null && listado_factura_pagada().length>0)">

            <table id="tabla" class="table">
              <thead>
                  <tr>
                    <th style="width:25%">Referencia</th>
                    <th style="width:25%">Fecha reporte</th>
                    <th style="width:25%">No. factura</th>
                    <th style="width:25%">Valor a pagar</th>    
                    </tr>
              </thead>

              <tbody data-bind="foreach:{data:listado_factura_pagada, as:'item'}">
            
                <tr>
                  <td data-bind='text:item.referencia'></td>

                  <!--ko if:(item.fecha_reporte != '' && item.fecha_reporte != '1900-01-01' && item.fecha_reporte != '0000-00-00') -->
                  <td data-bind='text:item.fecha_reporte'></td>
                  <!--/ko-->

                  <!--ko if:(item.fecha_reporte == '1900-01-01') -->
                    <td></td>
                  <!--/ko-->
                  <td data-bind='text:item.numero'></td>
                  <td data-bind='text:formatMoney(item.valor_factura)'></td>
                </tr>

              </tbody>

            </table>

          </div><!--table-responsive-->

        </div>
      </div>
    </div>
  </div><!--cierra modal_filtro-->
  <!--Fin del modal de factura pagadas-->


  <!--Modal para guardar la fecha de pago-->
  <div id="modalfecha" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 30px;font-weight: bold;">&times;</span></button>
          
          <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>

        </div>
        <div class="modal-body">

          <label>Fecha de pago :</label>

           <input class="form-control" type="text" placeholder="Seleccione la fecha" 
                data-bind="datePicker:test_opVO.fecha_pago,value:test_opVO.fecha_pago, dateTimePickerOptions:{maxDate:new Date()}" onkeypress="return false">
            <p class="help-block">Seleccione la fecha desde.</p>

            <button type="button" class="btn btn-primary" id="actualizarFecha" name="actualizarFecha" data-bind="click:guardar">Guardar</button>
         
        </div>
      </div>
    </div>
  </div><!--cierra modal_filtro-->
  <!--Fin del modal para guardar la fecha de pago-->


<!--Loading-->
  
{% endblock contenido %}

{% load static %}

{%block imports %}

  <script src='{% static "js/plugins/globalize/globalize.min.js" %}'></script>
  <script src='{% static "js/plugins/moment/moment.min.js" %}'></script>
  <script src='{% static "js/plugins/accounting/accounting.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/plugins/datepicker/js/bootstrap-datetimepicker.js" %}'>
  </script>
  <script type="text/javascript" src='{% static "js/plugins/fileInput/fileinput.js" %}'></script>
  <script type="text/javascript" src='{% static "js/ViewModels/seguimiento_factura/consultar_factura_pagada.js" %}'></script>

  <script type="text/javascript">

    $(document).ready(function () {

      factura_pagada.consultar_listado_pago({{id_pago}});//iniciamos la primera funcion

    });  

  </script>

{% endblock imports %}

