{% extends 'page.html' %}
{% load static %}

{%block imports_css %}
 <link rel="stylesheet" type="text/css" href='{% static "css/fileInput/fileinput.min.css" %}'>
 <link rel="stylesheet" type="text/css" href='{% static "js/plugins/datepicker/css/bootstrap-datetimepicker.css" %}'>
{% endblock imports_css %}

{% block opciones_listado %}
  {% if app in perms %}
    {% if app|add:'.add_'|add:model in perms%}        
      <li>
        <a href="#" data-placement="right"  data-toggle="tooltip" data-original-title="Agregar Nuevo Registro">
           <i class="fa fa-plus" data-bind="click:abrir_modal" style="font-size: 20px;"></i>
        </a>
      </li>
    {% endif %}
  {% endif %}
 
  <li>
    <a href="#" data-placement="right"  data-toggle="tooltip" data-original-title="Exportar Listado" >
        <i class="fa fa-cloud-download" data-bind="click:exportar_excel" style="font-size: 20px;"></i>
    </a>
  </li>

  {% if 'correspondencia_recibida.change_correspondenciarecibida' in perms %}
  <li>
    <a href="#" data-placement="right"  data-toggle="tooltip" data-original-title="Establecer Carta(s) Por Revisar" >
      <i class="fa fa-thumbs-o-up" aria-hidden="true" data-bind="click:establecer" style="font-size: 20px;"></i>
    </a>
  </li>
  {% endif %}

   {% if app in perms %}
    {% if app|add:'.delete_'|add:model in perms%}   
      <li>
        <a href="#" data-placement="right"  data-toggle="tooltip" data-original-title="Anular Carta(s)">
            <i class="fa fa-thumbs-o-down" data-bind="click:eliminar" style="font-size: 20px;"></i>
        </a>
      </li>
    {% endif %}
  {% endif %}

{% endblock opciones_listado %}  


{% block title %}Correspondencia Recibida{% endblock title%}
{% block mapa %}

  <li><a href="/usuario/"><i class="glyphicon glyphicon-home"></i></a></li>
  <li><a href="/usuario/">Inicio</a></li>
  <li class="active">Correspondencia</li>
  <li class="active">Correspondencia Recibida</li>
{% endblock mapa %}
{% block encabezado %}{% endblock encabezado %}

{% block contenido %}   
<input type="text" id="user" value="{{ user.usuario.id }}" hidden> 
<input type="text" id="company" value="{{ user.usuario.empresa.id }}" hidden>  

  <div class="row" >

<div class="col-lg-12">
  
     
      
  <div class="panel panel-sky" >
          <div class="panel-heading">
              Listado correspondencias recibidas - N° de Registros : </span> <span data-bind="text:paginacion.total"></span>
              <span class="panel-controls">
                <a data-placement="top" data-toggle="tooltip" data-original-title="Filtros"  title="" style="cursor:pointer;" data-bind="click:abrir_modal_busqueda" >
                  <i class="fa fa-filter fa-2x"></i>
                </a>
              </span>
          </div>           
          
          <div class="panel-body" >
            <div data-bind="html: mensaje"></div> 
            <div data-bind="visible:(listado_correspondencias()!=null && listado_correspondencias().length > 0)">  
                    <div class="col-lg-12">
                       <i class="text-success fa fa-bell" style="font-size:16px"></i> 
                       : [Establecida];&nbsp;&nbsp;&nbsp;&nbsp;
                       <i class="text-warning fa fa-bell" style="font-size:16px"></i> 
                       : [Anulada];  
                    </div>
                    <br><br>
                    <div class="table-responsive" >
                          <table class="table">
                        <thead>
                      <tr>
                        <th>
                          <div class="option-group field admin-form">
                            <label class="option option-primary"  style="">
                              <input type="checkbox" data-bind="checked:checkall">
                              <span class="checkbox"></span>
                            </label>
                          </div>
                        </th>    
                        <th width="3%">Doc</th>
                        <th width="5%">Radicado</th>
                        <th width="12%">Fecha Recibida</th>
                        <th width="25%">Remitente</th>
                        <th width="27%">Asunto</th>                        
                        <th width="21%">Elaborado Por</th>
                        <th width="3%"></th>
                      </tr>
                    </thead>
                    <tbody data-bind="foreach:{data:listado_correspondencias, as:'item'}">
                      <tr data-bind="css:{'success': item.estado.id != 66,
                                              'warning': item.estado.id == 66
                                              }" >
                        <td> 
                          <!--ko if: item.destinatario=={{ user.usuario.id }} -->   
                            <div class="option-group field admin-form">
                              <label class="option option-primary"  style="">
                                <input type="checkbox" data-bind="checked:eliminado,value:id">
                                <span class="checkbox"></span>
                              </label>
                            </div>        
                          <!-- /ko -->     
                        </td> 
                        <!-- ko if: item.totalSoportes==0 -->
                        <td><font color="#FF0000">Pendiente</font></td>
                        <!-- /ko -->
                       
                        <!-- ko if: item.totalSoportes>0 -->
                        <td>
                            <a  target="_blank" style="cursor:pointer;" data-bind="click:$root.abrir_modal_soporte_ver">
                                <i class="fa fa-file kv-caption-icon fa-2x"></i> 
                            </a>
                        </td>
                        <!-- /ko -->
                        <td data-bind="text: item.correspondenciaRecibida.radicado"></td>
                        <td data-bind="text: item.correspondenciaRecibida.fechaRecibida"></td>
                        <td data-bind="text: item.correspondenciaRecibida.remitente"></td>
                        <td data-bind="cutWord:{num:40,text:item.correspondenciaRecibida.asunto, verMax:'...', verMin:'...'}"></td>                       
                        <td data-bind="text: item.correspondenciaRecibida.usuarioSolicitante.persona.nombres+' '+correspondenciaRecibida.usuarioSolicitante.persona.apellidos"></td>
                        <td>
                            <div class="btn-group text-right">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">
                                  <i  class="fa fa-ellipsis-h fa-2x" ></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                  <!--ko if: item.correspondenciaRecibida.usuarioSolicitante.id=={{ user.usuario.id }} |  item.destinatario=={{ user.usuario.id }} --> 
                                    {% if 'correspondencia_recibida.change_correspondenciarecibida' in perms %}
                                    <li>
                                      <a href="#" data-bind="click:$root.modificar_carta">Editar</a>
                                    </li>
                                    {% endif %}
                                    {% if 'correspondencia.can_see_CorrespondenciaSoporte' in perms %}
                                    <li>
                                      <a href="#" data-bind="click:$root.abrir_modal_soporte">Subir Soporte</a>
                                    </li>
                                    {% endif %}
                                  <!-- /ko --> 
                                  <li>
                                    <a href="#" data-bind="click:$root.abrir_modal_historial">Historial de la carta</a>
                                  </li>
                                  <li>
                                    <a href="#" data-bind="click: $root.dowloadCodeBar"> Generar codigo de barra</a>
                                  </li>                       
                                </ul>
                            </div>
                        </td>       
                      </tr>
                    </tbody>
                  </table>
                  </div>              
                  <div id="paginacion" >
                    <div data-bind="pagination: {
                                   currentPage: paginacion.pagina_actual,
                                   totalCount: paginacion.total,
                                   pageSize:paginacion.cantidad_por_paginas,
                                   maxPages: paginacion.maxPaginas,
                                   directions: paginacion.direcciones,
                                   boundary: paginacion.limite,
                                   text: paginacion.text }">

                    </div>
                  </div>
            </div>
        </div>
  </div>	
  </div>
</div>

<div id="modal_acciones" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width:85%" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
        <div class="modal-body bg-light">
         <form action="." method="post" enctype="multipart/form-data" id="form-wizard">
            <!-- {% csrf_token %}    --> 

          <div class="col-md-7" data-bind="css : {'col-md-7':correspondenciaRecibidaVO.id() == 0 ,
                                                  'col-md-12': correspondenciaRecibidaVO.id() != 0} ">  
        
           
            <div  class="panel" >
            <div class="panel-heading">
              <span class="panel-title">Datos generales</span>
            </div>
            <div class="panel-body" > 

              <div class="col-lg-3">          
                <label>Privado</label>                     
                <div class="col-lg-12">
                  <div class="radio-custom mb col-lg-6">    
                    <input id="privado1" name="privado" type="radio" data-bind="checked:correspondenciaRecibidaVO.privado" value="true" >
                    <label for="privado1" class="radio-inline" >Si</label>                                 
                  </div>
                  <div class="radio-custom radio-primary mb5 col-lg-6">
                    <input id="privado2" name="privado" type="radio"  data-bind="checked:correspondenciaRecibidaVO.privado"   value="false" >
                    <label for="privado2" class="radio-inline" >No</label>  
                  </div>
                </div>
              </div>  
              <!-- ko if: correspondenciaRecibidaVO.id()==0 -->
              <div class="form-group col-lg-3">
                <label>Fecha De Recibido</label>
                <input type="text" id="datepicker" placeholder="Fecha de recibido." class="form-control"  data-bind='datePicker:correspondenciaRecibidaVO.fechaRecibida,value:correspondenciaRecibidaVO.fechaRecibida ,
                dateTimePickerOptions:{maxDate: new Date() }'>  
              </div> 
              <!-- /ko -->  

              <!-- ko if: correspondenciaRecibidaVO.id()>0 -->
              <div class="form-group col-lg-3">
                <label>Fecha De Recibido</label>
                <input type="text" class="form-control"  data-bind='value:correspondenciaRecibidaVO.fechaRecibida , dateTimePickerOptions:{maxDate: new Date() }' readonly>  
              </div> 
              <!-- /ko -->                          
  
              <div class="form-group col-lg-6">
                <label>Remitente</label>
                <input type="text"  placeholder="Digite el remitente." class="form-control" data-bind='value:correspondenciaRecibidaVO.remitente'>        
              </div>

              <div class="form-group col-lg-12">          
                <label>Asunto</label>
                <input type="text"  placeholder="Digite el asunto." class="form-control" data-bind='value:correspondenciaRecibidaVO.asunto'>   
              </div> 

              <div class="form-group col-lg-4">          
                <label>Radicado Previo</label>
                <input type="text" placeholder="Digite el radicado previo." class="form-control" data-bind='value:correspondenciaRecibidaVO.radicadoPrevio'> 
              </div>
              
              <!-- ko if: correspondenciaRecibidaVO.id()==0 -->
              <div class="form-group col-lg-8">  
                <label>Soportes</label>
                <!-- solo se aceptan archivos pdf, jpg , zip , png -->
                <input type="file" class="note-image-input" id="soportes" name="soportes[]" data-bind="fileData:{value:correspondenciaRecibidaVO.soporte,allowedFileExtensions: ['pdf','jpg','zip' , 'png'],elErrorContainer: '#errorBlock', removeLabel:''}" multiple />
                <small id="emailHelp" class="form-text text-muted">Tipos de archivos aceptados pdf, jpg, zip y png.<br></small>              
              </div>
              <!-- /ko --> 
                                                           
              </div> 
            </div> 
          </div> 
          <!-- fin datos generales -->
          <!-- ko if: correspondenciaRecibidaVO.id()==0 -->
          <div class="col-md-5"  >  
            <div  class="panel" >
              <div class="panel-heading">
                <span class="panel-title">Destinatario</span>
              </div>
              <div class="panel-body" >
                <div class="input-group form-group">
                    <input class="form-control" placeholder="Nombres o apellidos" type="text" id ="filtro_Destinatario"  data-bind="event:{keypress:consultar_destinatarios_enter }">
                      <span class="input-group-addon" data-bind="click:consultar_destinatarios_btn" >Consultar</span>
                </div> 

                  <div class="form-group">
                    <select class="form-control form-group" size="7" data-bind='value:correspondenciaRecibidaVO.destinatario' >  
                            <!--ko foreach: { data:listado_destinatarios , as:'item'}-->        
                              <option data-bind="value:item.id, text:(item.persona__nombres+' '+item.persona__apellidos+' - ('+user__username+')' )"></option>
                            <!-- /ko -->
                    </select>     
                  </div>     
              </div> 
            </div> 
          </div> 

          <div class="col-md-7">  
            <div  class="panel" >
              <div class="panel-heading">
                <span class="panel-title">Agregar copia</span>
              </div>
              <div class="panel-body" >
                <div class="input-group form-group">
                    <input class="form-control" placeholder="Nombres o apellidos" type="text" id ="filtro_DestinatarioCopia" data-bind="event:{keypress:consultar_destinatarios_copia_enter }" >
                      <span class="input-group-addon" data-bind="click:consultar_destinatarios_copia_btn" >Consultar</span>    
                </div>

                <div class=" form-group">
                  <button type="button"  data-bind="event:{click:asignar_copia_radicado}" class="btn btn-sm btn-primary btn-block" >
                    <h4>Asignar usuarios a copiar -
                          <i class="fa fa-hand-o-right fa-lg" aria-hidden="true"></i>
                    </h4> 
                  </button>
                </div>

                <div class="form-group">
                  <select class="form-control form-group" size="7" id="destinatarioCopia" data-bind="event:{dblclick:asignar_copia_radicado} " >  
                      <!--ko foreach: { data:listado_destinatarios_copia , as:'item'}-->        
                        <option data-bind="value:item.id, text:(item.persona__nombres+' '+item.persona__apellidos+' - ('+user__username+')' )"></option>
                      <!-- /ko -->
                  </select>      
                </div> 
              </div> 
            </div> 
          </div>

          <div class="col-md-5">  
            <div  class="panel" >
              <div class="panel-heading">
                <span class="panel-title">Usuarios  con  copia</span>
              </div>
              <div class="panel-body" >
                <div class=" form-group">
                  <button type="button" data-bind="event:{click:quitar_copia_radicado}" class="btn btn-sm btn-primary btn-block" >
                  <h4><i class="fa fa-hand-o-left fa-lg" aria-hidden="true"></i>
                      - Quitar usuarios                           
                  </h4>
                  </button>
                </div>
                <div class="form-group">
                  <select class="form-control form-group" size="10" id="destinatarioConCopia" data-bind="event:{dblclick:quitar_copia_radicado} " >  
                      <!--ko foreach: { data:listado_destinatarios_con_copia , as:'item'}-->        
                        <option data-bind="value:item.id, text: item.nombres"></option>
                      <!-- /ko -->
                  </select>      
                </div> 
              </div> 
            </div> 
          </div>  
          <!-- /ko -->  
        </form>
                         
         
       </div>     

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bind="click:guardar">Guardar</button>
      </div>

    </div>
  </div>
</div>
<!--Modal Correspondencia-->



<div id="modal_busqueda" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body bg-light">          
           <form action="." method="post">
            <!-- {% csrf_token %}  -->
               <div class="col-lg-7"  >  
                  <div  class="panel" >
                    <div class="panel-heading">
                      <span class="panel-title">Datos Generales</span>
                    </div>
                    <div class="panel-body" > 
                      
                      <div class="form-group" >
                        <label>Elaborado Por</label>
                        <select class="form-control form-group" data-bind='value:correspondenciaRecibidaVO_filtro.usuarioElaboro' >    
                            <option value="">Seleccione el funcionario...</option> 
                            <!--ko foreach: { data:listado_funcionarios_elaboran , as:'item'}-->        
                              <option data-bind="value:item.id, text: (item.persona.nombres+' '+item.persona.apellidos+' - ('+item.user.username+')' ) "></option>
                            <!-- /ko -->
                        </select>  
                      </div>
                      <div class="form-group" >
                        <label>Tiene Soporte</label>
                        <div class="col-lg-12">
                          <label class="checkbox-inline mr10">
                            <input id="inlineCheckbox1" data-bind="checked : correspondenciaRecibidaVO_filtro.soporte_si"  type="checkbox">Si
                          </label>

                          <label class="checkbox-inline mr10">
                            <input id="inlineCheckbox1" data-bind="checked : correspondenciaRecibidaVO_filtro.soporte_no"  type="checkbox">No
                          </label>

                        </div>          
                      </div> 

                      <div class="form-group" >     
                        <label>Campos de busqueda</label>
                        <div class="col-lg-12">

                          <label class="checkbox-inline mr10">
                            <input id="inlineCheckbox1" data-bind="checked : correspondenciaRecibidaVO_filtro.asunto"  type="checkbox">Asunto
                          </label>

                          <label class="checkbox-inline mr10">
                            <input id="inlineCheckbox1" data-bind="checked : correspondenciaRecibidaVO_filtro.remitente"  type="checkbox">Remitente
                          </label>

                          <label class="checkbox-inline mr10">
                            <input id="inlineCheckbox1" data-bind="checked : correspondenciaRecibidaVO_filtro.radicado"  type="checkbox">Radicado
                          </label>
                        </div>  
                      </div> 
                      <div class="form-group" >  
                        <label>Radicado previo</label>
                        <input type="text" data-bind="checked : correspondenciaRecibidaVO_filtro.radicado_previo" class="form-control" id="txtBuscar" placeholder=" Digite el radicado previo." >
                      </div>
                    </div>  
                  </div>  
                </div>  
                <!-- datos generales --> 

                <div class="col-lg-5"  >  
                  <div  class="panel" >
                    <div class="panel-heading">
                      <span class="panel-title">Rango de Busqueda Por Fecha</span>
                    </div>
                    <div class="panel-body" >                      
                   
                      <div class="form-group" >
                        <label>Desde</label>
                        <input type="text" class="form-control" data-bind='datePicker:correspondenciaRecibidaVO_filtro.fechaDesde ,value:correspondenciaRecibidaVO_filtro.fechaDesde' placeholder="Digite el numero de replanteo" id="fecha_inicio" >
                        <span id="valDesde" class="validationMessage" style="display:none;">(*) La fecha desde no puede ser mayor que la fecha hasta.</span>
                      </div>

                      <div class="form-group" >
                        <label>Hasta</label>
                        <input type="text" class="form-control" data-bind='datePicker:correspondenciaRecibidaVO_filtro.fechaHasta ,value: correspondenciaRecibidaVO_filtro.fechaHasta' placeholder="Digite el numero de replanteo" id="fecha_final" >
                        <span id="valHasta" class="validationMessage" style="display:none;">(*) La fecha hasta no puede ser menor que la fecha desde.</span>
                      </div>
                      
                    </div>  
                  </div>  
                </div> 
                <!-- rango de fechas -->     
            </form>         
       </div> 
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bind="click: function(){ consultar(1) }">Consultar</button>
        </div>

    </div>
  </div>
</div>
<!--Modal consulta de Correspondencia-->


<!--Modal Historial de la carta-->
<div id="modal_acciones_historial" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>

       <div class="panel-body"> 

            <ul class="icon-list">
              <li>
                <b> Radicado:</b>&nbsp;<small data-bind="html: correspondenciaRecibidaVO.radicado"></small>
              </li>
              <li>
                <b> Remitente:</b>&nbsp;<small data-bind="html: correspondenciaRecibidaVO.remitente"></small>
              </li>
              <li>
                <b> Asunto:</b>&nbsp;<small data-bind="html: correspondenciaRecibidaVO.asunto"></small>
              </li>
              <li>
                <b> Fecha radicado:</b>&nbsp;<small data-bind="html: correspondenciaRecibidaVO.fechaRecibida"></small>
              </li>
            </ul>

            <div data-bind="html: mensajeAsignados"></div>      
            <div data-bind="visible:(listado_historial_carta()!=null && listado_historial_carta().length > 0)">    
              <div class="col-lg-12" >
                <div class="table-responsive" >
                <table class="table">
                      <thead>
                    <tr> 
                      <th>Movimiento</th>
                      <th>Funcionario</th> 
                      <th>Fecha Asignacion</th>   
                      <th>Estado</th>    
                      <th>Respuesta</th>                                                    
                    </tr>
                  </thead>
                  <tbody data-bind="foreach:{data:listado_historial_carta, as:'item'}">
                    <tr>
                    <td data-bind="text:($index()+1)"></td> 
                    <td data-bind="text: item.usuario.persona.nombres+' '+item.usuario.persona.apellidos"></td>  
                    <td data-bind="text: moment(item.fechaAsignacion).format('LL  - h:mm:ss a')"></td>  
                    <td data-bind="text: item.estado.nombre"></td>  
                    <td data-bind="text: item.respuesta"></td>                
                    </tr>
                  </tbody>
                </table>
                </div>              
              </div> 
            </div>                               
       </div>     
    </div>
  </div>
</div>
<!--Modal Historial de la carta-->


<!--Modal form subir soporte-->
<div id="modal_acciones_soporte" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width:95%">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">


          <div class="col-md-7" data-bind="css : {'col-md-5':validaSoporteGrupo() == 0 ,
                                                  'col-md-4': validaSoporteGrupo() != 0} "> 
            <div  class="panel" >
              <div class="panel-heading">
                <span class="panel-title">Subir soporte de la carta</span>
              </div>
              <div class="panel-body" > 
                <form action="." method="post"  id="form-wizard">
                {% csrf_token %}  
                  <div class="form-group">  
                    <input type="file" class="note-image-input" id="archivo" name="archivo" data-bind="fileData:{value:correspondencia_soporteVO.soporte,allowedFileExtensions: ['pdf','doc','docx','zip'],elErrorContainer: '#errorBlock', removeLabel:''}"/>
                    <small id="emailHelp" class="form-text text-muted">Tipos de archivos aceptados pdf, doc, docx y zip.<br></small>
                  
                  </div>

                  <div class="form-group">
                    <input type="checkbox"  data-bind="checked: correspondencia_soporteVO.validaNombre" > &nbsp;<label>Cambiar nombre </label>
                  </div>
                  <!-- ko if: correspondencia_soporteVO.validaNombre -->
                  <div class="form-group ">
                    <label>Nombre del Soporte </label>
                    <input type="text" class="form-control"  placeholder="Digite el nombre del soporte" data-bind="value:correspondencia_soporteVO.nombre" >
                  </div>
                  <!-- /ko --> 


                </form>
                <button type="button" class="btn btn-sm btn-primary btn-block" data-bind="click:guardar_archivo" >Subir Soporte</button>
              </div>
            </div>            
          </div>
          
          <div class="col-md-7" data-bind="css : {'col-md-7':validaSoporteGrupo() == 0 ,
                                                  'col-md-4': validaSoporteGrupo() != 0} "> 
            <div  class="panel" >
              <div class="panel-heading">
                <span class="panel-title">Soportes de la carta</span>
              </div>
              <div class="panel-body" > 

                <div data-bind="html: mensajePorAsignar"></div>  

                <div class="col-lg-12" data-bind="visible:(listado_correspondencia_soportes()!=null && listado_correspondencia_soportes().length > 0)"> 
                    
                    <button type="button" class="btn btn-sm btn-primary btn-block" data-bind="click : eliminar_soportes" >Eliminar Soportes</button>

                    <div class="table-responsive">
                            <table class="table">
                          <thead>
                        <tr>
                          <th width="5%" ><input type="checkbox" data-bind="checked:checkallSoportes"></th>                    
                          <th width="20%">Soporte</th>
                          <th width="75%">Nombre</th>          
                        </tr>
                      </thead>
                      <tbody data-bind="foreach:{data:listado_correspondencia_soportes, as:'item'}">
                        <tr>
                          <td><input type="checkbox" data-bind="checked:item.eliminado"></td> 
                          <td>
                              <a data-bind="click:$root.ver_soporte" target="_blank" style="cursor:pointer;">
                                <i class="fa fa-file kv-caption-icon"></i> Documento
                              </a>
                          </td>
                          <td data-bind="text: item.nombre"></td>         
                        </tr>
                      </tbody>
                    </table>
                    </div> 
                </div>
              </div>
            </div>
          </div>
          <!-- ko if: validaSoporteGrupo()=='1' -->
          <div class="col-md-4"> 
            <div  class="panel" >
              <div class="panel-heading">
                <span class="panel-title">Soportes recibidos por sinin</span>
              </div>
              <div class="panel-body" > 

                <div data-bind="html: mensajePorAsignarSinin"></div>  

                <div class="col-lg-12" data-bind="visible:(listado_correspondencia_soportes_sinin()!=null && listado_correspondencia_soportes_sinin().length > 0)"> 
                    
                    <button type="button" class="btn btn-sm btn-primary btn-block" data-bind="click : eliminar_soportes" >Eliminar Soportes</button>

                    <div class="table-responsive">
                            <table class="table">
                          <thead>
                        <tr>
                          <th width="5%" ><input type="checkbox" data-bind="checked:checkallSoportes"></th>                    
                          <th width="20%">Soporte</th>
                          <th width="75%">Nombre</th>          
                        </tr>
                      </thead>
                      <tbody data-bind="foreach:{data:listado_correspondencia_soportes_sinin, as:'item'}">
                        <tr>
                          <td><input type="checkbox" data-bind="checked:item.eliminado"></td> 
                          <td>
                              <a data-bind="attr: {href: item.soporte}" target="_blank" style="cursor:pointer;">
                                <i class="fa fa-file kv-caption-icon"></i> Documento
                              </a>
                          </td>
                          <td data-bind="text: item.nombre"></td>         
                        </tr>
                      </tbody>
                    </table>
                    </div> 
                </div>
              </div>
            </div>
          </div>    
          <!-- /ko --> 
       </div>
       
    </div>
  </div>
</div>
<!--Modal form subir soporte-->


<!--Modal form ver soporte-->
<div id="modal_acciones_soporte_ver" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
       
          <div class="col-md-12"> 
            <div  class="panel" >
              <div class="panel-heading">
                <span class="panel-title">Soportes de la carta</span>
              </div>
              <div class="panel-body" > 

                <div data-bind="html: mensajePorAsignar"></div>  

                <div class="col-lg-12" data-bind="visible:(listado_correspondencia_soportes()!=null && listado_correspondencia_soportes().length > 0)">                     

                    <div class="table-responsive">
                            <table class="table">
                          <thead>
                        <tr>                 
                          <th width="20%">Soporte</th>
                          <th width="80%">Nombre</th>          
                        </tr>
                      </thead>
                      <tbody data-bind="foreach:{data:listado_correspondencia_soportes, as:'item'}">
                        <tr>
                          <td>
                              <a href="#" data-bind="click: $root.ver_soporte" style="cursor:pointer;">
                                <i class="fa fa-file kv-caption-icon"></i> Documento
                              </a>
                          </td>
                          <td data-bind="text: item.nombre"></td>         
                        </tr>
                      </tbody>
                    </table>
                    </div> 
                </div>
              </div>
            </div>
          </div>  

       </div>
       
    </div>
  </div>
</div>
<!--Modal form ver soporte-->


{% endblock contenido %}

{% load static %}

{%block imports %}
  <script src='{% static "js/plugins/moment/moment.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/plugins/datepicker/js/bootstrap-datetimepicker.js" %}'></script>
  <script type="text/javascript" src='{% static "js/plugins/fileInput/fileinput.js" %}'></script>
  <script type="text/javascript" src='{% static "js/ViewModels/correspondencia_recibida/correspondenciaRecibida.js" %}?v=3'></script>

  <script type="text/javascript">
    $(document).ready(function () {
      correspondencia.consultar(1);      
      /*correspondencia.consultar_funcionarios_elaboran();*/

    });  

  </script>
  <!-- END: PAGE SCRIPTS -->
{% endblock imports %}