{% extends 'page.html' %}
{% load static %}

{%block imports_css %}
 <link rel="stylesheet" type="text/css" href='{% static "css/fileInput/fileinput.min.css" %}'>
 
{% endblock imports_css %}

{% block title %}Actividades del contratista{% endblock title%}
{% block mapa %}
  <li><a href="/usuario/"><i class="glyphicon glyphicon-home"></i></a></li>
  <li><a href="{% url 'administrador_fotos.administrador_fotos' %}">Administrador de fotos</a></li>
  <li class="active">Actividades del contratista de obra</li>
{% endblock mapa %}
{% block encabezado %}<!--categoria-->{% endblock encabezado %}

{% block contenido %}

  <div class="row">
    <div class="col-lg-12">

      <strong>Macro contrato : </strong>
        <span  data-bind="cutWord:{num:35,text:'{{proyecto.mcontrato.nombre}}', verMax:'...', verMin:'...'}" ></span><br>   
      <strong>Contratista : </strong><span>{{proyecto.contrato.first.contratista.nombre}}</span><br>
      <strong>Departamento : </strong><span>{{proyecto.municipio.departamento.nombre}}</span><br>
      <strong>Municipio : </strong><span>{{proyecto.municipio.nombre}}</span><br>
      <strong>Proyecto : </strong>
        <span  data-bind="cutWord:{num:50,text:'{{proyecto.nombre}}', verMax:'...', verMin:'...'}" ></span><br>
    </div>
  </div>


  <div class="row" ><br><br>

    <div class="col-lg-12">
  
        <div class="row">

          <div class="panel" id="spy4">
            <div class="panel-heading">
              <a href="{% url 'administrador_fotos.administrador_fotos'%}" data-placement="right"  
                data-toggle="tooltip" data-original-title="Regresar al listado de proyectos">
                <i class="fa fa-arrow-left" style="font-size: 20px;"></i>
              </a> 
              <span class="panel-title"></span><span>Actividades del contratista de obra</span>

              <span data-bind="text:'- N° de Registros: ' + paginacion.totalRegistrosBuscados() + ' de ' + paginacion.total()"></span>

            </div>   

            <div class="panel-body">

              <div data-bind="html: mensaje"></div>
              <div class="table-responsive" data-bind="visible:(listado()!=null && listado().length > 0)">

                <table class="table" >
                  <thead>
                      <tr>
                        <th style="width:10%" width="10%">
                           <div class="option-group field admin-form">
                              <label class="option option-primary"  style="">
                                <input type="checkbox" data-bind="checked:checkall">
                                <span class="checkbox"></span>
                              </label>
                            </div>
                        </th>
                        <th style="width:55%">Categoria</th>
                        <th style="width:20%">Cantidad de subcategorias</th>
                        <th style="width:10%"></th>
                      </tr>
                  </thead>

                  <tbody data-bind="foreach:{data:listado, as:'item'}">
                    <tr>
                      <td> 
                          <div class="option-group field admin-form">
                            <label class="option option-primary"  style="">
                              <input type="checkbox" data-bind="checked:eliminado,value:id">
                              <span class="checkbox"></span>
                            </label>
                          </div>
                      </td> 
                      <td data-bind="text: item.categoria"></td>
                      <td data-bind="text: item.totalSubCategoria"></td>
                      <td>

                          <div class="btn-group text-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h fa-2x"></i>
                          </a>

                            <ul class="dropdown-menu" role="menu" style="left:-138px;top:19px">

                              {% if 'administrador_fotos.change_acategoria' in perms %}
                              <li>
                                <a href="#" data-bind="click:$root.consultar_por_id">
                                 Editar categoria
                                </a>
                              </li>
                              {% endif %}

                              {% if 'administrador_fotos.can_see_Subcategoria' in perms %}
                              <li>
                                <a href="#" data-bind="attr:{href:'../../../subcategoria/' + item.id +'/'+{{id_proyecto}} + '/' + {{id_contrato}}}">
                                  Subcategorias
                                </a>
                              </li>
                              {% endif %}

                            </ul>
                          </div>

                      </td>
                    </tr>
                     
                  </tbody>
                </table>

                <div id="paginacion" >
                  <div data-bind="pagination: {
                                currentPage: paginacion.pagina_actual,
                                totalCount: paginacion.total,
                                pageSize:paginacion.cantidad_por_paginas,
                                maxPages: paginacion.maxPaginas,
                                directions: paginacion.direcciones,
                                boundary: paginacion.limite,
                                text: paginacion.text }">

                  </div>
                </div>
                
              </div>

            </div>
          </div>

        </div><!--cierra row de validacion de la tabla-->

    </div><!--col-lg-12" -->
  </div><!--cierra row -->


<!--Modal-->

<div id="modal_acciones" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">

        <form action="." method="post">
        {% csrf_token %}

          <div class="form-group">
            <label>Categoria (*)</label>
              <input type="text" data-bind="value:categoriaVO.categoria" class="form-control" placeholder="Dígite la categoria"/>
          </div>

        </form>

       </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bind="click:guardar">
            <i class="fa fa-floppy-o"></i> Guardar
          </button>
        </div>

    </div>
  </div>
</div>

<!--Modal-->


<!--Loading-->
  
{% endblock contenido %}

{% load static %}

{%block imports %}

  <script src='{% static "js/plugins/accounting/accounting.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/plugins/fileInput/fileinput.js" %}'></script>
  <script type="text/javascript" src='{% static "js/ViewModels/administrador_fotos/categoria.js" %}'></script>

  <script type="text/javascript">

    $(document).ready(function () {
     
      categoria.categoriaVO.contrato_id({{id_contrato}});
      categoria.categoriaVO.proyecto_id({{id_proyecto}});
      categoria.consultar(1);//iniciamos la primera funcion
    });  

  </script>

{% endblock imports %}

