{% extends 'page.html' %}
{% load static %}

{%block imports_css %}
  <link rel="stylesheet" type="text/css" href='{% static "js/plugins/datepicker/css/bootstrap-datetimepicker.css" %}'>
{% endblock imports_css %}


{% block title %}Cambio{% endblock title%}
{% block mapa %}
  <li><a href="{% url 'usuario.index' %}"><i class="glyphicon glyphicon-home"></i></a></li>
  <li><a href="{% url 'avance_de_obra_grafico.cronograma' %}">Cronograma</a></li>
  <li><a href="{% url 'avance_de_obra_grafico.cronograma_proyecto' id_presupuesto id_proyecto %}">Cronograma de Proyecto</a></li>
  <li class="active">Cambio</li>
{% endblock mapa %}

{% block opciones_listado %}  
{% endblock opciones_listado %}

{% block busqueda %}  
{% endblock busqueda %}

{% block contenido %}

 

  <div class="row" >

<div class="col-lg-12">
  
   <div data-bind="html: mensaje"></div>   
  
  <div class="panel panel-sky" data-bind="visible:(listado()!=null && listado().length > 0)">
          <div class="panel-heading">
                <span class="panel-title">Listado de Cambio <span data-bind="text:'- N° de Registros: ' + paginacion.totalRegistrosBuscados() + ' de ' + paginacion.total()"></span></span>
          </div>
          <div class="panel-body">

            <div class="row">               

                  <div class="col-lg-4">                      
                       <Strong>Presupuesto: {{cronograma.presupuesto.nombre}} </Strong><br><br>
                       <Strong>Proyecto:  {{cronograma.presupuesto.proyecto.nombre}}</Strong><br><br>
                       <Strong>Esquema: {{cronograma.presupuesto.esquema.nombre}}</Strong><br><br>
                       <Strong>Cronograma: {{cronograma.nombre}} </Strong><br><br>
                  </div>
              
            </div>

            <br><br>

          <div class="table-responsive">
                <table class="table">
              <thead>
            <tr> 
              <th>Nombre</th>
              <th>Fecha</th>
              <th>Solicitante</th>
              <th>Motivo</th>
              <th>Estado</th>
              <th></th>
            </tr>
          </thead>
          <tbody data-bind="foreach:{data:listado, as:'item'}">
            <tr>
              <td data-bind="text: item.nombre"></td>
              <td data-bind="text: item.fecha_format"></td>
               <td data-bind="text: item.solicitante.persona.nombres+' '+item.solicitante.persona.apellidos"></td>
              <td data-bind="cutWord:{num:80,text:item.motivo, verMax:'...', verMin:'...'}" ></td>
              <td data-bind="text: item.estado.nombre"></td>
                <td>
                 <div class="btn-group text-right">
                   <a href="#" data-bind="click:$parent.abrir_detalle_cambio"><i class="fa fa-book fa-2x" >
                      </i></a>
                  </div>
              </td>  
            </tr>
          </tbody>
        </table>
        </div>
        
          
        
           <div id="paginacion" >
                      <div data-bind="pagination: {
                                   currentPage: paginacion.pagina_actual,
                                   totalCount: paginacion.total,
                                   pageSize:paginacion.cantidad_por_paginas,
                                   maxPages: paginacion.maxPaginas,
                                   directions: paginacion.direcciones,
                                   boundary: paginacion.limite,
                                   text: paginacion.text }">

                      </div>
                  </div>

                </div>
  </div>

  </div>

</div>


<input type="hidden" id="id_empresa" value="{{user.usuario.empresa.id}}" class="form-control" > 
<input type="hidden" id="id_proyecto" value="{{id_proyecto}}" class="form-control" >  
<!--Modal-->

  <!--Loading-->
  

{% endblock contenido %}

{% load static %}

{%block imports %}
    <script src='{% static "js/plugins/globalize/globalize.min.js" %}'></script>
    <script src='{% static "js/plugins/moment/moment.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/plugins/datepicker/js/bootstrap-datetimepicker.js" %}'></script>
    <script type="text/javascript" src='{% static "js/ViewModels/avanceObraGrafico/cambio.js" %}'></script>
{% endblock imports %}