{% extends 'page.html' %}
{% load static %}

{%block imports_css %}
  <link rel="stylesheet" type="text/css" href='{% static "js/plugins/datepicker/css/bootstrap-datetimepicker.css" %}'>
{% endblock imports_css %}


{% block title %}Diagrama Grannt{% endblock title%}
{% block mapa %}
  <li><a href="{% url 'usuario.index' %}"><i class="glyphicon glyphicon-home"></i></a></li>
  <li><a href="{% url 'avance_de_obra_grafico.presupuesto' %}">Presupuesto</a></li>
  <li><a href="{% url 'avance_de_obra_grafico.presupuesto_encabezado' id_proyecto %}">Encabezado Presupuesto</a></li>
  <li class="active">Diagrama Grannt</li>
{% endblock mapa %}


{% block contenido %}

 

  <div class="row" >

<div class="col-lg-12">
  
   <div data-bind="html: mensaje"></div>   
  
  <div class="panel panel-sky" data-bind="visible:(listado()!=null && listado().length > 0)">
          <div class="panel-heading">
                <span class="panel-title">Listado de Diagrama Grannt <span data-bind="text:'- N° de Registros: ' + paginacion.totalRegistrosBuscados() + ' de ' + paginacion.total()"></span></span>
          </div>
          <div class="panel-body">

          <div class="table-responsive">
                <table class="table">
              <thead>
            <tr>                          
              <th>                
                <div class="option-group field admin-form">
                  <label class="option option-primary"  style="">
                    <input type="checkbox" data-bind="checked:checkall">
                    <span class="checkbox"></span>
                  </label>
                </div> 
              </th>
              <th>Hito</th>
              <th>Actividad</th>
              <th>Fecha de Inicio</th>
              <th>Fecha Final</th>
              <th></th>
            </tr>
          </thead>
          <tbody data-bind="foreach:{data:listado, as:'item'}">
            <tr>
              <td>                                 
                <div class="option-group field admin-form">
                  <label class="option option-primary"  style="">
                    <input type="checkbox" data-bind="checked:eliminado,value:id">
                    <span class="checkbox"></span>
                  </label>
                </div>
              </td> 
              <td data-bind="text: item.nombre_padre"></td>
              <td data-bind="text: item.actividad.nombre"></td>
               <td data-bind="text: item.fechaInicio"></td>
              <td data-bind="text: item.fechaFinal"></td>
               <td>
                 <div class="btn-group text-right">
                   <a href="#" data-bind="click:$parent.consultar_por_id"><i class="fa fa-pencil-square-o fa-2x">
                      </i></a>
                  </div>
              </td> 
            </tr>
          </tbody>
        </table>
        </div>
        
          
        
           <div id="paginacion" >
                      <div data-bind="pagination: {
                                   currentPage: paginacion.pagina_actual,
                                   totalCount: paginacion.total,
                                   pageSize:paginacion.cantidad_por_paginas,
                                   maxPages: paginacion.maxPaginas,
                                   directions: paginacion.direcciones,
                                   boundary: paginacion.limite,
                                   text: paginacion.text }">

                      </div>
                  </div>

                </div>
  </div>

  </div>

</div>


<input type="hidden" id="id_empresa" value="{{user.usuario.empresa.id}}" class="form-control" >  
<input type="hidden" id="id_presupuesto" value="{{id_presupuesto}}" class="form-control" >  


<!--Modal-->

<div id="modal_acciones" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
        <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
       

          <div class="form-group">
            <label>Capitulo(*)</label>
            <select class="form-control" data-bind="value:id_capitulo">
                      <option value="0">[Seleccione..]</option>
                       {% for item2 in capitulos %}
                        <option value="{{ item2.id }}">{{ item2.nombre }}</option>
                      {% endfor %} 
            </select>          
         </div>

         <div class="form-group">
            <label>Actividad(*)</label>
            <select class="form-control" data-bind="value:diagramaVO.actividad_id">
                      <option value="">[Seleccione..]</option>
                        <!-- ko foreach: listado_actividades -->
                          <option data-bind="value:id,text:nombre"></option>
                       <!-- /ko -->
            </select>          
         </div>


         <div class="form-group">
                <label>Fecha Inicio(*)</label>

                  <div class="input-group date" id='datetimepicker2'>
                   <input  type="text" class="form-control" data-bind="datePicker:diagramaVO.fechaInicio,value:diagramaVO.fechaInicio"  onkeypress="return false">
                    <label for="fecha_nacimiento" class="input-group-addon cursor"><i class="fa fa-calendar" ></i>
                    </label>

                  </div>  

                </div> 


                <div class="form-group">
                <label>Fecha Final(*)</label>

                     <div class="input-group date" id='datetimepicker2'>
                   <input  type="text" class="form-control" data-bind="datePicker:diagramaVO.fechaFinal,value:diagramaVO.fechaFinal"  onkeypress="return false">
                    <label for="fecha_nacimiento" class="input-group-addon cursor"><i class="fa fa-calendar" ></i>
                    </label>

                  </div>   
           </div>




         <div class="modal-footer">

          <button type="button" class="btn btn-primary" data-bind="click:guardar">Guardar</button>
        </div>   
        </form>
    </div>
  </div>
</div>
</div>


  <!--Loading-->
  

{% endblock contenido %}

{% load static %}

{%block imports %}
    <script src='{% static "js/plugins/globalize/globalize.min.js" %}'></script>
    <script src='{% static "js/plugins/moment/moment.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/plugins/datepicker/js/bootstrap-datetimepicker.js" %}'></script>
    <script type="text/javascript" src='{% static "js/ViewModels/avanceObraGrafico/diagrama.js" %}'></script>
{% endblock imports %}