{% extends 'page.html' %}
{% load static %}

{%block imports_css %}
  <link rel="stylesheet" type="text/css" href='{% static "js/plugins/datepicker/css/bootstrap-datetimepicker.css" %}'>
{% endblock imports_css %}


{% block title %}Presupuesto{% endblock title%}
{% block mapa %}
  <li><a href="{% url 'usuario.index' %}"><i class="glyphicon glyphicon-home"></i></a></li>
  <li><a href="{% url 'avance_de_obra_grafico.presupuesto' %}">Presupuesto</a></li>
  <li class="active">Encabezado Presupuesto</li>
{% endblock mapa %}



 {% block opciones_listado %}
        {% if app in perms %}
          {% if app|add:'.add_'|add:model in perms%}        
            <li>
              <a href="#">
                 <i class="fa fa-plus" data-bind="click:abrir_modal" style="font-size: 20px;"></i>
              </a>
            </li>
          {% endif %}
        {% endif %}
        {% if app in perms %}
          {% if app|add:'.delete_'|add:model in perms%}   
            <li>
              <a href="#">
                  <i class="fa fa-trash" data-bind="click:eliminar" style="font-size: 20px;"></i>
              </a>
            </li>
          {% endif %}
        {% endif %}

{% endblock opciones_listado %} 

{% block contenido %}

 

  <div class="row" >

<div class="col-lg-12">
  
   <div data-bind="html: mensaje"></div>   
  
  <div class="panel panel-sky" data-bind="visible:(listado()!=null && listado().length > 0)">
          <div class="panel-heading">
                <span class="panel-title">Listado de Presupuesto <span data-bind="text:'- N° de Registros: ' + paginacion.totalRegistrosBuscados() + ' de ' + paginacion.total()"></span></span>
          </div>
          <div class="panel-body">
           <Strong>Proyecto:  {{nombre_proyecto}}</Strong><br><br>
          <div class="table-responsive">
                <table class="table">
              <thead>
            <tr>                          
              <th>                
                <div class="option-group field admin-form">
                  <label class="option option-primary"  style="">
                    <input type="checkbox" data-bind="checked:checkall">
                    <span class="checkbox"></span>
                  </label>
                </div> 
              </th> 
              <th>Nombre de Presupuesto</th>
              <th>Hitos/Actividad</th>
              <th></th>
            </tr>
          </thead>
          <tbody data-bind="foreach:{data:listado, as:'item'}">
            <tr>
              <td>                                 
                <div class="option-group field admin-form">
                  <label class="option option-primary"  style="">
                    <input type="checkbox" data-bind="checked:eliminado,value:id">
                    <span class="checkbox"></span>
                  </label>
                </div>
              </td> 
              <td data-bind="text: item.nombre"></td>
              <td data-bind="text: item.esquema.nombre"></td>
               <td>
                 <div class="btn-group text-right" >
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-ellipsis-h fa-2x">
                      </i></a>
                   <ul class="dropdown-menu" role="menu" style="left:-148px;top:20px;">
                           <li>
                              <a href="#" data-bind="click:$root.consultar_por_id">Editar</a>
                           </li>
                       <li>
                          <a href="#" data-bind="click:$root.ver_detalle_presupuesto">Ver Detalle</a>
                        </li>
                        <li>
                          <a href="#" data-bind="click:$root.detalle_presupuesto">Presupuesto</a>
                        </li>
                        <li>
                          <a href="#" data-bind="click:$root.diagrama_gramh">Diagrama Grannt</a>
                        </li>
                    </ul>
                  </div>
              </td> 
            </tr>
          </tbody>
        </table>
        </div>
        
          
        
           <div id="paginacion" >
                      <div data-bind="pagination: {
                                   currentPage: paginacion.pagina_actual,
                                   totalCount: paginacion.total,
                                   pageSize:paginacion.cantidad_por_paginas,
                                   maxPages: paginacion.maxPaginas,
                                   directions: paginacion.direcciones,
                                   boundary: paginacion.limite,
                                   text: paginacion.text }">

                      </div>
                  </div>

                </div>
  </div>

  </div>

</div>


<input type="hidden" id="id_empresa" value="{{user.usuario.empresa.id}}" class="form-control" >  
<!--Modal-->

<div id="modal_acciones" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
        <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
         <div class="form-group">
            <label>Nombre(*)</label>
            <input type="text" data-bind="value:presupuestoVO.nombre,enable:habilitar_campos" class="form-control" >           
        </div>


          <div class="form-group">
            <label>Esquema(*)</label>
            <select class="form-control" data-bind="value:presupuestoVO.esquema_id,enable:habilitar_campos">
                      <option value="0">[Seleccione..]</option>
                       {% for item2 in esquema %}
                        <option value="{{ item2.id }}">{{ item2.nombre }}</option>
                      {% endfor %} 
            </select>          
         </div>


            <input type="hidden" id="id_proyecto" value="{{proyecto_id}}" class="form-control" >
         <!--ko if: habilitar_campos()==true -->    
        <div class="modal-footer">

          <button type="button" class="btn btn-primary" data-bind="click:guardar">Guardar</button>
        </div> 
        <!--/ko-->       
        </form>
    </div>
  </div>
</div>
</div>



  <!--Loading-->
  

{% endblock contenido %}

{% load static %}

{%block imports %}
    <script src='{% static "js/plugins/globalize/globalize.min.js" %}'></script>
    <script src='{% static "js/plugins/moment/moment.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/plugins/datepicker/js/bootstrap-datetimepicker.js" %}'></script>
    <script type="text/javascript" src='{% static "js/ViewModels/avanceObraGrafico/presupuesto_encabezado.js" %}'></script>
{% endblock imports %}