{% extends 'page.html' %}
{% load static %}

{% block title %}Regla de Estado{% endblock title%}
{% block mapa %}
  <li><a href="{% url 'usuario.index' %}"><i class="glyphicon glyphicon-home"></i></a></li>
  <li><a href="{% url 'avance_de_obra.administrar_capitulos' %}">Esquema de Capitulos</a></li>
  <li class="active">Regla de Estado</li>
{% endblock mapa %}

 {% block opciones_listado %}
        {% if app in perms %}
          {% if app|add:'.add_'|add:model in perms%}        
            <li>
              <a href="#">
                 <i class="fa fa-plus" data-bind="click:abrir_modal" style="font-size: 20px;"></i>
              </a>
            </li>
          {% endif %}
        {% endif %}
        {% if app in perms %}
          {% if app|add:'.delete_'|add:model in perms%}   
            <li>
              <a href="#">
                  <i class="fa fa-trash" data-bind="click:eliminar" style="font-size: 20px;"></i>
              </a>
            </li>
          {% endif %}
        {% endif %}

{% endblock opciones_listado %} 

{% block contenido %}

 

  <div class="row" >

<div class="col-lg-12">
  
   <div data-bind="html: mensaje"></div>   
     <input type="hidden" id="id_esquema" value="{{id_esquema}}" class="form-control" >
  <div class="panel panel-sky" data-bind="visible:(listado()!=null && listado().length > 0)">
          <div class="panel-heading cursor">                   
                     <span class="panel-title"> Listado de Regla de Estado</span>

          </div>
          <div class="panel-body">
          <div class="table-responsive">
                <table class="table">
              <thead>
            <tr> 
              <th>                
                <div class="option-group field admin-form">
                  <label class="option option-primary"  style="">
                    <input type="checkbox" data-bind="checked:checkall">
                    <span class="checkbox"></span>
                  </label>
                </div> </th>
              <th>Estado</th>
              <th>Limite</th>
              <th></th>
            </tr>
          </thead>     
          <tbody data-bind="foreach: listado">
            <tr>
               <td>                                  
                <div class="option-group field admin-form">
                  <label class="option option-primary"  style="">
                    <input type="checkbox" data-bind="checked:eliminado,value:id">
                    <span class="checkbox"></span>
                  </label>
                </div></td> 
              <td data-bind="text: nombre"></td>
              <td data-bind="text: limite"></td>
                <td>
                 <div class="btn-group text-right" >
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-ellipsis-h fa-2x">
                      </i></a>
                   <ul class="dropdown-menu" role="menu" style="left:-148px;top:20px;">
                           <li>
                              <a href="#" data-bind="click:$root.consultar_por_id">Editar</a>
                           </li>
                       <li>
                          <a href="#" data-bind="click:$root.consultar_por_id_detalle">Detalle</a>
                        </li>
                    </ul>
                  </div>
              </td>     
            </tr>
          </tbody>
        </table>
        </div>
        
  </div>

  </div>

</div>



<!--Modal-->

<div id="modal_acciones" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
        <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}

         <div class="form-group">
            <label>Nombre(*)</label> 
            <input type="text" class="form-control" data-bind="value:reglaVO.nombre,enable:habilitar_campos">        
        </div>

        <div class="form-group">
              <label>Operador(*)</label>
             <div class="input-group">
                     <select class="form-control" data-bind="value:reglaVO.operador,enable:habilitar_campos">
                      <option value="0">[Seleccione..]</option>
                      <option value="1">=</option>
                      <option value="2"><=</option>
                    </select>    
             </div>
             </div>

        <div class="form-group">
            <label>Limite(*)</label> 
            <input type="text" class="form-control" data-bind="value:reglaVO.limite,onlyNumber:reglaVO.limite,enable:habilitar_campos">        
        </div>    

         <div class="form-group">
            <label>Anterior</label>
            <select class="form-control" data-bind="value:reglaVO.regla_anterior">
                      <option value="0">[Seleccione..]</option>
                       <!--ko foreach:{data:listado_regla, as:'item'}--> 
                        <option data-bind="value:item.id,text:item.nombre"></option>
                      <!--/ko-->
            </select>          
        </div>
 

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bind="click:guardar" >Guardar</button>
        </div>       
        </form>
    </div>
  </div>
</div>
</div>



<!--Modal-->


  <!--Loading-->
  

{% endblock contenido %}

{% load static %}

{%block imports %}
    <script src='{% static "js/plugins/globalize/globalize.min.js" %}'></script>
    <script src='{% static "js/plugins/moment/moment.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/plugins/datepicker/js/bootstrap-datetimepicker.js" %}'></script>
    <script type="text/javascript" src='{% static "js/ViewModels/avanceObraGrafico/regla_estado.js" %}'></script>
{% endblock imports %}