{% extends 'page.html' %}
{% load static %}

{%block imports_css %}
  <link rel="stylesheet" type="text/css" href='{% static "js/plugins/datepicker/css/bootstrap-datetimepicker.css" %}'>
{% endblock imports_css %}


{% block title %}Presupuesto{% endblock title%}
{% block mapa %}
  <li><a href="{% url 'usuario.index' %}"><i class="glyphicon glyphicon-home"></i></a></li>
  <li><a href="{% url 'avance_de_obra_grafico2.cronograma' %}">Cronograma</a></li>
  <li><a href="{% url 'avance_de_obra_grafico2.cronograma_proyecto' proyecto_id %}">Cronograma de Proyecto</a></li>
  <li class="active">Presupuesto</li>
{% endblock mapa %}

{% block opciones_listado %}  
 {% if app in perms %}
          {% if app|add:'.add_'|add:model in perms%}        
            <li>
              <a href="#">
                 <i class="fa fa-plus" data-bind="click:abrir_modal" style="font-size: 20px;"></i>
              </a>
            </li>
          {% endif %}
        {% endif %}
        {% if app in perms %}
          {% if app|add:'.delete_'|add:model in perms%}   
            <li>
              <a href="#">
                  <i class="fa fa-trash" data-bind="click:eliminar" style="font-size: 20px;"></i>
              </a>
            </li>
          {% endif %}
        {% endif %}
{% endblock opciones_listado %}

{% block contenido %}

 

  <div class="row" >

<div class="col-lg-12">
  
  
  <div class="panel panel-sky" >
          <div class="panel-heading">
                <span class="panel-title">
                  <a href="{% url 'avance_de_obra_grafico2.cronograma_proyecto' proyecto_id%}" data-placement="right"    
                    data-toggle="tooltip" data-original-title="Regresar al cronograma">
                    <i class="fa fa-arrow-left" style="font-size: 20px;"></i>
                  </a>
                  Listado de Presupuesto<span data-bind="text:'- N° de Registros: ' + paginacion.totalRegistrosBuscados() + ' de ' + paginacion.total()"></span></span>
               
          </div>
          <div data-bind="html: mensaje"></div>  
          <div class="panel-body" data-bind="visible:(listado()!=null && listado().length > 0)">
           <Strong>Proyecto:  {{cronograma.proyecto.nombre}}</Strong><br><br>
           <Strong>Cronograma:  {{cronograma.nombre}}</Strong><br><br>

          <div class="table-responsive">
                <table class="table">
              <thead>
            <tr>
              <th width="5">  
                <div class="option-group field admin-form">
                  <label class="option option-primary"  style="">
                    <input type="checkbox" data-bind="checked:checkall">
                    <span class="checkbox"></span>
                  </label>
                </div> 
              </th>
              <th>Presupuesto</th>
              <th>Presupuesto Cerrado</th>
              <th></th>
            </tr>
          </thead>
          <tbody data-bind="foreach:{data:listado, as:'item'}">
            <tr>
               <td width="5">                                                 
                <div class="option-group field admin-form">
                  <label class="option option-primary"  style="">
                    <input type="checkbox" data-bind="checked:eliminado,value:id">
                    <span class="checkbox"></span>
                  </label>
                </div>
               </td> 
              <td data-bind="text: item.nombre"></td>
               <!--ko if: item.cerrar_presupuesto==false --> 
                <td> <i class="fa fa-close" aria-hidden="true" style="color:red"></i></td>
              <!--/ko-->
              <!--ko if: item.cerrar_presupuesto==true --> 
                <td ><i class="fa fa-check" aria-hidden="true" style="color:green"></i></td>
              <!--/ko-->
               <td width="10">
                 <div class="btn-group text-right" >
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-ellipsis-h fa-2x">
                      </i></a>
                   <ul class="dropdown-menu" role="menu" style="left:-148px;top:20px;">
                           <li>
                              <a href="#" data-bind="click:$root.abrir_apoyo_con_gps">Apoyos</a>
                           </li>
                          <li>
                              <a href="#" data-bind="click:$root.abrir_detalle_presupuesto">Detalle de Presupuesto</a>
                           </li>
                            

                             <li>
                              <a href="#" data-bind="click:$root.cantidad_apoyo">Cantidad por Apoyo</a>
                           </li> 

                            <li>
                              <a href="#" data-bind="click:$root.reporte_trabajo">Reporte de Trabajo</a>
                           </li>                                                  
                            <li>
                              <a href="#" data-bind="click:$root.reformado">Reformado</a>
                           </li>                            

                            <li>
                              <a href="#" data-bind="click:$root.seguimiento_cantidades">Seguimiento a cantidades</a>
                           </li>

                           <li>
                              <a href="#" data-bind="click:$root.seguimiento_materiales">Seguimiento a materiales</a>
                           </li>

                           <li>
                            <a href="#" data-bind="click:$root.liquidacionuucc">Liquidacion de uucc</a>
                          </li>                          
                      </ul>
                  </div>
              </td> 
            </tr>
          </tbody>
        </table>
        </div>
        
          
        
           <div id="paginacion" >
                      <div data-bind="pagination: {
                                   currentPage: paginacion.pagina_actual,
                                   totalCount: paginacion.total,
                                   pageSize:paginacion.cantidad_por_paginas,
                                   maxPages: paginacion.maxPaginas,
                                   directions: paginacion.direcciones,
                                   boundary: paginacion.limite,
                                   text: paginacion.text }">

                      </div>
                  </div>

                </div>
  </div>

  </div>

</div>


<input type="hidden" id="id_empresa" value="{{user.usuario.empresa.id}}" class="form-control" >  
<input type="hidden" id="cronograma_id" value="{{cronograma_id}}" class="form-control" >  

  <!--Loading-->


  <!--Modal-->

<div id="modal_acciones" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
        <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
         <div class="form-group">
            <label>Nombre(*)</label>
            <input type="text" data-bind="value:presupuestoVO.nombre,enable:habilitar_campos" class="form-control" >           
        </div>



            <input type="hidden" id="id_proyecto" value="{{id_proyecto}}" class="form-control" >
         <!--ko if: habilitar_campos()==true -->    
        <div class="modal-footer">

          <button type="button" class="btn btn-primary" data-bind="click:guardar">Guardar</button>
        </div> 
        <!--/ko-->       
        </form>
    </div>
  </div>
</div>
</div>

  

{% endblock contenido %}

{% load static %}

{%block imports %}
    <script src='{% static "js/plugins/globalize/globalize.min.js" %}'></script>
    <script src='{% static "js/plugins/moment/moment.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/plugins/datepicker/js/bootstrap-datetimepicker.js" %}'></script>
    <script type="text/javascript" src='{% static "js/ViewModels/avanceObraGrafico2/presupuesto.js" %}?cache=2'></script>
{% endblock imports %}