{% extends 'page.html' %}
{% load static %}

{%block imports_css %}
  <link rel="stylesheet" type="text/css" href='{% static "js/plugins/datepicker/css/bootstrap-datetimepicker.css" %}'>
{% endblock imports_css %}


{% block title %}Reformado Detalle{% endblock title%}
{% block mapa %}
  <li><a href="{% url 'avance_de_obra_grafico2.reformado' presupuesto_id %}">Reformado</a></li>  
  <li class="active">Reformado Detalle</li>
{% endblock mapa %}
{% block opciones_listado %}  
 {% if app in perms %}
          <!-- {% if app|add:'.add_'|add:model in perms%}        
            <li>
              <a href="#">
                 <i class="fa fa-plus" data-bind="click:abrir_modal" style="font-size: 20px;"></i>
              </a>
            </li>
          {% endif %}
        {% endif %} -->
        <!-- {% if app in perms %}
          {% if app|add:'.delete_'|add:model in perms%}   
            <li>
              <a href="#">
                  <i class="fa fa-trash" data-bind="click:eliminar" style="font-size: 20px;"></i>
              </a>
            </li>
          {% endif %}
        {% endif %} -->

          <!-- <li>
              <a href="#" data-bind="click:abrir_grafico">
                  <i class="fa fa-area-chart" style="font-size: 20px;"></i>
              </a>
            </li> -->
{% endblock opciones_listado %}

{% block contenido %}

 

  <div class="row" >

<div class="col-lg-12">
  
  
  <div class="panel panel-sky" >
          <div class="panel-heading">
                <span class="panel-title">
                  <a href="{% url 'avance_de_obra_grafico2.reformado' presupuesto_id  %}" data-placement="right" 
                    data-toggle="tooltip" data-original-title="Regresar al reformado">
                    <i class="fa fa-arrow-left" style="font-size: 20px;"></i>
                  </a>
                  Listado de Reformado Detalle<span data-bind="text:'- N° de Registros: ' + paginacion.totalRegistrosBuscados() + ' de ' + paginacion.total()"></span></span>
               
          </div>
          <div data-bind="html: mensaje"></div>
          <div class="panel-body" data-bind="visible:(listado()!=null && listado().length > 0)">
          <Strong>Codigo Reformado:  {{reformado.id}}</Strong><br><br>

          <div class="table-responsive">
                <table class="table">
              <thead>
            <tr>
              <th>Apoyo</th>
              <th>Codigo UUCC</th>
              <th>Descripcion UUCC</th>
              <th>Cantidad Anterior</th>    
              <th>Cantidad Final</th>    
              <th>Diferencia</th>    
            </tr>
          </thead>
          <tbody data-bind="foreach:{data:listado, as:'item'}">
            <tr>
              <td data-bind="text: item.apoyo.nombre"></td>
              <td data-bind="text: item.codigo_uucc"></td>
              <td data-bind="text: item.descripcion_uucc"></td>              
              <td data-bind="text: item.cantidad_anterior"></td>  
              <td data-bind="text: item.cantidad_final"></td>  
              <td data-bind="text: item.diferencia"></td>                 
            </tr>
          </tbody>
        </table>
        </div>
        
          
        
           <div id="paginacion" >
                      <div data-bind="pagination: {
                                   currentPage: paginacion.pagina_actual,
                                   totalCount: paginacion.total,
                                   pageSize:paginacion.cantidad_por_paginas,
                                   maxPages: paginacion.maxPaginas,
                                   directions: paginacion.direcciones,
                                   boundary: paginacion.limite,
                                   text: paginacion.text }">

                      </div>
                  </div>

                </div>
  </div>

  </div>

</div>




<input type="hidden" id="reformado_id" value="{{reformado.id}}" class="form-control" >  


  <!--Loading-->


  <!--Modal-->

<div id="modal_acciones" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
        <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}


        <div class="form-group">
            <label>Usuario de Revision</label>
            <select class="form-control" data-bind="value:reporteVO.usuario_aprueba_id">
                      <option value="">[Seleccione..]</option>
                       {% for item in Usuarios %}
                        <option value="{{ item.id }}">
                          {{ item.nombres }} {{item.apellidos}} - {{item.nombreEmpresaAbreviatura}}
                        </option>
                      {% endfor %} 
            </select>          
        </div>

        
        <div class="form-group">
                <label>Fecha Trabajo(*)</label>

                  <div class="input-group date" id='datetimepicker2'>
                   <input  type="text" class="form-control" data-bind="datePicker:reporteVO.fechaTrabajo,value:reporteVO.fechaTrabajo"  onkeypress="return false">
                    <label for="fecha_nacimiento" class="input-group-addon cursor"><i class="fa fa-calendar" ></i>
                    </label>

                  </div>  

                </div> 


                <div class="form-group">
                 <div class="option-group field admin-form">
                  <label class="option option-primary"  style="">
                    <input type="checkbox" data-bind="checked:reporteVO.sinAvance">
                    <span class="checkbox"></span> Sin Avance
                  </label>
                </div> 
              </div>

              <!--ko if: habilitar_motivo()==true --> 
              <label>Motivo del Sin Avance(*)</label>
               <div class="form-group">
            <textarea class="form-control" rows="5" data-bind="value:reporteVO.motivoSinAvance" ></textarea>
          </div>
                           <!--/ko-->



            <input type="hidden" id="id_proyecto" value="{{id_proyecto}}" class="form-control" >
         <!--ko if: habilitar_campos()==true -->    
        <div class="modal-footer">

          <button type="button" class="btn btn-primary" data-bind="click:guardar">Guardar</button>
        </div> 
        <!--/ko-->       
        </form>
    </div>
  </div>
</div>
</div>


 <!--Modal-->

<div id="modal_sin_avance" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
        <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
      
              <label>Motivo del Sin Avance</label>
               <div class="form-group">
            <textarea class="form-control" rows="5" data-bind="text:mensaje_sin_avance" disabled="true"></textarea>
          </div>

          
        <div class="modal-footer">

          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        </div>    
        </form>
    </div>
  </div>
</div>
</div>


 <!--Modal-->

<div id="modal_rechazo" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
        <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
                        <ul>
                        <!--ko if: listado_rechazo().length > 0 -->
                         <!-- ko foreach: listado_rechazo -->
                               <li> <span style="font-size:15px;" data-bind="text:motivoRechazo"></span><br>
                                <span style="font-size:11px;" data-bind="text:fecha_format"></span></li>
                          <!-- /ko -->                          
                         <!-- /ko -->

                         </ul>
          
        <div class="modal-footer">

          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        </div>    
        </form>
    </div>
  </div>
</div>
</div>
  

{% endblock contenido %}

{% load static %}

{%block imports %}
    <script src='{% static "js/plugins/globalize/globalize.min.js" %}'></script>
    <script src='{% static "js/plugins/moment/moment.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/plugins/datepicker/js/bootstrap-datetimepicker.js" %}'></script>
    <script type="text/javascript" src='{% static "js/ViewModels/avanceObraGrafico2/reformadodetalle.js" %}'></script>
{% endblock imports %}