
<!--ko foreach:{ data:listado_tipo_pago_recurso, as:'item'} -->
<i  data-bind="css : item.icono+' ' ,style:{color:item.color}"></i><span data-bind="text: item.nombre+';'"></span>

<!--/ko-->
<br>

<div class="table-responsive">


  <div class="row">
    <div class="panel-heading" style="padding:0;">
      <span class="panel-title"></span><span>Consulta de giros</span>
      <span data-bind="text:'- N° de Registros: ' + paginacion.totalRegistrosBuscados() + ' de ' + paginacion.total()"></span>

      <span class="panel-controls">
        <a  data-placement="top"  data-toggle="tooltip" title="" data-original-title="Filtrar giros" data-bind="click:filtrar_consultar_modificar_modal" data-toggle="modal" style="cursor:pointer;">
          <i id='iconoFiltro' class="fa fa-filter fa-2x"></i>
        </a>
        {% if 'giros.can_see_actualizar_tipo_pago' in perms %}
        <a  data-placement="top"  data-toggle="tooltip" title="" data-original-title="Actualizar forma de pago" data-bind="click:abrir_modal_forma_pago" data-toggle="modal" style="cursor:pointer;">
          <i class="fa fa-exchange fa-2x"></i>
        </a>
        {% endif %}

      </span>
   

    </div><!--cierra panel-heading-->
 </div><!--cierra row-->

  <div class="panel-body">
    <div data-bind="html: mensaje"></div>  

    <div class="row" data-bind="visible:(listado()!=null && listado().length > 0)">
        <table class="table">
                              
          <thead>
                <tr>
                    <th>
                        <div class="option-group field admin-form">
                          <label class="option option-primary"  style="">
                            <input type="checkbox" data-bind="checked:checkall">
                            <span class="checkbox"></span>
                          </label>
                        </div>
                    </th>
                    <th></th>
                    <th>Contrato</th>
                    <th>Nombre del giro</th>
                    <th>Valor total del anticipo</th>
                    <th></th>
                </tr>
          </thead>
          <tbody data-bind="foreach:{data:listado, as:'item'}">
                  <tr>
                      <td>
                          <div class="option-group field admin-form">
                            <label class="option option-primary"  style="">
                              <input type="checkbox" data-bind="checked:eliminado,value:id">
                              <span class="checkbox"></span>
                            </label>
                          </div> 
                      </td> 
                      <td>                        
                        <i  data-bind="css : item.pago_recurso.icono+' ' ,style:{color:item.pago_recurso.color}"></i>
                      </td>
                      <td data-bind="cutWord:{num:25,text:item.contrato.nombre, verMax:'...', verMin:'...'}"></td>
                      <td data-bind="text: item.nombre.nombre"></td>
                      <td data-bind="text: formatMoney(item.suma_detalle)"></td>
                      <td>
                          <div class="btn-group text-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h fa-2x"></i>
                            </a>

                            <ul class="dropdown-menu" role="menu" style="left:-148px;top:20px;">

                              {% if 'giros.change_dencabezadogiro' in perms %}
                              <li>
                                <a href="#" data-bind="click:$root.consultar_por_id">
                                  Editar
                                </a>
                              </li>
                              {% endif %}

                              {% if 'giros.can_see_detalle' in perms %}
                              <li>
                                <a href="#" data-bind="attr:{href:'../detalle_giro/' + item.id +'/'+item.nombre.contrato.id +'/'+item.contrato.id}">
                                  Transacciones
                                </a>
                              </li>
                              {% endif %}

                              <li>
                                <a href="#" data-bind="click:$root.ver_mas_detalle">
                                  Detalle encabezado
                                </a>
                              </li>

                               <li>
                                <a href="#" data-bind="click:$root.consultarPoliza">
                                  Polizas Asociadas
                                </a>
                              </li>

                              {% if 'giros.can_see_reporte' in perms %}
                              <li>
                                <a href="#" data-bind="click:$root.reporte_de_giro">
                                  Reporte
                                </a>
                              </li>
                              {% endif %}

                              {% if 'giros.can_see_seguimiento' in perms %}
                              <li>
                                <a href="#" data-bind="click:$root.consultar_idProcesoRelacion">
                                   Seguimiento del giro
                                </a>
                              </li>
                              {% endif %}


                              {% if 'giros.can_see_disparar_flujo' in perms %}
                              <li>
                                <!-- ko if: item.disparar_flujo==0 -->
                                <a href="#" data-bind="click:$root.actualizar_disparar_flujo_activo">
                                   Disparar flujo
                                </a>
                                <!-- /ko -->
                                <!-- ko ifnot: item.disparar_flujo==0 -->
                                <a href="#" data-bind="click:$root.actualizar_disparar_flujo_inactivo">
                                   Detener flujo
                                </a>
                                <!-- /ko -->
                              </li>
                              {% endif %}

                            </ul>
                          </div>
                      </td>          
                  </tr>
          </tbody>
        </table>

        <div id="paginacion" >
          <div data-bind="pagination: {
                      currentPage: paginacion.pagina_actual,
                      totalCount: paginacion.total,
                      pageSize:paginacion.cantidad_por_paginas,
                      maxPages: paginacion.maxPaginas,
                      directions: paginacion.direcciones,
                      boundary: paginacion.limite,
                      text: paginacion.text }">

          </div>
        </div>

    </div><!--cierra row -->
  </div><!-- cierra panel body-->


</div><!--cierra class responsive-->

 <!--Modal filtrar tabla modificar y consultrar-->

  <div id="modal_filtro_giro" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 30px;font-weight: bold;"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                  <label>Macrocontrato</label>

                    <select class="form-control" id="mcontrato_filtro" name="mcontrato_filtro" data-bind="value:macontrato_filtro_select">

                      <option value="0">[Seleccione...]</option>
                        <!--ko foreach:{ data:lista_contrato, as:'item'} -->
                        <option data-bind="value:item.id,text:item.nombre"></option>
                        <!--/ko-->
                  </select>
                </div>


                <div class="form-group">
                  <label>Contratista</label>
                    <select class="form-control" id="contratista_filtro" name="contratista_filtro" data-bind="value:contratista_filtro_select">
                      <option value="0">[Seleccione...]</option>
                        <!--ko foreach:{ data:listado_contratista_filtro, as:'item'} -->
                          <option data-bind="value:item.id,text:item.nombre"></option>
                        <!--/ko-->
                    </select>
                </div>


                <div class="form-group">
                  <label>Contrato</label>
                    <select class="form-control" id="contrato_filtro" name="contrato_filtro">
                      <option value="0">[Seleccione...]</option>
                        <!--ko foreach:{ data:listado_contrato_filtro, as:'item'} -->
                          <option data-bind="value:item.id,text:item.nombre"></option>
                        <!--/ko-->
                    </select>
                </div>

                <div class="form-group">
                  <input type="text" id="txtBuscar" name="txtBuscar" class="form-control" placeholder="Buscar...">
                </div>  

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:function(){consultar(1);}">
                  <i class="fa fa-search"></i> Filtrar
                </button>
            </div>

          </div>
        </div>
      </div><!--cierra modal_filtro-->

      <!--Fin del modal-->


      <div id="vermas_encabezado" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 30px;font-weight: bold;"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
              </div>
              <div class="modal-body">

                 <!--ko if: soporte_ve()!='' && soporte_ve()!=null-->

                <strong>Documento : </strong>
                  <a data-bind="attr: {href: '/giros/ver-soporte/?id=' + id_vermas()}" 
                  target="_blank" style="cursor:pointer;">
                    <i class="fa fa-file kv-caption-icon"></i>
                  </a><br>
                <!--/ko-->   

                <strong>Nombre contrato : </strong><span data-bind="text:nombre_contrato_vermas"></span><br>  
                <strong>Numero contrato : </strong><span data-bind="text:numero_contrato_vermas"></span><br>
                <strong>Nombre contratista : </strong><span data-bind="text:nombre_contratista_vermas"></span><br>
                <!--<strong>Nombre proyecto : </strong><span data-bind="text:nombre_proyecto_vermas"></span><br>-->
                <strong>Nombre del giro : </strong><span data-bind="text:nombre_giro_vermas"></span><br>
                <strong>Total del giro : </strong><span data-bind="text:formatMoney(total_giro_vermas())"></span><br> 


              </div>
          </div>
        </div>
      </div><!--cierra modal_filtro-->  

      <div id="reporte_giro" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 30px;font-weight: bold;"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
              </div>
              <div class="modal-body">

                  <div class="form-group">
                    
                      <label>
                        <input name="reporteGiro" id="solicitudAnticipo" value="solicitudAnticipo" type="radio">
                        Formato de Solicitud de Anticipo
                      </label>
                    
                      <label>
                        <input name="reporteGiro" id="cuentasPorPagar" value="cuentasPorPagar" type="radio" checked="">
                        Formato de Cuentas por pagar
                      </label>

                      <input type="hidden" id="id_anticipo" name="id_anticipo" data-bind="value:anticipo_id">
                      <input type="hidden" id="mcontrato_id" name="mcontrato_id" data-bind="value:mcontrato_id">

                  </div>

              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:generar_reporte_giro">
                  <i class="fa fa-print"></i> Generar
                </button>
              </div>

          </div>
        </div>
      </div><!--cierra modal_filtro-->  




  <div id="modal_actualizar_forma_pago_giro" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 30px;font-weight: bold;"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                  <label>Tipo de pago (*)</label>
                  <select class="form-control" id="tipo_pago_giro" name="tipo_pago_giro" data-bind="value:tipo_pago_del_giroVO.pago_recurso_id">
                    <option value="0">[Seleccione...]</option>
                      <!--ko foreach:{ data:listado_tipo_pago_recurso, as:'item'} -->
                      <option data-bind="value:item.id,text:item.nombre"></option>
                      <!--/ko-->
                  </select>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:function(){actualizar_tipo_de_pago_del_giro();}">
                  <!-- <i class="fa fa-search"></i> --> Actualizar
                </button>
            </div>

          </div>
        </div>
      </div><!--cierra modal_actualizar_forma_pago_giro-->

