<div class="row">
  <div class="col-lg-5">
    <div class="panel mobile-controls" id="p17">
      <div class="panel-heading ui-sortable-handle"><span class="panel-title">Información general</span></div>
        <div class="panel-body">

         <strong>Contratante : </strong><span data-bind="text:contratante_encabezado"></span><br> 
         <strong>Contratista : </strong><span data-bind="text:contratista_encabezado"></span><br>
         <strong>Número del contrato : </strong><span data-bind="text:numero_contrato_encabezado"></span><br> 
         <strong>Nombre del proyecto : </strong>
            <a  data-placement="top"  data-toggle="tooltip" title="" data-original-title="Ver proyectos" data-bind="click:function(){ ver_mas_proyectos({{mcontrato}},{{user.usuario.empresa.id}},contrato_id) }" data-toggle="modal" style="cursor:pointer;">
              <i class="fa fa-ellipsis-h fa-2x"></i>
            </a><br>
         <strong>Nombre del anticipo : </strong><span data-bind="text:nombre_anticipo_encabezado"></span><br>
         <i class="fa fa-bell 2x" style="color:#999"></i> Solicitado;
         <i class="fa fa-bell 2x" style="color:#F90"></i> Autorizado;
         <i class="fa fa-bell 2x" style="color:#0F0"></i> Pagado;
         <i class="fa fa-bell 2x" style="color:#F00"></i> Reversado;
         <i class="fa fa-bell 2x" style="color:#000"></i> Rechazado;
        </div>
    </div>
  </div>
</div>  

<div class="row">

  <div class="panel" id="spy4">
    <div class="panel-heading">
      <span class="panel-title"></span>
      <a href="{% url 'giros.encabezado_giro' %}"><i class="fa fa-arrow-left text-primary" style="font-size: 20px;"        aria-hidden="true"></i></a>
      <span>Detalle del giro</span>

        <span data-bind="text:'- N° de Registros: ' + paginacion.totalRegistrosBuscados() + ' de ' + paginacion.total()"></span>

        {% if 'giros.can_see_reversar' in perms %}
        <span class="panel-controls">
          <a  data-placement="top"  data-toggle="tooltip" title="" data-original-title="Reversar giros" data-bind="click:reversar_giros" data-toggle="modal" style="cursor:pointer;">
          <i class="fa fa-thumbs-down fa-2x"></i>
          </a>
        </span>
        {% endif %}

        {% if 'giros.can_see_pagar' in perms %}
        <span class="panel-controls">
          <a  data-placement="top"  data-toggle="tooltip" title="" data-original-title="Pagar giros" data-bind="click:pagar_giro" data-toggle="modal" style="cursor:pointer;">
          <i class="fa fa-dollar fa-2x"></i>
          </a>
        </span>
        {% endif %}

        {% if 'giros.can_see_autorizar' in perms %}
        <span class="panel-controls">
          <a  data-placement="top"  data-toggle="tooltip" title="" data-original-title="Autorizacion giros" data-bind="click:function(){ autorizacion_giro({{user.usuario.empresa.id}}) }" data-toggle="modal" style="cursor:pointer;">
          <i class="fa fa-book fa-2x"></i>
          </a>
        </span>
        {% endif %}

        {% if 'giros.can_see_desautorizar' in perms %}
        <span class="panel-controls">
          <a  data-placement="top"  data-toggle="tooltip" title="" data-original-title="Desautorizar giros" data-bind="click:desautorizar_giros" data-toggle="modal" style="cursor:pointer;">
          <i class="fa fa-exchange fa-2x"></i>
          </a>
        </span>
        {% endif %}

    </div>
    <div class="panel-body">

      <div data-bind="html: mensaje"></div>  
      <div class="table-responsive" data-bind="visible:(listado()!=null && listado().length > 0)">

          <table class="table">
            <thead>
                <tr>
                  <th style="width:4%">
                      <div class="option-group field admin-form">
                        <label class="option option-primary"  style="">
                          <input type="checkbox" data-bind="checked:checkall">
                          <span class="checkbox"></span>
                        </label>
                      </div>
                  </th>
                  <th style="width:5%">Estado</th>
                  <th style="width:15%">Beneficiario / Proveedor</th>
                  <th style="width:10%">Nit</th>
                  <th style="width:10%">Entidad bancaria</th>
                  <th style="width:10%">No.cuenta</th>
                  <th style="width:10%">Tipo cuenta</th>
                  <th style="width:10%">Valor neto a girar</th>
                  <th style="width:10%">Autorización</th>
                  <th style="width:4%"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach:{data:listado, as:'item'}">
                <tr>
                  <td>
                    <!--ko if: item.cesion==null-->
                      <div class="option-group field admin-form">
                        <label class="option option-primary"  style="">
                          <input type="checkbox" data-bind="checked:eliminado">
                          <span class="checkbox"></span>
                        </label>
                      </div>
                    <!--/ko -->  
                  </td> 
                  <td>

                  <!--ko if: item.estado.id==1 -->
                  <i class="fa fa-bell 2x" style="color: #999"></i>
                  <!--/ko -->

                  <!--ko if: item.estado.id==2 -->
                  <i class="fa fa-bell 2x" style="color: #F90"></i>
                  <!--/ko -->

                  <!--ko if: item.estado.id==3 -->
                  <i class="fa fa-bell 2x" style="color: #0F0"></i>
                  <!--/ko -->

                  <!--ko if: item.estado.id==4 -->
                  <i class="fa fa-bell 2x" style="color: #F00"></i>
                  <!--/ko -->

                  <!--ko if: item.estado.id==106 -->
                  <i class="fa fa-bell 2x" style="color: #000"></i>
                  <!--/ko -->


                  </td>

                  <td data-bind="text: item.contratista.nombre"></td>
                  <td data-bind="text: item.contratista.nit"></td>
                  <td data-bind="text: item.banco.nombre"></td>
                  <td data-bind="text: item.no_cuenta"></td>
                  <td data-bind="text: item.tipo_cuenta.nombre"></td>
                  <td data-bind="text: formatMoney(item.valor_girar)"></td>
                  <td>


                  {% if user.usuario.empresa.consecutivoDigitado == 0 %}

                    <!--ko if: item.carta_autorizacion==null -->
                      <!--ko if: item.soporte_consecutivo_desabilitado == null -->
                      <font color="#FF0000"> Por Autorizar</font>
                      <!--/ko -->  
                    <!--/ko -->

                    <!--ko if: item.carta_autorizacion!=null -->
                    <font color="#FF0000">
                      
                      <a href="#" data-bind="click:$root.abrir_ver_autorizacion">

                        <span data-bind="text: item.carta_autorizacion.prefijo.nombre+' - '+item.carta_autorizacion.consecutivo+' - '+item.carta_autorizacion.anoEnvio"></span>
                        <i class="fa fa-file-text-o fa-2x"></i>
                      </a>

                    </font>
                    <!--/ko -->
                    <!--ko if: item.carta_autorizacion==null -->
                      <!--ko if: item.soporte_consecutivo_desabilitado != null -->
                        <a data-bind="attr: {href: '/giros/ver-soporteconsecutivodeshabilitado/?id=' + item.id}" 
                              target="_blank" style="cursor:pointer;">
                                <i class="fa fa-file-text-o fa-2x"></i>
                        </a>  
                      <!--/ko -->  
                    <!--/ko -->

                  {% endif %}

                  {% if user.usuario.empresa.consecutivoDigitado != 0 %}

                    <!--ko if: item.soporte_consecutivo_desabilitado ==null -->
                      <font color="#FF0000"> Por Autorizar</font>
                    <!--/ko -->

                    <!--ko if: item.soporte_consecutivo_desabilitado != null -->

<!--                       <a data-bind="attr: {href: item.soporte_consecutivo_desabilitado}" 
                              target="_blank" style="cursor:pointer;">
                                <i class="fa fa-file-text-o fa-2x"></i>
                      </a> -->
                      <!--ko if: item.carta_autorizacion != null -->
                        <a href="#" data-bind="click:$root.abrir_ver_autorizacion">

                        <span data-bind="text: item.carta_autorizacion.prefijo.nombre+' - '+item.carta_autorizacion.consecutivo+' - '+item.carta_autorizacion.anoEnvio"></span>
                        <i class="fa fa-file-text-o fa-2x"></i>
                      </a>
                      <!--/ko -->
                      <!--ko if: item.carta_autorizacion == null -->
                        <a data-bind="attr: {href: '/giros/ver-soporteconsecutivodeshabilitado/?id=' + item.id}" 
                              target="_blank" style="cursor:pointer;">
                                <i class="fa fa-file-text-o fa-2x"></i>
                        </a>
                      <!--/ko -->
                    <!--/ko -->

                  {% endif %}

                  </td>

                  <td>
                    {% if 'giros.change_detallegiro' in perms %}
                      <!--ko if: (item.cesion==null && item.cruce==null) || item.contratistaContrato==item.contratista.id  -->
                       <a href="#" data-bind="click:$root.consultar_por_id">
                          <i class="fa fa-pencil-square-o fa-2x"></i>
                       </a>
                     <!--/ko -->
                    {% endif %}

                  </td>
                </tr>
                     
            </tbody>
          </table>

          <div id="paginacion" >
            <div data-bind="pagination: {
                    currentPage: paginacion.pagina_actual,
                    totalCount: paginacion.total,
                    pageSize:paginacion.cantidad_por_paginas,
                    maxPages: paginacion.maxPaginas,
                    directions: paginacion.direcciones,
                    boundary: paginacion.limite,
                    text: paginacion.text }">

            </div>
          </div>

      </div>

    </div>
  </div>
  <h2>Total Anticipo : <span data-bind="text:formatMoney(suma_valor_detalles())"></span></h2>
</div><!--cierra row-->

<!--Modal-->

<div id="modal_acciones" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">

        <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}

          <div class="option-group field admin-form">
            <label class="option option-primary"  style="">
              <input type="checkbox" id="contratista_contrato" name="contratista_contrato" data-bind="checked:contrato_contratista">
              <span class="checkbox"></span>Contratista del Contrato
            </label>
          </div><br> 


          <div class="option-group field admin-form">
            <label class="option option-primary"  style="">
             <input type="checkbox" id="contratistata_seleccione" name="contratistata_seleccione" data-bind="checked:check_contratista">
              <span class="checkbox"></span>Otro Contratistas
            </label>
          </div><br>  

          <!--ko if:!contrato_contratista()-->
          <div class="form-group">
            <label>Beneficiario (*)</label>

              <select class="form-control" data-bind="value:detalle_giroVO.contratista_id,visible:!contrato_contratista()">
                <option value="">[Seleccione...]</option>
                  <!--ko foreach:{ data:lista_select_contratista, as:'item'} -->
                    <option data-bind="value:item.id,text:item.nombre" ></option>
                  <!--/ko-->
              </select>
                          
          </div>
          <!--/ko-->

          <!--ko if:contrato_contratista()-->
          <div class="form-group">
            <label>Beneficiario (*)</label> 
                          
              <input type="hidden" data-bind="value:detalle_giroVO.contratista_id" class="form-control">

              <input type="text" data-bind="value:nombre_contratista_obra(),visible:contrato_contratista()" class="form-control" disabled="">
          </div>
            <!--/ko-->

          <div class="form-group">
            <label>Banco (*)</label>
              <select class="form-control" data-bind="value:detalle_giroVO.banco_id,visible:!contrato_contratista()">
                <option value="">[Seleccione...]</option>
                  <!--ko foreach:{ data:lista_banco, as:'item'} -->
                    <option data-bind="value:item.id,text:item.nombre"></option>
                  <!--/ko-->
              </select>

              <input type="text" data-bind="value:nombre_banco_proyecto(),visible:contrato_contratista()" class="form-control" disabled/>

          </div>

          <div class="form-group">
            <label>No.Cuenta (*)</label>
            <!--ko if:contrato_contratista()-->
              <input type="text" data-bind="value:detalle_giroVO.no_cuenta,onlyNumber:detalle_giroVO.no_cuenta" class="form-control" placeholder="Dígite el número del cuenta"  disabled/>
            <!--/ko-->
            <!--ko if:!contrato_contratista()-->
              <input type="text" data-bind="value:detalle_giroVO.no_cuenta,onlyNumber:detalle_giroVO.no_cuenta" class="form-control" placeholder="Dígite el número del cuenta"/>
            <!--/ko-->
          </div>


          <div class="form-group">
            <label>Tipo (*)</label>
              <select class="form-control" data-bind="value:detalle_giroVO.tipo_cuenta_id">
                <option value="">[Seleccione...]</option>
                  <!--ko foreach:{ data:lista_tipo_select, as:'item'} -->
                    <option data-bind="value:item.id,text:item.nombre"></option>
                  <!--/ko-->
              </select>
          </div>

          <div class="form-group">
            <label>Valor del giro</label>
            <input class="form-control" type="text" data-bind="value:detalle_giroVO.valor_girar.formatted,onlyNumber:detalle_giroVO.valor_girar" placeholder="Dígite el valor del giro">
          </div>  

        </form>

       </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bind="click:guardar">
            <i class="fa fa-floppy-o"></i> Guardar
          </button>
        </div>

    </div>
  </div>
</div>

<!--Modal-->


<!--Modal para asociar autorizacion del giroo-->

<div id="modal_autorizacion" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
        </div>

        <!-- Si la empresa tiene habilitado el consecutivo-->
        {% if user.usuario.empresa.consecutivoDigitado == 0 %}
          <div class="modal-body">

            <form>

              <div class="form-group">
                <label>Consecutivo</label>
                <input class="form-control" type="text" placeholder="Dígite el consecutivo" data-bind="value:consecutivo">
              </div>    

              <div class="form-group">
                <label>Año</label>
                <input class="form-control" type="text" placeholder="Dígite el año" data-bind="value:ano">
              </div>

              <div class="form-group">
                <label>Prefijo</label>
                <select class="form-control" data-bind="value:prefijo">
                <option value="">[Seleccione...]</option>
                  <!--ko foreach:{ data:listado_prefijos, as:'item'} -->
                    <option data-bind="value:item.id,text:item.nombre"></option>
                  <!--/ko-->
                </select>                
              </div>

            </form>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bind="click:autorizar_giros">
              <i class="fa fa-floppy-o"></i> Asociar autorización
            </button>
          </div>

        {% endif %}
        <!--Fin de la validacion-->


        <!--Si la empresa no tiene habilitado el consecutivo-->
        {% if user.usuario.empresa.consecutivoDigitado == 1 %}
       
          <div class="modal-body">

            <form>

              <div class="form-group">          
                <label>Documento</label>
                <input type="file" class="note-image-input" id="archivo" name="archivo"  data-bind="fileData:{value:soporte_empresa_validacion,allowedFileExtensions: ['png','jpg','jpge','pdf'],
                                   elErrorContainer: '#errorBlock', removeLabel:''}"/> 
                <small id="emailHelp" class="form-text text-muted">Tipos de archivos aceptados png, jpg, jpge y pdf.<br></small>
              </div>

            </form>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bind="click:autorizar_giros_sin_consecutivos">
              <i class="fa fa-floppy-o"></i> Asociar autorización
            </button>
          </div>

        {% endif %}
        <!--Fin de la validacion-->

    </div>
  </div>
</div><!--cierra para autorizacion-->

<!--Fin del modal-->


<!--Modal para pagar giro-->

<div id="modal_pagar_giro" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
        </div>
        <div class="modal-body">

          <form>

            <div class="form-group">
              <label>Fecha de pago</label>
              <div class="input-group date">

                <input class="form-control" type="text" placeholder="Seleccione la fecha" 
                data-bind="datePicker:detalle_giroVO.fecha_pago,value:detalle_giroVO.fecha_pago, dateTimePickerOptions:{maxDate:new Date()}" onkeypress="return false">
                <label for="fecha_pago" class="input-group-addon cursor"><i class="fa fa-calendar"></i>
                </label>

              </div>   
            </div> 


            <!-- <div class="form-group">
              <label>Cuenta</label>
                <span data-bind="text:nombre_cuenta"></span>
            </div> -->

            <div class="form-group">
              <label>Cuenta (*)</label>
              <select class="form-control" data-bind="value:detalle_giroVO.cuenta_id">
                <option value="">[Seleccione...]</option>
                  <!--ko foreach:{ data:lista_cuenta_select, as:'item'} -->
                    <option data-bind="value:item.id,text:item.nombre"></option>
                  <!--/ko-->
              </select>
            </div>

          </form>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bind="click:guardar_pago">
            <i class="fa fa-floppy-o"></i> Registrar pago
          </button>
        </div>

    </div>
  </div>
</div><!--cierra para autorizacion-->

<!--Fin del modal-->

    
<!--Modal para ver los soporte de la autorizacion-->

<div id="modal_ver_autorizacion" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
        </div>
        <div class="modal-body">

          <div class="table-responsive">

            <div id="mensajeListadoSoporte"></div>

            <table class="table" data-bind="visible:(lista_soporte_correspondencia()!=null && lista_soporte_correspondencia().length > 0)">
              <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Documento</th> 
                  </tr>
              </thead>
              <tbody data-bind="foreach:{data:lista_soporte_correspondencia, as:'item'}">
                <tr>

                    <td data-bind="text: item.nombre"></td>
                    <td>
                        <a data-gallery="" data-bind="click: $root.ver_soporte" href="#" style="cursor:pointer;">
                           <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
                        </a>
                    </td>
                 
                </tr>
                     
              </tbody>
            </table>
          </div><!--cierra para responsive-->

        </div>
    </div>
  </div>
</div><!--cierra para autorizacion-->

<!--Fin del modal-->

<!--ver mas proyectos-->
<div id="vermas_proyectos" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 30px;font-weight: bold;"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
      <div class="modal-body">

         <div class="table-responsive">

          <table class="table">
            <thead>
                <tr>
                  <th style="width:25%">Macro contrato</th>
                  <th style="width:25%">Departamento</th>
                  <th style="width:25%">Municipio</th>
                  <th style="width:25%">Proyecto</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:{data:lista_proyecto, as:'item'}">
              <tr>
                <td data-bind="text: item.proyecto.mcontrato.nombre"></td>
                <td data-bind="text: item.proyecto.municipio.departamento.nombre"></td>
                <td data-bind="text: item.proyecto.municipio.nombre"></td>
                <td data-bind="text: item.proyecto.nombre"></td>
              </tr>                    
            </tbody>
          </table>

      </div>
    </div>
  </div>
</div>
<!--cierra modal_filtro-->
    