{% extends 'page.html' %}
{% load static %}

{%block imports_css %}
 <link rel="stylesheet" type="text/css" href='{% static "css/fileInput/fileinput.min.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "js/plugins/datepicker/css/bootstrap-datetimepicker.css" %}'>
 
{% endblock imports_css %}

{% block title %}Detalle del giro{% endblock title%}
{% block mapa %}
  <li><a href="/usuario/"><i class="glyphicon glyphicon-home"></i></a></li>
  <li><a href="{% url 'giros.encabezado_giro' %}">Giros</a></li>
  <li class="active">Detalle giros</li>
{% endblock mapa %}
{% block encabezado %}<!--Giros-->{% endblock encabezado %}

{% block contenido %}

 
  <div class="row" >

    <input type="hidden" value="{{user.usuario.empresa.id}}" id="empresa" name="empresa"/>

    <div class="col-lg-12">

      {% include 'giros/_tabla_detalle_giro.html' %}

    </div><!--col-lg-12" -->
  </div><!--cierra row -->

<!--Loading-->
  
{% endblock contenido %}

{% load static %}

{%block imports %}

  <script src='{% static "js/plugins/globalize/globalize.min.js" %}'></script>
  <script src='{% static "js/plugins/moment/moment.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/plugins/datepicker/js/bootstrap-datetimepicker.js" %}'>
  </script>
  <script src='{% static "js/plugins/accounting/accounting.min.js" %}'></script>
  
  <script type="text/javascript" src='{% static "js/plugins/fileInput/fileinput.js" %}'></script>
  <script type="text/javascript" src='{% static "js/ViewModels/giros/detalle_giro.js" %}?v=2'></script>
  
  <script type="text/javascript">

    $(document).ready(function () {
      detalle_giro.detalle_giroVO.encabezado_id({{id_encabezado}});
      detalle_giro.id_contrato({{contrato}}); //contrato de la obra del proyecto
      detalle_giro.consultar(1);//iniciamos la primera funcion
      detalle_giro.encabezado_detalle();//trae el encabezado
      detalle_giro.consultar_lista_contratista();//trae la lista de los contratista para el select
      detalle_giro.consultar_lista_banco();//trae la lista de los banco para el select
      detalle_giro.consultar_lista_tipo();//trae la lista de lo tipo para el select
      detalle_giro.mcontrato({{mcontrato}}); //macrocontrato del proyecto
      
    });
    

  </script>

{% endblock imports %}