{% extends 'page.html' %}
{% load static %}

{%block imports_css %}
<link rel="stylesheet" type="text/css" href='{% static "js/plugins/datepicker/css/bootstrap-datetimepicker.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/fileInput/fileinput.min.css" %}'>
{% endblock imports_css %}

{% block title %}Datos de sus Diseños{% endblock title%}
{% block mapa %}
  <li><a href="{% url 'usuario.index' %}"><i class="glyphicon glyphicon-home"></i></a></li>
  <li><a href="{% url 'gestion_proyecto.gestion_proyecto' %}">Gestion de Proyectos</a></li>  
  <li><a href="{% url 'gestion_proyecto.opciones' %}">Opciones</a></li>
  <li class="active">Datos de sus Diseños</li>
{% endblock mapa %}


{% block opciones_listado %}
            
            {% if 'gestion_proyecto.add_datodiseno' in perms %}
            <li>
              <a href="#" data-placement="right" data-bind="click:abrir_modal" data-toggle="tooltip" data-original-title="Agregar nuevo registro">
                 <i class="fa fa-plus" style="font-size: 20px;"></i>
              </a>
            </li>
            {% endif %}


            {% if 'gestion_proyecto.delete_datodiseno' in perms %}
            <li>
              <a href="#" data-placement="right" data-bind="click:eliminar" data-toggle="tooltip" data-original-title="Eliminar registro">
                  <i class="fa fa-trash" style="font-size: 20px;"></i>
              </a>
            </li>
            {% endif %}

{% endblock opciones_listado %}

{% block busqueda %}
{% endblock busqueda %}

{% block contenido %}

  <div class="row" >

<div class="col-lg-12">
   <div data-bind="html: mensaje"></div> 
  
  <div class="panel panel-sky" data-bind="visible:(listado()!=null && listado().length > 0)">
            <div class="panel-heading">
                <h4>
                  <a href="{% url 'gestion_proyecto.opciones' %}" data-placement="right"    
                    data-toggle="tooltip" data-original-title="Regresar a las opciones">
                    <i class="fa fa-arrow-left" style="font-size: 20px;"></i>
                  </a>
                  Listado de Datos de sus Diseños
                </h4>
          </div>
          <div class="panel-body">
          <div class="col-lg-12">
                    <button type="button" class="btn btn-primary" data-bind="click:actualizar_orden">Actualizar Orden</button>
          </div>
          <div class="table-responsive" data-bind="dropdown">
                <table class="table">
              <thead>
            <tr>
              <th>                
                <div class="option-group field admin-form">
                  <label class="option option-primary"  style="">
                    <input type="checkbox" data-bind="checked:checkall">
                    <span class="checkbox"></span>
                  </label>
                </div> </th>   
              <th></th>
              <th >Nombre</th>
              <th >Unidad de Medida</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: listado().sort(function (l, r) { return (l.orden() > r.orden() ?  1 : -1)})">
            <tr>
              <td>                  
                <div class="option-group field admin-form">
                  <label class="option option-primary"  style="">
                    <input type="checkbox" data-bind="checked:eliminado,value:id">
                    <span class="checkbox"></span>
                  </label>
                </div></td> 
              <td>
                <a class="subirNivel" data-bind="click:$parent.subir_nivel"><i class="fa fa-arrow-circle-up fa-2x" style="cursor:pointer"></i></a>
                <a class="bajarNivel" data-bind="click:$parent.bajar_nivel"><i class="fa fa-arrow-circle-down fa-2x" style="cursor:pointer"></i></a> 
              </td>
              <td data-bind="text: nombre"></td>
              <td data-bind="text: unidad_medida.nombre"></td>
               <td>
                {% if 'gestion_proyecto.change_datodiseno' in perms %}
                 <div class="btn-group text-right">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h fa-2x">
                      </i></a>
                   <ul class="dropdown-menu" role="menu">
                       <li>
                          <a href="#" data-bind="click:$root.consultar_por_id">Editar</a>
                       </li>
                    </ul>
                  </div>
                  {% endif %}
              </td>     
            </tr>
          </tbody>
        </table>
        </div>
        
          
          

                </div>
  </div>

  
  </div>

</div>
  </div>

     <input type="hidden" id="id_usuario" value="{{user.usuario.id}}" class="form-control" > 
     <input type="hidden" id="id_empresa" value="{{user.usuario.empresa.id}}" class="form-control" >      


<!--Modal-->

<div id="modal_acciones" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
        <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label>Nombre(*)</label>
          <input type="text" class="form-control" data-bind='value:datosVO.nombre'>           
        </div>


        <div class="form-group">
          <label>Unidad de Medida(*)</label>
          <select class="form-control" data-bind="value:datosVO.unidad_medida_id">
                      <option value="">[Seleccione..]</option>
                      {% for item in unidades %}
                        <option value="{{ item.id }}">{{ item.nombre }}</option>
                      {% endfor %} 
          </select>         
        </div>
        </form>
       </div>

        
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bind="click:guardar">Guardar</button>
        </div>

    </div>
  </div>
</div>


<!--Modal-->


  <!--Loading-->
  

{% endblock contenido %}

{% load static %}

{%block imports %}
    <script type="text/javascript" src='{% static "js/ViewModels/gestion_proyecto/datos_diseno.js" %}'></script>
{% endblock imports %}