{% extends 'page.html' %}
{% load static %}

{%block imports_css %}
<link rel="stylesheet" type="text/css" href='{% static "js/plugins/datepicker/css/bootstrap-datetimepicker.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/fileInput/fileinput.min.css" %}'>
{% endblock imports_css %}

{% block title %}Versiones de Diseño{% endblock title%}
{% block mapa %}
  <li><a href="{% url 'usuario.index' %}"><i class="glyphicon glyphicon-home"></i></a></li>
  <li><a href="{% url 'gestion_proyecto.gestion_proyecto' %}">Gestion de Proyectos</a></li>  
  <li><a href="{% url 'gestion_proyecto.diseno' %}">Diseños</a></li>
  <li class="active">Versiones</li>
{% endblock mapa %}


{% block opciones_listado %}
            
            {% if 'gestion_proyecto.add_dversionesdiseno' in perms %}
            <li>
              <a href="#" data-placement="right" data-bind="click:abrir_modal" data-toggle="tooltip" data-original-title="Agregar nuevo registro">
                 <i class="fa fa-plus" style="font-size: 20px;"></i>
              </a>
            </li>
            {% endif %}


            {% if 'gestion_proyecto.delete_dversionesdiseno' in perms %}
            <li>
              <a href="#" data-placement="right" data-bind="click:eliminar" data-toggle="tooltip" data-original-title="Eliminar registro">
                  <i class="fa fa-trash" style="font-size: 20px;"></i>
              </a>
            </li>
            {% endif %}
{% endblock opciones_listado %}


{% block contenido %}

  <div class="row" >

<div class="col-lg-12">

    <div class="panel panel-sky">
            <div class="panel-heading">
                <h4>Informacion Proyecto</h4>
          </div>
          <div class="panel-body">

              <p>
              <label>Campaña: {{diseno.campana.nombre}}</label><br>          
              <label>Fondo: {{diseno.fondo.nombre}}</label><br>
              <label>Solicitante: {{diseno.solicitante.nombre}}</label><br>
              <label>Departamento: {{diseno.municipio.departamento.nombre}}</label><br>
              <label>Municipio: {{diseno.municipio.nombre}}</label><br>
              <label>Proyecto: {{diseno.nombre}}</label><br>
            </p>
          </div>
    </div>
  
   <div data-bind="html: mensaje"></div> 
  <div class="panel panel-sky" data-bind="visible:(listado()!=null && listado().length > 0)">
            <div class="panel-heading">
                <h4>Listado de Versiones <span data-bind="text:'- N° de Registros: ' + paginacion.totalRegistrosBuscados() + ' de ' + paginacion.total()"></span></h4>
          </div>
          <div class="panel-body">
          <div class="table-responsive" data-bind="dropdown">
                <table class="table">
              <thead>
            <tr>
              <th>               
                <div class="option-group field admin-form">
                  <label class="option option-primary"  style="">
                    <input type="checkbox" data-bind="checked:checkall">
                    <span class="checkbox"></span>
                  </label>
                </div> </th>
              <th>Nombre</th>
              <th>Fecha</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody data-bind="foreach:{data:listado, as:'item'}">
            <tr>
              <td>                  
                <div class="option-group field admin-form">
                  <label class="option option-primary"  style="">
                    <input type="checkbox" data-bind="checked:eliminado,value:id">
                    <span class="checkbox"></span>
                  </label>
                </div></td> 
              <td data-bind="text: item.nombre"></td>
              <td data-bind="text: item.fecha_format"></td>
               <td>
                 <div class="btn-group text-right">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h fa-2x">
                      </i></a>
                   <ul class="dropdown-menu" role="menu">
                   {% if 'gestion_proyecto.change_dversionesdiseno' in perms %}
                       <li>
                          <a href="#" data-bind="click:$root.consultar_por_id">Editar</a>
                       </li>
                    {% endif %}
                    <li>
                          <a href="#" data-bind="click:$root.tablero">Tablero</a>
                       </li>
                    </ul>
                  </div>
              </td>     
            </tr>
          </tbody>
        </table>
          <div id="paginacion" >
                      <div data-bind="pagination: {
                                   currentPage: paginacion.pagina_actual,
                                   totalCount: paginacion.total,
                                   pageSize:paginacion.cantidad_por_paginas,
                                   maxPages: paginacion.maxPaginas,
                                   directions: paginacion.direcciones,
                                   boundary: paginacion.limite,
                                   text: paginacion.text }">

                      </div>
                  </div>
        </div>
        
          
          

                </div>
  </div>

  
  </div>

</div>
  </div>

     <input type="hidden" id="id_usuario" value="{{user.usuario.id}}" class="form-control" > 
     <input type="hidden" id="id_empresa" value="{{user.usuario.empresa.id}}" class="form-control" >    
     <input type="hidden" id="id_diseno" value="{{diseno_id}}" class="form-control" >      


<!--Modal-->

<div id="modal_acciones" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
        <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label>Nombre(*)</label>
          <input type="text" class="form-control" data-bind='value:versionVO.nombre'>           
        </div>

        </form>
       </div>

        
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bind="click:guardar">Guardar</button>
        </div>

    </div>
  </div>
</div>


<!--Modal-->


  <!--Loading-->
  

{% endblock contenido %}

{% load static %}

{%block imports %}
    <script type="text/javascript" src='{% static "js/ViewModels/gestion_proyecto/versiones_diseno.js" %}'></script>
{% endblock imports %}