{% extends 'page.html' %}
{% load static %}


{%block imports_css %}
 <link rel="stylesheet" type="text/css" href='{% static "css/fileInput/fileinput.min.css" %}'> 
 <link rel="stylesheet" type="text/css" href='{% static "js/plugins/datepicker/css/bootstrap-datetimepicker.css" %}'>
{% endblock imports_css %}

{% block title %}Polizas{% endblock title%}
{% block mapa %}
	<li><a href="{% url 'usuario.index' %}"><i class="glyphicon glyphicon-home"></i></a></li>
  <li><a href="">Poliza</a></li>
  <li><a href="{% url 'poliza.poliza_contrato' %}">Poliza Contratos</a></li>
	<li class="active">Polizas</li>
{% endblock mapa %}
{% block encabezado %}{% endblock encabezado %}

{% block contenido %}
<!-- http://52.26.19.129/sinin/contrato/poliza.php?codigo=302 -->
  <div class="row" >

		<div class="col-lg-12">
		  
		   <div data-bind="html: mensaje"></div> 

		    <div class="panel panel-sky" data-bind="visible:(listado()!=null && listado().length > 0)">
		    		    
		    <div class="panel-heading">
          <span>
            <a href="{% url 'poliza.poliza_contrato' %}"><i class="fa fa-arrow-left text-primary" style="font-size: 20px;"            aria-hidden="true"></i></a>
          </span>          
               Listado de polizas
               <span data-bind="text:'- N° de Registros: ' + listado().length"></span>
              {% if contrato_id == 0 %}    
               <span class="panel-controls">
                  <a data-bind="click:abrir_filtros" style="cursor:pointer;" data-placement="top"  data-toggle="tooltip" data-original-title="Filtros">
                    <i class="fa fa-filter fa-2x"></i>
                  </a>
                </span>
              {% endif %}
          	</div>

          	 <div class="panel-body">
          	 	
              {% if contrato.id > 0 %}

              <div class="panel panel-info">
                <div class="panel-heading">
                  Información del contrato
                </div>
                <div class="panel-body">
                  <div class="col-lg-6">
                      <div class="form-group">
                        <label>Numero de Contrato:</label>
                        <span>{{ contrato.numero }}</span>
                      </div>

                      <div class="form-group">
                        <label>Nombre de Contrato:</label>
                        <span>{{ contrato.nombre }}</span>
                      </div>

                      <div class="form-group">
                        <label>Contratante:</label>
                        <span>{{ contrato.contratante.nombre }}</span>
                      </div>

                      <div class="form-group">
                        <label>Contratista:</label>
                        <span>{{ contrato.contratista.nombre }}</span>
                      </div>
                     
                      <div class="form-group">
                        <label>Estado:</label>
                        <span>{{ contrato.estado.nombre }}</span>
                      </div>
                  </div>
               
                </div>
              </div>

              {% endif %}

          	 	 <div class="table-responsive">
          	 	 	 <table class="table table-bordered table-hover">
          	 	 	 	  <thead>
				            <tr>
                      <th>
                        <div class="option-group field admin-form">
                        <label class="option option-primary"  style="">
                          <input name="mobileos" data-bind="checked:seleccionar_polizas" type="checkbox">
                          <span class="checkbox"></span>
                        </label>
                      </div>
                      </th>
				              <th>Contrato</th>    
				              <th>Tipo</th>
				              <th>Fecha Inicio</th>				              
				              <th>Fecha Fin</th>
                      <th>Valor</th>
				              <th>Opciones</th>
				            </tr>
				           </thead>
				           <tbody data-bind="foreach:{data:listado, as:'item'}">
	          	 	 	 	<tr>
                    <td style="width: 5%;">
                       <div class="option-group field admin-form">
                        <label class="option option-primary"  style="">
                          <input name="mobileos" data-bind="checked:item.procesar" type="checkbox">
                          <span class="checkbox"></span>
                        </label>
                      </div>
                    </td>
	          	 	 	 	<td style="width: 30%;" data-bind="cutWord:{num:35,text:item.contrato.nombre, verMax:'...', verMin:'...'}"></td>
	          	 	 	 	<td style="width: 30%;" data-bind="cutWord:{num:35,text:item.tipo.nombre, verMax:'...', verMin:'...'}"></td>
	          	 	 	 	<td style="width: 10%;" data-bind="text: item.fecha_inicio"></td>
	          	 	 	 	<td style="width: 10%;" data-bind="text: item.fecha_final"></td>
                    <td style="width: 10%;" data-bind="text:formatMoney(item.valor)"></td>
	          	 	 	 	<td style="width: 5%;">
	          	 	 	 		 <div class="btn-group text-right">
					                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h fa-2x">
					                      </i></a>
					                   <ul class="dropdown-menu" role="menu">
                                {% if 'poliza.change_poliza' in perms %}
					                       <li>
					                          <a href="#" data-bind="click:function(obj){$root.consultar_por_id(obj.id);}">Editar</a>
					                       </li>
                                 {% endif %}
                                 {% if 'poliza.can_see_vigencia_poliza' in perms %}
					                       <li>
					                          <a href="#" data-bind="attr:{href:'../vigencias-poliza/'+item.id}">Ver Vigencias</a>
					                        </li>
                                  {% endif %}
				                    </ul>
            				    </div>
	          	 	 	 	</td>          	 	 	 	
	          	 	 	 	</tr>
	          	 	 	 </tbody> 
          	 	 	 </table>
          	 	 	
                 <!-- <div id="paginacion" >
                      <div data-bind="pagination: {
                                   currentPage: paginacion.pagina_actual,
                                   totalCount: paginacion.total,
                                   pageSize:paginacion.cantidad_por_paginas,
                                   maxPages: paginacion.maxPaginas,
                                   directions: paginacion.direcciones,
                                   boundary: paginacion.limite,
                                   text: paginacion.text }">

                      </div>
                  </div> -->

          	 	 </div>

          	 </div>

		    </div>

		</div>

  </div>   

  <!--Modal-->

<!-- ko if: !(polizaVO.id()>0) -->
<div id="modal_acciones" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
       	<form action="." method="post" enctype="multipart/form-data">
        <div class="row">
        <div class="col-lg-6">

          {% if contrato_id == 0 %}
            <div class="form-group">
              <label>Tipo Contrato</label>             
              <select id="cmb_contrato_id" class="form-control" data-bind="value:polizaVO.tipo_contrato_id,event:{change:function(){ consultar_contrato($('#cmb_contrato_id').val()); }}">
                <option value="">[Seleccione...]</option>
                {% for item in  tipos_contrato %}
                  <option value="{{item.id}}">{{item.nombre}}</option>
                {% endfor %}
              </select>            
            </div>
           {% endif %}
            <div class="form-group">
              <label>Contrato</label>
              {% if contrato_id == 0 %}
              <select class="form-control" data-bind="value:polizaVO.contrato_id">
                <option value="">[Seleccione...]</option>
                 <!-- ko foreach: {data:lista_contratos, as:'item'}-->
                   <option data-bind="value:item.id,text:item.nombre"></option>
                  <!-- /ko -->
              </select>
               {% endif %}

               {% if contrato_id > 0 %}
                <input type="text" class="form-control" value="{{ contrato.nombre }}" disabled="disabled">
                <input type="hidden" id="hd_contrato_id" value="{{contrato_id}}">
               {% endif %}
            </div>

            <div class="form-group">
              <label>Tipo</label>
              <select class="form-control" data-bind="value:polizaVO.tipo_id">
                <option value="">[Seleccione...]</option>
                {% for item in tipos  %}
                  <option value="{{item.id}}">{{item.nombre}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label>Fecha inicio</label>
              <input type="text" id="fecha_inicio" class="form-control" data-bind="value:polizaVO.fecha_inicio,datePicker:polizaVO.fecha_inicio,disable:polizaVO.id()>0">
            </div>

            <div class="form-group">
              <label>Fecha final</label>
              <input type="text" id="fecha_final" class="form-control" data-bind="value:polizaVO.fecha_final,datePicker:polizaVO.fecha_final,disable:polizaVO.id()>0">
            </div>

            <div class="form-group">
              <label>Aseguradora</label>
              <select class="form-control" data-bind="value:polizaVO.aseguradora_id,disable:polizaVO.id()>0">
                <option value="">[Seleccione...]</option>
                {% for item in aseguradoras  %}
                  <option value="{{item.id}}">{{item.nombre}}</option>
                {% endfor %}
              </select>
            </div>

            <!-- ko if: !(polizaVO.id()>0) -->
            <div class="form-group">
              <label>Soporte</label>
              <input type="file" class="note-image-input" data-bind="fileData:{value:polizaVO.soporte,allowedFileExtensions: ['pdf','zip'],elErrorContainer: '#errorBlock_hv', removeLabel:''}" id="soporte">
              <small id="emailHelp" class="form-text text-muted">Tipos de archivos aceptados pdf y zip.<br></small>            
            </div>
            <!--/ko-->

           </div> 

          <div class="col-lg-6">
            <!-- ko if: !(polizaVO.id()>0) -->
             <div class="form-group">
              <label>Num. Certificado</label>
              <input type="text"  class="form-control" data-bind="value:polizaVO.numero_certificado,disable:polizaVO.id()>0">
            </div>
            <!--/ko-->
           <div class="form-group">
              <label>Valor asegurado</label>
              <input type="text" class="form-control" data-bind="value:polizaVO.valor.formatted,onlyNumber:polizaVO.valor,selectedText,disable:polizaVO.id()>0">
            </div>
            
            <div class="form-group">
              <label>No. poliza</label>
              <input type="text" class="form-control" data-bind="value:polizaVO.numero,disable:polizaVO.id()>0">
            </div>

            <!-- ko if: !(polizaVO.id()>0) -->
             <div class="form-group">
              <label>Tipo Documento Asociado</label>
              <select class="form-control" data-bind="value:polizaVO.tipo_documento_id">
                <option value="">[Seleccione...]</option>
                {% for item in tipoDocumento  %}
                  <option value="{{item.id}}">{{item.nombre}}</option>
                {% endfor %}
              </select>
            </div>
            
            
            <!-- ko if: polizaVO.tipo_documento_id()=={{enTipoDocumento.VigenciaContrato}}-->
             <div class="form-group">              
              <label>Documento Asociado</label>
              <select class="form-control" data-bind="value:polizaVO.documento_id">
                <option value="">[Seleccione...]</option>
                {% for item in vigencias  %}
                  {% if item.tipo.id == enTipoVigencia.contrato %}
                  <option value="{{item.id}}">{{item.nombre}}</option>
                  {% endif %}
                {% endfor %}
              </select>              
            </div>
            <!--/ko-->

            <!-- ko if: polizaVO.tipo_documento_id()=={{enTipoDocumento.OtroSi}}-->
             <div class="form-group">              
              <label>Documento Asociado</label>
              <select class="form-control" data-bind="value:polizaVO.documento_id">
                <option value="">[Seleccione...]</option>
                {% for item in vigencias  %}
                   {% if item.tipo.id == enTipoVigencia.otrosi %}
                  <option value="{{item.id}}">{{item.nombre}}</option>
                  {% endif %}
                {% endfor %}
              </select>              
            </div>
            <!--/ko-->

            <!-- ko if: polizaVO.tipo_documento_id()=={{enTipoActa.ActaReinicio}} -->
             <div class="form-group">              
              <label>Documento Asociado</label>
              <select class="form-control" data-bind="value:polizaVO.documento_id">
                <option value="">[Seleccione...]</option>
                {% for item in vigencias  %}
                   {% if item.tipo.id == enTipoVigencia.actaReinicio %}
                  <option value="{{item.id}}">{{item.nombre}}</option>
                  {% endif %}
                {% endfor %}
              </select>              
            </div>
            <!--/ko-->

            <!-- ko if: polizaVO.tipo_documento_id() == {{enTipoActa.ActaSuspension}} -->
             <div class="form-group">              
              <label>Documento Asociado</label>
              <select class="form-control" data-bind="value:polizaVO.documento_id">
                <option value="">[Seleccione...]</option>
                {% for item in vigencias  %}
                   {% if item.tipo.id == enTipoVigencia.actaSuspension %}
                  <option value="{{item.id}}">{{item.nombre}}</option>
                  {% endif %}
                {% endfor %}
              </select>              
            </div>
            <!--/ko-->

            <!-- ko if: polizaVO.tipo_documento_id()=={{enTipoActa.ActaLiquidacion}} -->
             <div class="form-group">              
              <label>Documento Asociado</label>
              <select class="form-control" data-bind="value:polizaVO.documento_id">
                <option value="">[Seleccione...]</option>
                {% for item in vigencias  %}
                   {% if item.tipo.id == enTipoVigencia.liquidacion %}
                  <option value="{{item.id}}">{{item.nombre}}</option>
                  {% endif %}
                {% endfor %}
              </select>              
            </div>
            <!--/ko-->
           
            <!-- ko if: polizaVO.tipo_documento_id()=={{enTipoDocumento.Giro}}-->
            <div class="form-group">              
              <label>Documento Asociado</label>             
              <select class="form-control" data-bind="value:polizaVO.documento_id">
                <option value="">[Seleccione...]</option>
                {% for item in giros  %}
                  <option value="{{item.id}}">{{item.nombre}}</option>
                {% endfor %}
              </select>              
            </div>
            <!--/ko-->


            <!--/ko-->

           
             <div class="form-group">             
                          
                <label>Beneficiario(s)</label>   
                <!-- ko if:polizaVO.id()==0-->        
                 <div class="input-group date">
                   <input type="text" class="form-control" data-bind="value:nombre_beneficiario"
                   placeholder="Ingrese el beneficiario" list="browsers">
                     <label for="fecha_tsa" class="input-group-addon cursor" data-bind="click:agregar_beneficiario" title="Agregar beneficiario">
                       <i class="fa fa-plus" data-bind="click:agregar_beneficiario"></i>
                     </label>                       
                 </div>  
                 <span style="display: none;" id="validacion_beneficiario" class="validationMessage">
                 (*) Ingrese el(los) beneficiario(s).<br><br></span>
                 <datalist id="browsers">
                    {% for item in beneficiarios %}
                      <option value="{{ item.nombre }}">
                    {% endfor %}
                  </datalist>
                <!-- /ko -->
               <div class="panel">
                  <div class="panel-heading">
                    <span class="panel-title">Nombre</span>
                  </div>

                    <table class="table table-bordered table-hover mbn tc-med-1 tc-bold-last">  
                     <thead>
                        <tr class="hidden">                         
                          <th>Listado</th>
                        </tr>
                      </thead>                   
                      <tbody data-bind="foreach:{data:polizaVO.beneficiarios, as:'item'}">
                        <tr>
                          <td style="text-align: left;" data-bind="text:item.nombre"></td> 
                          <!-- ko if: $parent.polizaVO.id()==0 -->
                          <td>
                            <a href="#" data-bind="click:$parent.remover_beneficiario">
                              <i class="fa fa-trash fa-2x"></i>
                            </a>
                          </td>
                          <!-- /ko -->
                        </tr>
                      </tbody>
                    </table>

              </div>
            </div>

          </div> 

          </div>
        </form>
       </div>
     
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bind="click:guardar">Guardar</button>
        </div>      
    </div>
  </div>
</div>
<!-- /ko -->

<!-- ko if: polizaVO.id()>0 -->
<div id="modal_acciones" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
       <!--  <form action="." method="post" enctype="multipart/form-data">
        <div class="row">
        <div class="col-lg-12"> -->

          {% if contrato_id == 0 %}
            <div class="form-group">
              <label>Tipo Contrato</label>             
              <select id="cmb_contrato_id" class="form-control" data-bind="value:polizaVO.tipo_contrato_id,event:{change:function(){ consultar_contrato($('#cmb_contrato_id').val()); }}">
                <option value="">[Seleccione...]</option>
                {% for item in  tipos_contrato %}
                  <option value="{{item.id}}">{{item.nombre}}</option>
                {% endfor %}
              </select>            
            </div>
           {% endif %}
            <div class="form-group">
              <label>Contrato</label>
              {% if contrato_id == 0 %}
              <select class="form-control" data-bind="value:polizaVO.contrato_id">
                <option value="">[Seleccione...]</option>
                 <!-- ko foreach: {data:lista_contratos, as:'item'}-->
                   <option data-bind="value:item.id,text:item.nombre"></option>
                  <!-- /ko -->
              </select>
               {% endif %}

               {% if contrato_id > 0 %}
                <input type="text" class="form-control" value="{{ contrato.nombre }}" disabled="disabled">
                <input type="hidden" id="hd_contrato_id" value="{{contrato_id}}">
               {% endif %}
            </div>

            <div class="form-group">
              <label>Tipo</label>
              <select class="form-control" data-bind="value:polizaVO.tipo_id">
                <option value="">[Seleccione...]</option>
                {% for item in tipos  %}
                  <option value="{{item.id}}">{{item.nombre}}</option>
                {% endfor %}
              </select>
            </div>

         <!--   </div> 

          </div>
        </form> -->
       </div>
     
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bind="click:guardar">Guardar</button>
        </div>      
    </div>
  </div>
</div>
<!-- /ko -->

<div id="modal_filtros" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">Filtros</h4>
      </div>
       <div class="modal-body">
        
         {% if contrato_id == 0 %}
            <div class="form-group">
              <label>Tipo Contrato</label>             
              <select class="form-control" data-bind="value:filtros.tipo_contrato_id">
                <option value="">[Seleccione...]</option>
                {% for item in  tipos_contrato %}
                  <option value="{{item.id}}">{{item.nombre}}</option>
                {% endfor %}
              </select>            
            </div>
          {% endif %}

         <form action="." method="post">
              
            {% if contrato_id == 0 %}            
               <div class="form-group">          
                <label>Contrato:</label>
                <select class="form-control" data-bind="value:filtros.contrato_id">
                  <option value="0">[Seleccionar...]</option>                 
                   <!-- ko foreach: {data:filtros.lista_contratos, as:'item'}-->
                       <option data-bind="value:item.id,text:item.nombre"></option>
                   <!-- /ko -->
                </select>           
              </div>
            {% endif %}
            <div class="form-group">          
               <label>Tipo Poliza:</label>
               <select class="form-control" data-bind="value:filtros.tipo_id">
               <option value="0">[Seleccionar...]</option>  
                {% for item in tipos %}   
                  <option value="{{ item.id }}">{{ item.nombre }}</option>
                {% endfor %}              
               </select>           
             </div>
             
             </form>

       </div>
     
        <div class="modal-footer">

         <button type="button" class="btn btn-danger" data-bind="click:limpiar_filtros">Limpiar filtros</button>

          <button type="button" class="btn btn-primary" data-bind="click:function(){ consultar(1);}">Consultar</button>

        </div>      
    </div>
  </div>
</div>

<!--Modal-->

{% endblock contenido %}


{% load static %}


{%block imports %}
    <script src='{% static "js/plugins/globalize/globalize.min.js" %}'></script>
    <script src='{% static "js/plugins/moment/moment.min.js" %}'></script>
     <script type="text/javascript" src='{% static "js/plugins/locale/es.js" %}'></script> 
    <script type="text/javascript" src='{% static "js/plugins/datepicker/js/bootstrap-datetimepicker.js" %}'></script> 
    <script type="text/javascript" src='{% static "js/plugins/accounting/accounting.min.js" %}'></script>   
  	<script type="text/javascript" src='{% static "js/plugins/fileInput/fileinput.js" %}'></script>  	
  	<script type="text/javascript" src='{% static "js/ViewModels/poliza/Poliza.js" %}?v=2.2'></script>

    <script type="text/javascript">
      
      $(document).ready(function(){   
        {% if contrato_id > 0 %}
        poliza.filtros.contrato_id({{contrato_id}});           
        {% endif %}      
        poliza.consultar(1);
      });
      poliza.contrato_id('poliza');
    </script>

{% endblock imports %}