{% extends 'page.html' %}
{% load static %}

{%block imports_css %}
<link rel="stylesheet" type="text/css" href='{% static "js/plugins/datepicker/css/bootstrap-datetimepicker.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/fileInput/fileinput.min.css" %}'>
<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" type="text/css" href='{% static "css/caroussel/bootstrap-image-gallery.min.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/caroussel/elastislide.css" %}'>
{% endblock imports_css %}

{% block title %}Tarea{% endblock title%}
{% block mapa %}
  <li><a href="{% url 'usuario.index' %}"><i class="glyphicon glyphicon-home"></i></a></li>
  <li><a href="{% url 'administrador_tarea.muro' %}">Muro</a></li>
  <li class="active">Tarea</li>
{% endblock mapa %}
{% block encabezado %}Tarea{% endblock encabezado %}

{% block opciones_listado %}
{% endblock opciones_listado %}

{% block busqueda %}
{% endblock busqueda %}

{% block contenido %}

 

  <div class="row" >

<div class="col-lg-12">
   
  
  <div class="panel panel-sky" >
          <div class="panel-heading cursor">                   
                     <span class="panel-title">Detalle de la Tarea</span>
          </div>
          <div class="panel-body">

             <div class="row">
                  <div class="col-lg-6">
                      <h5>Numero:</h5><span>{{tarea.numero}}</span>
                  </div>  

                  <div class="col-lg-6">
                      <h5>Fecha de Plazo:</h5><span>{{tarea.fecha_fin}}</span>
                  </div>               
             </div> 
             <div class="row">
                 {% if not tarea.colaborador_actual.equipo.nombre == None %}
                  <div class="col-lg-6">
                      <h5>Equipo de Trabajo:</h5><span>{{tarea.colaborador_actual.equipo.nombre}}</span>
                  </div>  
                  {% endif %}
                  <div class="col-lg-6">
                      <h5>Estado:</h5><span>{{tarea.estado.estado__nombre}}</span>
                  </div>             
             </div> 
             <div class="row">
                  <div class="col-lg-6">
                      <h5>Asunto:</h5><span>{{tarea.asunto}}</span>
                  </div>               
             </div> 
             <div class="row">
                  <div class="col-lg-12">
                      <h5>Descripcion:</h5><span>{{tarea.descripcion}}</span>
                  </div>               
             </div> 
        </div>
        <!-- end: .tray-center -->

      <!-- End: Content -->
  </div>

    <div class="panel panel-sky" >
          <div class="panel-heading cursor">                   
                     <span class="panel-title">Archivos y Comentarios de la Tarea</span>
          </div>
          <div class="panel-body">

              <p><label>Archivos:  </label></p>

                    <div class="row">
                    <!--ko if: listado_soporte_vista().length == 0 -->
                       <div class="col-xs-4">
                          <span>No tiene archivos actualmente.</span><br><br>
                          </div>
                       <!--/ko-->  
                        <!--ko if: listado_soporte_vista().length > 0 -->                        
                          <div id="links">
                          <ul id="carousel1" class="elastislide-list">                      
                              <!-- ko foreach: listado_soporte_vista -->
                               <li>
                                  <!--ko if: ruta.indexOf('.pdf')>=0  -->        
                                   <a data-bind="attr:{href: ruta_publica}" target="_blank">
                                    <img src='{% static "admin/img/pdf.jpg" %}' width="160px" height="160px">
                                    </a>
                                  <!-- /ko -->
                                   <!--ko if: ruta.indexOf('.pdf')<0  &&  ruta.indexOf('.doc')<0  && ruta.indexOf('.docx')<0-->                
                                    <a class="fancybox-effects-b"  data-gallery data-bind="attr:{href: '/administrador_tarea/ver-soporte/?id=' + id}">
                                        <img data-bind="attr:{src: ruta_publica,title:nombre}" width="160px" height="160px">
                                      </a>
                                  <!-- /ko -->
                               </li>
                                <!--/ko--> 
                            </ul>
                            </div>
                            <!--/ko--> 
                    </div>


                       <h3>Comentarios</h3>
                        <ul>
                        <!--ko if: listado_comentario().length > 0 -->
                         <!-- ko foreach: listado_comentario -->
                            <!--ko if: $index() <= $root.porcentaje() -->
                               <li> <label><span data-bind="text:usuario.persona.nombres+' '+usuario.persona.apellidos" style="font-size:13px;"></span>:</label><span style="font-size:12px;" data-bind="text:comentario"></span><br>
                                <span style="font-size:10px;" data-bind="text:fecha_format"></span></li>
                                 <!-- /ko -->                               
                          <!-- /ko -->                          
                         <!-- /ko -->
                         <!--ko if: $root.porcentaje()<listado_comentario().length-1 -->
                                 <li>  <a href="#" data-bind="click:$root.ver_mar_comentarios">
                                          Ver mas
                                        </a></li>
                          <!-- /ko -->
                         </ul>
                         <!--ko if: listado_comentario().length == 0 -->
                          <div class="alert alert-warning alert-dismissable"><i class="fa fa-warning fa-2x"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>No hay comentarios actualmente!.</div>
                          <!-- /ko -->

                         <div class="input-group">
                          <div class="input-group-btn">
                          <button class="btn btn-default" data-bind="click:addcomentarios">+</button>
                          </div>
                          <input type="text" class="form-control" placeholder="Agregar comentarios.." data-bind="value:texto_comentario,textInput:texto_comentario, event:{keypress: addcomentarios}">
                        </div>
        </div>
        <!-- end: .tray-center -->

      <!-- End: Content -->
  </div>


  <div class="panel panel-sky" >
          <div class="panel-heading cursor">                   
                     <span class="panel-title">Linea de Tiempo de la Tarea</span>
          </div>
          <div class="panel-body">

          <div class="row">
        <section id="content" class="animated fadeIn">

        <!-- Timeline Wrapper -->
        <div id="timeline" class="mt30">

          <!-- Timeline Divider -->
          <div class="timeline-divider mtn">
            <div class="divider-label">Estado de la Tarea</div>
          </div>

          <div class="row">
             <!--ko foreach:{data:listado, as:'item'}--> 
                  <!-- Timeline - Left Column -->
                  <!--ko if: $index() % 2 == 0--> 
                  <div class="col-sm-6 left-column">
                    

                    <div class="timeline-item">
                      <div class="timeline-icon">
                        <span class="glyphicon glyphicon-user text-primary"></span>
                      </div>
                      <div class="panel">
                        <div class="panel-heading">
                          <span class="panel-title">
                            <span class="glyphicon glyphicon-comment"></span> Transaccion </span>
                          <div class="panel-header-menu pull-right mr10 text-muted fs12"> 
                          <i class="fa fa-clock-o"></i><span data-bind="text:item.fecha"></span></div>
                        </div>
                        <div class="panel">
                        <div class="panel-body p10">
                         <div class="row">
                                <div class="col-lg-12">
                                    <p><strong>Asunto: </strong><span data-bind="text:item.tarea.asunto"></span></p>
                                </div>               
                           </div> 
                           <div class="timeline-body">
                           <!--ko if: item.tarea.colaborador_actual_id!=null --> 
                           <div class="row">
                                <div class="col-lg-12">
                                    <p><strong>Solicitante: </strong><span data-bind="text:item.tarea.colaborador_actual.usuario.persona.nombres+' '+item.tarea.colaborador_actual.usuario.persona.apellidos"></span></p>
                                </div>               
                           </div> 
                           <div class="row">
                                <div class="col-lg-12">
                                    <p><strong>Estado: </strong>
                                    <span class="media-heading" data-bind="text:item.estado.nombre"></span></p>
                                </div>               
                           </div> 
                           <!--/ko-->
                           <!--ko if: item.tarea.colaborador_actual_id==null --> 
                           <div class="row">
                                <div class="col-lg-12">
                                    <p><strong>Solicitante: </strong><span data-bind="text:item.tarea.usuario_responsable.persona.nombres+' '+item.tarea.usuario_responsable.persona.apellidos"></span></p>
                                </div>               
                           </div> 
                           <div class="row">
                                <div class="col-lg-12">
                                    <p><strong>Estado: </strong>
                                    <span class="media-heading" data-bind="text:item.estado.nombre"></span></p>
                                </div>               
                           </div> 
                           <!--/ko-->
                           </div>
                            <i class="fa fa-paperclip fa-2x" style="cursor:pointer;" data-bind="click:$parent.abrir_modal_soporte"></i>
                           <!--ko if: item.comentario==null || item.comentario=='' --> 
                           <i class="fa fa-comment-o fa-2x" style="cursor:pointer;" data-bind="click:$parent.abrir_modal"></i>
                           <!--/ko-->
                            <!--ko if: item.comentario!=null && item.comentario!='' --> 
                              <i class="fa fa-comment fa-2x" style="cursor:pointer;" data-bind="click:$parent.abrir_modal"></i>
                           <!--/ko-->
                        </div>
                      </div>

                      </div>
                    </div>

                  </div>

                  <!--/ko-->

                    <!-- Timeline - Right Column -->
                   <!--ko if: $index() % 2 > 0 --> 
                    <div class="col-sm-6 right-column">
                     
                     <div class="timeline-item">
                        <div class="timeline-icon">
                          <span class="glyphicon glyphicon-user text-primary"></span>
                        </div>
                        <div class="panel">
                          <div class="panel-heading">
                            <span class="panel-title">
                              <span class="glyphicon glyphicon-comment"></span>Transaccion </span>
                            <div class="panel-header-menu pull-right mr10 text-muted fs12"><i class="fa fa-clock-o"></i><span data-bind="text:item.fecha"></span></div>
                          </div>
                          <div class="panel">
                          <div class="panel-body p10">
                         <div class="row">
                                <div class="col-lg-12">
                                    <p><strong>Asunto: </strong><span data-bind="text:item.tarea.asunto"></span></p>
                                </div>               
                           </div> 
                           <div class="timeline-body">
                           <!--ko if: item.tarea.colaborador_actual_id!=null --> 
                           <div class="row">
                                <div class="col-lg-12">
                                    <p><strong>Solicitante: </strong><span data-bind="text:item.tarea.colaborador_actual.usuario.persona.nombres+' '+item.tarea.colaborador_actual.usuario.persona.apellidos"></span></p>
                                </div>               
                           </div> 
                           <div class="row">
                                <div class="col-lg-12">
                                    <p><strong>Estado: </strong>
                                    <span class="media-heading" data-bind="text:item.estado.nombre"></span></p>
                                </div>               
                           </div> 
                           <!--/ko-->
                           <!--ko if: item.tarea.colaborador_actual_id==null --> 
                           <div class="row">
                                <div class="col-lg-12">
                                    <p><strong>Solicitante: </strong><span data-bind="text:item.tarea.usuario_responsable.persona.nombres+' '+item.tarea.usuario_responsable.persona.apellidos"></span></p>
                                </div>               
                           </div> 
                           <div class="row">
                                <div class="col-lg-12">
                                    <p><strong>Estado: </strong>
                                    <span class="media-heading" data-bind="text:item.estado.nombre"></span></p>
                                </div>               
                           </div> 
                           <!--/ko-->
                           </div>
                            <i class="fa fa-paperclip fa-2x" style="cursor:pointer;" data-bind="click:$parent.abrir_modal_soporte"></i>
                           <!--ko if: item.comentario==null || item.comentario=='' --> 
                           <i class="fa fa-comment-o fa-2x" style="cursor:pointer;" data-bind="click:$parent.abrir_modal"></i>
                           <!--/ko-->
                            <!--ko if: item.comentario!=null && item.comentario!='' --> 
                              <i class="fa fa-comment fa-2x" style="cursor:pointer;" data-bind="click:$parent.abrir_modal"></i>
                           <!--/ko-->
                        </div>
                        </div>

                        </div>
                      </div>
                      
                    </div>
                 <!--/ko-->
            <!--/ko-->

          </div>


        </div>

      </section>
      </div>
     
    </div>
        <!-- end: .tray-center -->

      <!-- End: Content -->
  </div>

  </div>

  <input type="hidden" id="id_usuario" value="{{user.usuario.id}}" class="form-control" >            
   <input type="hidden" id="id_tarea" value="{{id_tarea}}" class="form-control" > 

</div>

<!--Modal-->

<div id="modal_comentario" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
        </div>

       <div class="modal-body">
        
             <div class="col-lg-12">
                <div class="panel panel-widget chat-widget">
                   <div class="panel-body" >
                    <div class="panel-heading">
                    <span class="panel-icon">
                      <i class="fa fa-pencil"></i>
                    </span>
                    <span class="panel-title">Comentario</span>
                  </div>                    
                    <div class="media">
                            <!--ko if: comentario()!=null && comentario()!='' --> 
                              <h5 class="media-heading" ><textarea class="form-control" rows="5" data-bind="text:comentario" disabled="true"></textarea>
                        </h5>
                           <!--/ko-->
                       
                      <!--ko if: comentario()==null || comentario()=='' --> 
                             <br>
                        <div class="alert alert-warning alert-dismissable"><i class="fa fa-warning"></i>No se encontraron comentarios registrado</div>
                      <!--/ko-->  
                    </div>

                  </div>
                </div>
              </div>
    </div>
  </div>
</div>
</div>

<!--Modal-->
<div id="modal_soportes" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
        </div>

       <div class="modal-body">
        <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
            <div class="form-group">
              <a style="text-decoration:none; cursor:pointer" data-bind="click:archivo_zip" data-placement="right" data-toggle="tooltip" data-original-title="Permite descargar una carpeta comprimida con los archivos seleccionados"><i class="fa fa-cloud fa-2x" aria-hidden="true" ></i> Descargar Archivos seleccionados</a>
            </div>

          <div class="form-group">
          <div data-bind="html: mensaje_soporte"></div>
          <div data-bind="visible:(listado_soporte()!=null && listado_soporte().length > 0)">
          <div class="table-responsive">
                <table class="table">
              <thead>
            <tr> 
              <th><input type="checkbox" data-bind="checked:checkall"></th>
              <th>Nombre</th>
              <th>Estado</th>
              <th></th>
            </tr>
          </thead>
          <tbody data-bind="foreach:{data:listado_soporte, as:'item'}">
            <tr>
               <td> <input type="checkbox" data-bind="checked:eliminado"></td>
              <td data-bind="text: item.nombre"></td>
               <td data-bind="text: item.asignacion_tarea.estado.nombre"></td>
                <td><a data-bind="attr:{href: item.ruta}"
                  target="_blank"><i class="fa fa-cloud-download fa-2x" aria-hidden="true"></i></a></td>
            </tr>
          </tbody>
        </table>
        </div>
        </div>
        </div>

        </form>
    </div>
  </div>
</div>
</div>

          <!--INICIO DEL VISOR-->
  <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
  <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
  <!-- The modal dialog, which will be used to wrap the lightbox content -->
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body next"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left prev">
            <i class="fa fa-chevron-left"></i>
            Previous
          </button>
          <button type="button" class="btn btn-primary next">
            Next
            <i class="glyphicon glyphicon-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div> 
  <!--FINAL DEL VISOR-->

  <!--Loading-->
  

{% endblock contenido %}

{% load static %}

{%block imports %}
    <script src='{% static "js/plugins/globalize/globalize.min.js" %}'></script>
    <script src='{% static "js/plugins/moment/moment.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/plugins/datepicker/js/bootstrap-datetimepicker.js" %}'></script>
    <script type="text/javascript" src='{% static "js/plugins/fileInput/fileinput.js" %}'></script>
    <script type="text/javascript" src='{% static "js/ViewModels/administrador_tarea/tarea.js" %}'></script>
    <script type="text/javascript" src='{% static "js/caroussel/cuadrilla/modernizr.custom.17475.js" %}'></script>
    <script type="text/javascript" src='{% static "js/caroussel/cuadrilla/jquerypp.custom.js" %}'></script>
    <script type="text/javascript" src='{% static "js/caroussel/cuadrilla/jquery.elastislide.js" %}'></script>     
    <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script type="text/javascript" src='{% static "js/caroussel/bootstrap-image-gallery.min.js" %}'></script> 


{% endblock imports %}