{% extends 'page.html' %}
{% load static %}

{%block imports_css %}
 <link rel="stylesheet" type="text/css" href='{% static "css/fileInput/fileinput.min.css" %}'>
 <link rel="stylesheet" type="text/css" href='{% static "js/plugins/datepicker/css/bootstrap-datetimepicker.css" %}'>
{% endblock imports_css %}

{% block title %}Detalle implementacion{% endblock title%}

{% block opciones_listado %}

{% endblock opciones_listado %}
{% block busqueda %}
{% endblock busqueda %}

{% block mapa %}

  <li><a href="/usuario/"><i class="glyphicon glyphicon-home"></i></a></li>
  <li><a href="../../../solicitud-servicio/solicitud/">Solicitud Servicio</a></li>
  <li class="active">Seguimiento de la solicitud</li>

{% endblock mapa %}
{% block encabezado %}Datos del proceso aplicado{% endblock encabezado %}

{% block contenido %} 
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-sky" >
				<div class="panel-heading">
          <p>Detalle del proceso: {{procesoRelacion.proceso.nombre}}</p>
				</div>
				<div data-bind="html: mensaje"></div>
				<input type="hidden" id="txtProcesoRelacionId" value="{{procesoRelacion.id}}"></input>
        <div class="panel-body" data-bind="visible:(listado()!=null && listado().length > 0)">
          <div class="col-lg-5">
            <a href="{% url 'serviciosolicitud.servicio_solicitud' %}"><i class="fa fa-arrow-circle-left fa-2x"></i>Regresar</a><br/>
            {% if procesoRelacion.proceso.apuntador == '1'%}
              <p><b>Macro-contrato:</b> {{puntero.mcontrato__nombre}} </p>
              <p><b>Proyecto:</b> {{puntero.nombre}} </p>
              <p><b>Departamento:</b> {{puntero.municipio__departamento__nombre}}</p>
              <p><b>Municipio:</b>{{puntero.municipio__nombre}} </p>
            {%else%}
              <p><b>Macro-contrato:</b> {{puntero.mcontrato__nombre}} </p>
              <p><b>Numero de contrato: </b>{{puntero.numero}}</p>
              <p><b>Nombre de contrato: </b>{{puntero.nombre}}</p>
            {% endif%}
            {% if procesoRelacion.proceso.tablaForanea %}
              <p><b>Elemento Analizado: </b>{{elementoAnalizado}}</p>
            {% endif %}
            {% if procesoRelacion.proceso.pasoAPaso %}
              {% if seguido %}
                <a id="btnDejarDeSeguirProcesoRelacion" data-bind="tooltip:{dataPlacement:'top'}" title="Al dejar de seguir un proceso, el sistema dejara de enviarle correo cada vez que el proceso presente un avance"
                href="{% url 'proceso.ConfigurarSeguimiento' procesoRelacion.id %}">
                  <font color="red"><i class="fa fa-bullhorn"></i> Dejar de seguir el proceso</font>
                </a>
              {% else %}
                <a id="btnSeguirProcesoRelacion" data-bind="tooltip:{dataPlacement:'top'}" title="Al seguir un proceso, el sistema le enviara un correo cada vez que el proceso presente un avance" 
                href="{% url 'proceso.ConfigurarSeguimiento' procesoRelacion.id %}">
                  <i class="fa fa-bullhorn"></i> Seguir el proceso
                </a>
              {% endif %}
            {% endif %}            
          </div>
          <div class="col-lg-3">
            <button class="btn btn-primary" id="btnGuardarCambios" data-bind="click:guardarCambios.bind($data,'{{procesoRelacion.id}}')"><i class="fa fa-save"></i> Guardar Cambios</button>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="progress">
                <!--<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{avance}}" aria-valuemin="0" aria-valuemax="100" style="width: {{etiquetaAvance}}%;">{{avance}}%</div>-->
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="text:etiquetaAvanceKo()+'%',attr:{'valuenow':avanceKo} ,style:{width: etiquetaAvanceKo() + '%'}"></div>

              </div>              
            </div>
            <div class="row">
              <i class="fa fa-bell "></i>:Por cumplir;
              <i class="fa fa-bell text-success"></i>:Cumplido;
              <i class="fa fa-bell text-warning"></i>:Por vencer;
              <i class="fa fa-bell text-danger"></i>:Vencido;
            </div>  
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th width="5%"></th>
                  <th width="5%">Notificacion</th>
                  <th width="20%">Actividad</th>
                  <th width="15%">Vence</th>
                  <th width="25%">Valor</th>
                  <th width="10%">Soporte</th>
                  <th width="20%">Observaciones</th>
                </tr>
              </thead>
              <tbody data-bind="foreach:{data:listado, as:'elemento'}">
                <tr>
                  <td>
                    <i class="fa fa-bell fa-2x" data-bind="css:{'text-success': elemento.estado==1,'text-warning':elemento.estado==2, 'text-danger':elemento.estado==3 }" style="font-size:16px"></i>
                    <input type="hidden" data-bind="attr:{'id':'txtId'+elemento.id,'class':'id', 'value':elemento.id}"></input>
                    <input type="hidden" data-bind="attr:{'id':'txtSoporteObligatorio'+elemento.id,'value':elemento.item.soporteObligatorio==false ? 'false' : 'true', 'class':'soporteObligatorio'}"></input>
                    
                  </td>
                  <td >
                    <div data-bind="if: elemento.item.notificacionCumplimiento=='1'">
                      <!--A nadie-->
                      <a href="#" data-bind="tooltip:{dataPlacement:'top'}" title="Notificaciones no permitidas">
                        <i class="fa fa-minus-circle fa-2x text-danger"></i>
                      </a>  
                    </div>
                    <div data-bind="if: elemento.item.notificacionCumplimiento=='2'">
                      <!--A todos los responsables del proyecto/contrato-->
                      <a href="#" data-bind="tooltip:{dataPlacement:'top'},click:$parent.abrir_modal_responsablesProyecto.bind($data,elemento.procesoRelacion.id)" title="Notificar acerca del vencimiento y cumplimiento a todos los responsables del proyecto/contrato asociado al elemento al cual se le esta haciendo seguimiento">
                        <i class="fa fa-users fa-2x"></i>
                      </a>  
                    </div>
                    <div data-bind="if: elemento.item.notificacionCumplimiento=='3'">
                      <!--Seleccionar a quien notificar-->
                      <a href="#" data-bind="tooltip:{dataPlacement:'top'},click:$parent.abrir_modal_defineResponsablesProyecto.bind($data,elemento.id,elemento.escritura)" title="Seleccionar los funcionarios a los cuales se les envia notificacion en caso de vencimiento y/o cumplimiento">
                        <i class="fa fa-user-plus fa-2x"></i>
                      </a>  

                    </div>
                  </td>
                  <td data-bind="text: elemento.item.descripcion"></td>
                    <td>
                      <div data-bind="if: elemento.item.tieneVencimiento">
                        <div data-bind="if: elemento.escritura">
                          <input type="text" data-bind="attr:{'id':'txtVencimiento'+elemento.id, 'value':elemento.fechaVencimiento, 'name':'txtVencimiento'+elemento.id, 'class':'gui-input form-control fechaVencimiento', 'disabled':elemento.itemDesHabilitado}, datePicker: elemento.fechaVencimiento"></input>
                        </div>
                        <div data-bind="ifnot: elemento.escritura">
                          <div data-bind="text: elemento.fechaVencimiento == null ? 'No definido': elemento.fechaVencimiento"></div>
                          <input type="hidden" data-bind="attr:{'id':'txtVencimiento'+elemento.id, 'value':elemento.fechaVencimiento, 'name':'txtVencimiento'+elemento.id, 'class':'gui-input form-control fechaVencimiento'}, datePicker: elemento.fechaVencimiento"></input>
                        </div>
                      </div>
                      <div data-bind="if: elemento.item.tieneVencimiento==false">
                        <p>No aplica</p>
                        <input type="hidden" data-bind="attr:{'id':'txtVencimiento'+elemento.id, 'value':'null', 'name':'txtVencimiento'+elemento.id, 'class':'gui-input form-control fechaVencimiento'}"></input>

                      </div>
                    </td>                 
                  <td>
                    <div data-bind="if: elemento.escritura">
                      <div data-bind="if: elemento.item.tipoDato==4">
                        <input type="text" data-bind="attr:{'id':'txtValor'+elemento.id,'class':'form-control valor', 'disabled':elemento.itemDesHabilitado}, value:elemento.valor!='Vacio' ? elemento.valor : '',datePicker: elemento.valor"></input>
                      </div>
                      <div data-bind="if: elemento.item.tipoDato==3">
                      <select data-bind="options: choices, 
                         optionsValue: 'id', optionsText: 'name', value:elemento.valor, attr:{'id':'txtValor'+elemento.id, 'disabled':elemento.itemDesHabilitado}" 
                         class="form-control valor">
                      </select>
                      </div>
                      <div data-bind="if: elemento.item.tipoDato==2">
                        <input type="text" data-bind="attr:{'id':'txtValor'+elemento.id,'class':'form-control valor', 'disabled':elemento.itemDesHabilitado}, value:elemento.valor!='Vacio' ? elemento.valor : ''"></input>
                      </div>
                      <div data-bind="if: elemento.item.tipoDato==1">
                        <div data-bind="if: elemento.item.id==19">
                          <!--Mostrar el select de los contratistas--> 
                          
                           <select data-bind="attr:{'id':'txtValor'+elemento.id, 'disabled':elemento.itemDesHabilitado}" class="form-control valor">
                            <option value="Vacio">[Seleccione....]</option>
                            {% for proveedor in proveedores %}
                              {% if proveedor.id|add:"0" == proveedorActual|add:"0" %}
                                <option value="{{ proveedor.id }}" selected> {{ proveedor.nombre }} </option>
                              {% else %}  
                                <option value="{{ proveedor.id }}"> {{ proveedor.nombre }} </option>
                              {% endif %} 
                            {% endfor %} 
                           </select>                       
                        </div>
                        <div data-bind="if: elemento.item.id==26">
                          <!--Mostrar el select de los contratistas--> 
                          
                           <select data-bind="attr:{'id':'txtValor'+elemento.id, 'disabled':elemento.itemDesHabilitado}" class="form-control valor">
                            <option value="Vacio">[Seleccione....]</option>
                            {% for funcionario in funcionarios %}
                              {% if funcionario.id|add:"0" == funcionarioActual|add:"0" %}
                                <option value="{{ funcionario.id }}" selected> {{ funcionario.persona__nombres }} {{ funcionario.persona__apellidos}} </option>
                              {% else %}  
                                <option value="{{ funcionario.id }}"> {{ funcionario.persona__nombres }} {{ funcionario.persona__apellidos}} </option>
                              {% endif %} 
                            {% endfor %} 
                           </select>                       
                        </div>
                        <div data-bind="ifnot: elemento.item.id==19">
                          <div data-bind="ifnot: elemento.item.id==26">
                              <input type="number" data-bind="attr:{'id':'txtValor'+elemento.id,'class':'form-control valor', 'disabled':elemento.itemDesHabilitado}, value:elemento.valor!='Vacio' ? elemento.valor : ''"></input>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div data-bind="ifnot: elemento.escritura">
                      <div data-bind="text: elemento.valor!='Vacio' ? elemento.valor : 'No registrado'">
                      </div>
                        <input type="hidden" data-bind="attr:{'id':'txtValor'+elemento.id,'class':'form-control valor'}, value:elemento.valor!='Vacio' ? elemento.valor : '',datePicker: elemento.valor"></input>

                    </div>  
                  </td>                  
                  <td>
                    <div data-bind="if: elemento.item.tieneSoporte">
                      <div data-bind="if: elemento.escritura">
                        <div style="float:left" data-bind="ifnot: elemento.itemDesHabilitado"><a href="#" data-bind="click:$parent.abrir_modal.bind($data,elemento.id)" ><i class="fa fa-paperclip fa-2x"></i></a> 
                          <div style="width:22px;
                            height:22px;
                            border-radius:10px;
                            border:2px solid blue;
                            text-align: center;
                            font-size: 12px;
                            float: right;
                            color: white;
                            background: blue;
                            font-weight: bold;" data-bind=" tooltip:{dataPlacement:'top'},text: elemento.cantidadSoportes" title="Cantidad de archivos soporte cargados "></div>                        
                        </div>
                        <div data-bind="if: elemento.item.soporteObligatorio" style="float:left" >
                          <a href="#" data-bind="tooltip:{dataPlacement:'top'}" title="Soporte obligatorio para que se cumpla el item" ><i class="fa fa-info-circle text-info fa-2x"></i></a>
                        </div>
                      </div>
                      <div data-bind="ifnot: elemento.escritura">
                        <div style="float:left" data-bind="ifnot: elemento.itemDesHabilitado"><a href="#" data-bind="click:$parent.abrir_modal_soloLectura.bind($data,elemento.id)" ><i class="fa fa-paperclip fa-2x"></i></a>
                            <div style="width:22px;
                            height:22px;
                            border-radius:10px;
                            border:2px solid blue;
                            text-align: center;
                            font-size: 12px;
                            float: right;
                            color: white;
                            background: blue;
                            font-weight: bold;" data-bind=" tooltip:{dataPlacement:'top'},text: elemento.cantidadSoportes" title="Cantidad de archivos soporte cargados"></div>  </div>
                        <div data-bind="if: elemento.item.soporteObligatorio" style="float:left" >
                          <a href="#" data-bind="tooltip:{dataPlacement:'top'}" title="Soporte obligatorio para que se cumpla el item" ><i class="fa fa-info-circle text-info fa-2x"></i></a>
                        </div>
                      </div>


                    </div>
                    <div data-bind="ifnot: elemento.item.tieneSoporte">
                      <p>No aplica</p>
                    </div>
                  </td>
                  <td>
                    <div data-bind="if: elemento.item.tieneObservacion">
                      <div data-bind="if: elemento.escritura">
                        <textarea data-bind="attr:{'id':'txtObservacion'+elemento.id, 'class':'form-control observacion', 'disabled':elemento.itemDesHabilitado}, value: elemento.observacion!='NULL' ? elemento.observacion: ''"></textarea>
                      </div>
                      <div data-bind="ifnot: elemento.escritura">
                        <div data-bind="text: elemento.observacion != null ? elemento.observacion : 'No registrado'"></div>
                        <input type="hidden" data-bind="attr:{'id':'txtObservacion'+elemento.id, 'class':'form-control observacion'}, value: elemento.observacion!='NULL' ? elemento.observacion: ''"></input>

                      </div>

                    </div>
                    <div data-bind="ifnot: elemento.item.tieneObservacion">
                      <p>No aplica</p>
                    </div>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--INICIO DE VINCULADOS-->
          <div data-bind="visible:(listadoVinculados()!=null && listadoVinculados().length > 0)">
            <hr/>
            <h3>Seguimientos vinculados al seguimiento actual</h3>
            <div class="table-responsive" data-bind="foreach:{data:listadoVinculados, as:'vinculo'}">
            <h4 data-bind="text:'Seguimiento vinculado: '+ vinculo.proceso"></h4>
            <table class="table">
              <thead>
                <tr>
                  <th width="5%"></th>
                  <th width="25%">Actividad</th>
                  <th width="15%">Vence</th>
                  <th width="25%">Valor</th>
                  <th width="10%">Soporte</th>
                  <th width="20%">Observaciones</th>
                </tr>
              </thead>
              <tbody data-bind="foreach:{data:vinculo.procesosRelacionDatos, as:'procesoRelacionDato'}">
                <tr>
                  <td>
                    <i class="fa fa-bell" data-bind="css:{'text-success': procesoRelacionDato.estado==1,'text-warning':procesoRelacionDato.estado==2, 'text-danger':procesoRelacionDato.estado==3 }" style="font-size:16px"></i>
                  </td>
                  <td data-bind="text: procesoRelacionDato.item__descripcion"></td>
                  <td data-bind="text: procesoRelacionDato.fechaVencimiento"></td>
                  <td data-bind="text: procesoRelacionDato.valor!='Vacio' ? procesoRelacionDato.valor:''"></td>
                  <td >
                      <div data-bind="if: procesoRelacionDato.item__tieneSoporte"><a href="#" data-bind="click:$root.abrir_modal_soloLectura.bind($data,procesoRelacionDato.id)" ><i class="fa fa-paperclip fa-2x"></i></a></div>
                      <div data-bind="ifnot: procesoRelacionDato.item__tieneSoporte">No aplica</div>
                  </td>
                  <td data-bind="text: procesoRelacionDato.observacion"></td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
          <!--FIN DE VINCULADOS-->
        </div>
			</div>
		</div>
		
	</div>
<!--INICIO DEL MODAL-->
<div id="modal_soportes" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
        <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <input type="hidden" id="txtProcesoRelacionDato" data-bind='value:soporteVO.procesoRelacionDato_id'></input>
          <input type="hidden" id="txtProcesoRelacionDatoSoporte" data-bind='value:soporteVO.id'></input>          
          <div class="form-group">          
            <label>Nombre:</label>
            <input type="text" class="form-control" data-bind='value:soporteVO.nombre'>
          </div>
          <div class="form-group">          
            <label>Documento:</label>
             <input type="file" id="archivo" name="archivo" class="note-image-input"  data-bind="fileData:{value:soporteVO.documento,allowedFileExtensions: ['png','jpg','jpge','pdf','zip','doc','docx','xls','xlsx','msg','ppt','pptx'],
                                     elErrorContainer: '#errorBlock', removeLabel:''}"/> 
              <input type="hidden" data-bind="value:soporteVO.documento"/>
              <small id="emailHelp" class="form-text text-muted">Tipos de archivos aceptados png, jpg, jpge, pdf, zip, doc, docx, xls, xlsx, msg, ppt y pptx.<br></small>
          </div> 
          <div class="form-group">
            <button type="button" class="btn btn-primary" data-bind="click:guardarSoporte" >Guardar</button>
            <button type="button" class="btn btn-primary" data-bind="click:limpiar" >Limpiar</button>
          </div>                   
        </form>
      
        <div data-bind="html: mensajeSoporte"></div>
        <div data-bind="visible:(listadoSoporte()!=null && listadoSoporte().length > 0)">          
          <div class="table-responsive" style="width: 80%" align="center">
            <table class="table">
              <thead>
                <tr>
                  <th width="70%">Nombre del soporte cargado</th>
                  <th width="30%">Opciones</th>
                </tr>
              </thead>
              <tbody data-bind="foreach:{data:listadoSoporte, as:'soporte'}">
                <tr>
                  <td data-bind="text:soporte.nombre"></td>
                  <td>
                    <div class="btn-group text-right">
                      <i style="cursor: pointer; color:#4a89dc" class="fa fa-ellipsis-h fa-2x dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></i>
                      <ul class="dropdown-menu" role="menu">
                        <li>
                          <a href="#" data-bind="click: $root.ver_soporte">
                            Descargar</i>
                          </a>                          
                        </li>
                        <li>
                          <a href="#" data-bind="click:$root.consultarSoporte_por_id.bind($data,soporte.id,soporte.nombre,soporte.procesoRelacionDato.id)">
                          Editar nombre</a>
                        </li>
                        <li>
                          <a href="#" data-bind="click:$root.eliminar.bind($data,soporte.id)">
                          Eliminar</a>
                        </li>

                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>          
            </table>
            <br/>
          </div>
        </div>
        
       </div>

       <!--ko if: habilitar_campos()==true -->
        <div class="modal-footer">
          
        </div>
         <!--/ko--> 

       

    </div>
  </div>
</div>
<!--FIN DEL MODAL-->
<!--INICIO DEL MODAL solo lectura-->
<div id="modal_soportes_soloLectura" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
          <input type="hidden" id="txtProcesoRelacionDato" data-bind='value:soporteVO.procesoRelacionDato_id'></input>    
        <div data-bind="html: mensajeSoporte"></div>
        <div data-bind="visible:(listadoSoporte()!=null && listadoSoporte().length > 0)">          
          <div class="table-responsive" style="width: 80%" align="center">
            <table class="table">
              <thead>
                <tr>
                  <th width="70%">Nombre del soporte cargado</th>
                  <th width="30%">Opciones</th>
                </tr>
              </thead>
              <tbody data-bind="foreach:{data:listadoSoporte, as:'soporte'}">
                <tr>
                  <td data-bind="text:soporte.nombre"></td>
                  <td>
                    <div class="btn-group text-right">
                      <i style="cursor: pointer; color:#4a89dc" class="fa fa-ellipsis-h fa-2x dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></i>
                      <ul class="dropdown-menu" role="menu">
                        <li>
                          <a href="#" data-bind="click: $root.ver_soporte">
                            Descargar</i>
                          </a>                          
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>          
            </table>
            <br/>
          </div>
        </div>
        
       </div>

       <!--ko if: habilitar_campos()==true -->
        <div class="modal-footer">
          
        </div>
         <!--/ko--> 

       

    </div>
  </div>
</div>
<!--FIN DEL MODAL-->

<!--INICIO DEL MODAL solo lectura-->
<div id="modal_soportes_responsablesProyecto" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
              
        <div data-bind="html: mensajeResponsables"></div>
        <div data-bind="visible:(listadoResponsables()!=null && listadoResponsables().length > 0)">          
          <div class="table-responsive" style="width: 80%" align="center">
            <table class="table">
              <thead>
                <tr>
                  <th width="25%">Empresa</th>
                  <th width="25%">Cargo</th>
                  <th width="40%">Nombre del funcionario</th>
                  <th width="10%">direccion de correo</th>

                </tr>
              </thead>
              <tbody data-bind="foreach:{data:listadoResponsables, as:'responsable'}">
                <tr>
                  <td data-bind="text:responsable.funcionario__empresa__nombre"></td>
                  <td data-bind="text:responsable.funcionario__cargo__nombre"></td>                  
                  <td data-bind="text:responsable.funcionario__persona__nombres +' '+ responsable.funcionario__persona__apellidos"></td>
                  <td data-bind="text:responsable.funcionario__persona__correo"></td>                                    
                </tr>
              </tbody>          
            </table>
            <br/>
          </div>
        </div>
        
       </div>

       <!--ko if: habilitar_campos()==true -->
        <div class="modal-footer">
          
        </div>
         <!--/ko--> 

       

    </div>
  </div>
</div>
<!--FIN DEL MODAL-->

<!--INICIO DEL MODAL PARA AGREGAR O QUITAR FUNCIONARIOS PARA NOTIFICAR POR CAMBIOS EN EL ProcesoRelacionDato-->
<div id="modal_defineResponsablesProyecto" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
        <input type="hidden" id="txtProcesoRelacionDatoId" name="txtProcesoRelacionDatoId" />
        <div class="col-lg-6" id="divDisponibles">
          <!--Controles para buscar y asignar el(los) funcionario(s)-->
            <div class="form-group row">
              <div class="col-lg-12">
              <select class="form-control" id="cmbEmpresas"
                data-bind="options: listadoEmpresas,
                optionsValue: 'id',
                optionsText: 'nombre',
                optionsCaption: 'Todas las empresas...',
                event: {change: cambioEmpresa}">  
              </select>
              </div>
            </div>
            <div class="form-group  row">
              <div class="col-lg-12">
                <span class="append-icon right">
                  <a href="#" data-bind="click:cmdConsultarFuncionariosDisponibles.bind($data)" >
                    <i class="fa fa-search"  id="btnBuscarFuncionariosDisponibles"></i>
                  </a>
                </span>
                <input type="text" class="form-control" id="txtBuscarDisponibles" 
                placeholder="Buscar por nombre y apellidos" 
                data-bind="event:{keypress:consulta_enter}">
              </div>
            </div>
            
            <div data-bind="html: mensajeResponsablesDisponibles"></div>
            <div data-bind="visible:(listadoResponsablesDisponibles()!=null && listadoResponsablesDisponibles().length > 0)">
              <div class="form-group  row">
                <div class="col-lg-12">
                  <button type="button" class="btn btn-sm btn-primary btn-block" data-bind="click:asignarNotificacion"><i class="fa fa-hand-o-right fa-2x"></i> Asignar funcionario a notificar</button>
                </div>
              </div>              
                <div class="checkbox-custom checkbox-alert mb5">
                  <input type="checkbox" id="checkAll">
                  <label for="checkAll"> <b>Marcar / Desmarcar </b> </label>
                </div>
                <div class="row col-lg-12" id="divResponsablesDisponibles" name="divResponsablesDisponibles"
                data-bind="foreach:{data:listadoResponsablesDisponibles, as:'item'}">
                  <div class="checkbox-custom checkbox-primary mb5">
                    <input type="checkbox" class="chkNotificacionDisponible" data-bind="attr:{id:'chkDis'+item.id}">
                    <label data-bind="text:item.persona.nombres + ' ' + item.persona.apellidos, attr:{for:'chkDis'+item.id}"> </label>
                  </div>
                </div> 
            </div>            
        </div>    
        <div class="col-lg-6">
          
          <div >
            <div class="form-group row">
              <div class="col-lg-12">
              <select class="form-control" id="cmbEmpresasAsignados"
                data-bind="options: listadoEmpresas,
                optionsValue: 'id',
                optionsText: 'nombre',
                optionsCaption: 'Todas las empresas...',
                event: {change: cambioEmpresaAsignados}">  
              </select>
              </div>
            </div>
            <div class="form-group  row">
              <div class="col-lg-12">
                <span class="append-icon right">
                  <a href="#" data-bind="click:cmdConsultarFuncionariosAsignados.bind($data)" >
                    <i class="fa fa-search"  id="btnBuscarFuncionariosDisponibles"></i>
                  </a>
                </span>
                <input type="text" class="form-control" id="txtBuscarAsignados" 
                placeholder="Buscar por nombre y apellidos" 
                data-bind="event:{keypress:consulta_enter_asignados}">
              </div>
            </div>
            <div data-bind="html: mensajeResponsablesAsignados"></div>
            <div data-bind="visible:(listadoResponsablesAsignados()!=null && listadoResponsablesAsignados().length > 0)">
            <div class="form-group  row">
              <div class="col-lg-12">
              <button type="button" class="btn btn-sm btn-primary btn-block" data-bind="click:quitarNotificacion"><i class="fa fa-hand-o-left fa-2x"></i> Quitar funcionarios a notificar</button>
              </div>
            </div>            
              
              <div class="checkbox-custom checkbox-alert mb5">
                <input type="checkbox" id="checkAllAsignados">
                <label for="checkAllAsignados"> <b>Marcar / Desmarcar </b> </label>
              </div>
              <div class="row col-lg-12" id="divResponsablesAsignados" name="divResponsablesAsignados"
              data-bind="foreach:{data:listadoResponsablesAsignados, as:'item'}">
                <div class="checkbox-custom checkbox-primary mb5">
                  <input type="checkbox" class="chkNotificacion" data-bind="attr:{id:'chk'+item.id, disabled:item.responsableTitular==true ? true : false}">
                  <label data-bind="text: item.responsableTitular==false ? item.funcionario.persona.nombres + ' ' + item.funcionario.persona.apellidos : item.funcionario.persona.nombres + ' ' + item.funcionario.persona.apellidos +' (Responsable)' , attr:{for:'chk'+item.id}"> </label>
                </div>
              </div> 
              </div>             
          </div>
        </div>
        
       </div><!--cierre modal-body-->

       <!--ko if: habilitar_campos()==true -->
        <div class="modal-footer">
          
        </div>
         <!--/ko--> 

       

    </div>
  </div>
</div>
<!--FIN DEL MODAL-->

{% endblock contenido %}

{% load static %}


{%block imports %}
    <script src='{% static "js/plugins/globalize/globalize.min.js" %}'></script>
    <script src='{% static "js/plugins/moment/moment.min.js" %}'></script>
  	<!--<script type="text/javascript" src='{% static "js/plugins/datepicker/js/bootstrap-datetimepicker.js" %}'></script>  	-->
    <script type="text/javascript" src='{% static "js/plugins/fileInput/fileinput.js" %}'></script>  
    <script type="text/javascript" src='{% static "assets/admin-tools/admin-forms/js/jquery-ui-datepicker.min.js" %}'></script> 
<script type="text/javascript" src='{% static "js/plugins/datepicker/js/bootstrap-datetimepicker.js" %}'></script>
  	<script type="text/javascript" src='{% static "js/ViewModels/procesos/ProcesoRelacionDatos.js" %}?v=1'></script>
    <script type="text/javascript">
      jQuery(document).ready(function(){
        procesoRelacionDatos.consultar({{procesoRelacion.id}});
        $("#checkAllAsignados").click(function(){
           $('.chkNotificacion:enabled').not(this).prop('checked', this.checked);
        }); 
        $("#checkAll").click(function(){
           $('.chkNotificacionDisponible').not(this).prop('checked', this.checked);
        }); 

      });

    </script>
 
{% endblock imports %}