{% extends 'page.html' %}
{% load static %}

{%block imports_css %}
  <link rel="stylesheet" type="text/css" href='{% static "js/plugins/datepicker/css/bootstrap-datetimepicker.css" %}'>
 
{% endblock imports_css %}

{% block title %}Informe Financiero{% endblock title%}
{% block mapa %}
  <li><a href="/usuario/"><i class="glyphicon glyphicon-home"></i></a></li>
  <li><a href="{% url 'financiero_movimiento.index_informe' %}">Opciones</a></li>
  <li class="active">Informe Financiero por Contratista</li>
{% endblock mapa %}
{% block encabezado %}<!--cuenta-->{% endblock encabezado %}


 {% block opciones_listado %}
{% endblock opciones_listado %} 

{% block busqueda %}  
{% endblock busqueda %}

{% block contenido %}


  <div class="row" >

    <div class="col-lg-12">
  
        <div class="row">

          <div class="panel" id="spy4">
            <div class="panel-heading">
              <span class="panel-title"></span>
              <span>      
                <a href="{% url 'financiero_movimiento.index_informe' %}"><i class="fa fa-arrow-left text-primary" style="font-size: 20px;"                aria-hidden="true"></i></a>
              </span>              
              <span>Informe Financiero por Contratista</span>

           </div>

            <div class="panel-body">

                  <div class="row">
                      <div class="col-lg-8">

                            <div class="panel-body pn">
                                  <br>
                                  <div class="col-lg-8">
                                      <div class="input-group">
                                                <input class="form-control" id="txtBuscar" name="txtBuscar" type="text" placeholder="Buscar Contratista o Codigo Acreedor" data-bind="event:{keypress:consulta_enter}">
                                                <span class="input-group-addon" style="cursor:pointer;" data-bind="click:function(){consultar(1)}"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                      
                                      <br>
                                      <div data-bind="visible:(listado()!=null && listado().length > 0)">            

                                      <div class="table-responsive">
                                            <table class="table">
                                          <thead>
                                        <tr> 
                                          <th></th>
                                          <th>Contratista</th>
                                          <th>Codigo Acreedor</th>
                                        </tr>
                                      </thead>
                                       <tbody data-bind="foreach:{data:listado, as:'item'}">
                                          <tr>
                                           <td> <input type="radio" name="optradio" data-bind="checked:$parent.bdi_contratista,value:item.id"></td>
                                          <td data-bind="text: item.nombre"></td>
                                           <td data-bind="text: item.codigo_acreedor"></td>           
                                        </tr>
                                      </tbody>
                                    </table>
                                    </div>
                                    
                                      
                                    
                                       <div id="paginacion" >
                                                  <div data-bind="pagination: {
                                                               currentPage: paginacion.pagina_actual,
                                                               totalCount: paginacion.total,
                                                               pageSize:paginacion.cantidad_por_paginas,
                                                               maxPages: paginacion.maxPaginas,
                                                               directions: paginacion.direcciones,
                                                               boundary: paginacion.limite,
                                                               text: paginacion.text }">

                                                  </div>
                                              </div>
                                              </div>


                                      </div>
                                      <br>

                                    
                      </div>
                    
                  </div>


                     <div class="row">
                      <div class="col-lg-4">

                               <div class="form-group">
                                  <label>Fecha de Corte</label>
                                  <div class="input-group date" id='datetimepicker6'>
                                   <input  type="text" class="form-control" data-bind="datePicker:fecha,value:fecha" onkeypress="return false">
                                    <label for="fecha_nacimiento" class="input-group-addon cursor"><i class="fa fa-calendar" ></i>
                                    </label>

                                  </div>   
                              </div>
                                    
                      </div>
                    
                  </div>

                 

                  <button type="button" class="btn btn-primary" data-bind="click:exportar_informe">
                    <i class="fa fa-print"></i> Exportar
                  </button>

             

            </div>
          </div>

        </div><!--cierra row de validacion de la tabla-->

    </div><!--col-lg-12" -->
  </div><!--cierra row -->


 <input type="hidden" id="id_empresa" value="{{user.usuario.empresa.id}}" class="form-control" >  

<!--Loading-->
  
{% endblock contenido %}

{% load static %}

{%block imports %}

  <script src='{% static "js/plugins/globalize/globalize.min.js" %}'></script>
  <script src='{% static "js/plugins/moment/moment.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/plugins/datepicker/js/bootstrap-datetimepicker.js" %}'></script>
  <script type="text/javascript" src='{% static "js/ViewModels/financiero/informe_financiero_contratista.js" %}'></script>

  <script type="text/javascript">

    $(document).ready(function () {
      //cuenta.consultar(1);//iniciamos la primera funcion
      //$('#txtBuscar').val(sessionStorage.getItem("dato_financiero"));
     // cuenta.cargar(1);//iniciamos la primera funcion
      cuenta.consultar(1);
    
    });  

  </script>

{% endblock imports %}

