{% extends 'page.html' %}
{% load static %}

{%block imports_css %}
 <link rel="stylesheet" type="text/css" href='{% static "css/fileInput/fileinput.min.css" %}'>
 <link rel="stylesheet" type="text/css" href='{% static "js/plugins/datepicker/css/bootstrap-datetimepicker.css" %}'>
 
{% endblock imports_css %}

{% block title %}Financiero movimientos{% endblock title%}
{% block mapa %}
  <li><a href="/usuario/"><i class="glyphicon glyphicon-home"></i></a></li>
  <li><a href="{% url 'financiero_cuenta.cuenta' %}">Cuentas</a></li>
  <li class="active">Movimientos</li>
{% endblock mapa %}
{% block encabezado %}<!--cuenta-->{% endblock encabezado %}

    {% block opciones_listado %}
        {% if app in perms %}
          {% if app|add:'.add_'|add:model in perms%}        
            <li>
              <a href="#" data-bind="click:abrir_modal" data-placement="right"  data-toggle="tooltip" data-original-title="Agregar nuevo registro">
                 <i class="fa fa-plus" style="font-size: 20px;"></i>
              </a>
            </li>
          {% endif %}
        {% endif %}
        {% if app in perms %}
          {% if app|add:'.delete_'|add:model in perms%}   
            <li>
              <a href="#" data-bind="click:eliminar" data-placement="right" data-toggle="tooltip" data-original-title="Eliminar registro(s)">
                  <i class="fa fa-trash" style="font-size: 20px;"></i>
              </a>
            </li>
          {% endif %}
        {% endif %}
<!--         <li>
          <a href="#" data-bind="click:exportar_excel" data-placement="right"  data-toggle="tooltip" data-original-title="Exportar listado">
              <i class="fa fa-cloud-download" style="font-size: 20px;"></i>
          </a>
        </li> -->

      {% endblock opciones_listado %}  

{% block contenido %}



  <div class="row" >

    <div class="col-lg-12">
  
          <div class="panel" id="spy4">
            <div class="panel-heading">
              <span class="panel-title"></span>
              <span>      
                <a href="{% url 'financiero_cuenta.cuenta' %}"><i class="fa fa-arrow-left text-primary" style="font-size: 20px;"                aria-hidden="true"></i></a>
              </span>                
              <span>Financiero movimientos cuentas</span>

               <span data-bind="text:'- N° de Registros: ' + paginacion.totalRegistrosBuscados() + ' de ' + paginacion.total()"></span>

<!--               <span class="panel-controls">
                <a  data-placement="top"  data-toggle="tooltip" title="" data-original-title="Filtrar movimientos cuentas" data-bind="click:filtrar_movimiento" data-toggle="modal" style="cursor:pointer;">
                    <i class="fa fa-filter fa-2x"></i>
                </a>
              </span> -->

            </div>

            <div class="panel-body" >
              <div class="col-lg-3">
                  <strong style="font-size: 15px;">Banco : </strong>
                  <span data-bind="text:banco"></span><br> 

                <strong style="font-size: 15px;">Número : </strong>
                  <span data-bind="text:numero"></span><br> 
                <strong style="font-size: 15px;">Tipo : </strong>
                  <span data-bind="text:tipo"></span><br> 
                <strong style="font-size: 15px;">Nombre : </strong>
                  <span data-bind="text:nombre"></span><br>              
                <strong style="font-size: 15px;">Saldo en cuenta: <span style="color: green;" data-bind="text: formatMoney(suma_ingreso()+suma_rendimiento()-suma_egreso())"></span></strong><br>
              </div>
              <div class="col-lg-9"> 
                 <div class="form-group col-lg-3">
                  <label>Desde</label>
                  <div class="input-group date">

                    <input class="form-control" id="desde_filtro" name="desde_filtro" type="text" placeholder="Seleccione la fecha" data-bind="value:desde_filtro,datePicker:desde_filtro" onkeypress="return false">
                    <label for="fecha_desde" class="input-group-addon cursor"><i class="fa fa-calendar"></i>
                    </label>

                  </div>   
                </div>


                <div class="form-group col-lg-3">
                  <label>Hasta</label>
                  <div class="input-group date">

                    <input class="form-control" id="hasta_filtro" name="hasta_filtro" type="text" placeholder="Seleccione la fecha" data-bind="value:hasta_filtro,datePicker:hasta_filtro" onkeypress="return false">
                    <label for="fecha_hasta" class="input-group-addon cursor"><i class="fa fa-calendar"></i>
                    </label>

                  </div>   
                </div>  


                <div class="form-group col-lg-3">
                  <label>Tipo de movimiento</label>
                    <select class="form-control" id="tipo_filtro" name="tipo_filtro">
                      <option value="0">[Todos...]</option>
                        <!--ko foreach:{ data:lista_tipo_select, as:'item'} -->
                        <option data-bind="value:item.id,text:item.nombre"></option>
                        <!--/ko-->
                  </select>
                </div>
                <div class="col-lg-3">
                  <div class="row">
                    <div class="col-lg-12">
                      <button style="width: 100%;" type="button" class="btn btn-primary" data-bind="click:function(){consultar(1);}">
                        <i class="fa fa-filter"></i> Filtrar datos
                      </button>
                    </div>
                  </div>
                  <br/>                  
                  <div class="row">
                    <div class="col-lg-12">
                      <button style="width: 100%;" type="button" class="btn btn-primary" data-bind="click:function(){exportar_excel_movimiento();}">
                        <i class="fa fa-cloud-download"></i> Exportar a excel
                      </button>            
                    </div>        
                  </div>
                </div>
              </div>
              <div class="row">
                <div data-bind="html: mensaje"></div>
              </div>

              <br/>
              <div class="table-responsive" data-bind="visible:(listado()!=null && listado().length > 0)">
 
                <table class="table" >
                  <thead>
                      <tr>
                        {% if 'financiero.change_financierocuentamovimiento' in perms %}
                        <th style="width:10%">
                            <div class="option-group field admin-form">
                              <label class="option option-primary"  style="">
                                <input type="checkbox" data-bind="checked:checkall">
                                <span class="checkbox"></span>
                              </label>
                            </div> 
                        </th>
                        {% endif %}
                        <th style="width:15%">Fecha</th>
                        <th style="width:15%">Valor</th>
                        <th style="width:15%">Tipo</th>
                        <th style="width:35%">Descripción</th>
                        {% if 'financiero.change_financierocuentamovimiento' in perms %}
                          <th style="width:10%"></th>
                        {% endif %}
                      </tr>
                  </thead>

                  <tbody data-bind="foreach:{data:listado, as:'item'}">
                    <tr data-bind="css:{'success': item.tipo.id == 31,'danger': item.tipo.id == 29}" class="success">
                      {% if 'financiero.change_financierocuentamovimiento' in perms %}
                      <td>
                          <div class="option-group field admin-form">
                            <label class="option option-primary"  style="">
                              <input type="checkbox" data-bind="checked:eliminado,value:id">
                              <span class="checkbox"></span>
                            </label>
                          </div>  
                      </td> 
                      {% endif %}
                      <td data-bind="text: item.fecha"></td>
                        <!--ko if: item.tipo.id== 29-->
                          <td class="text-right" data-bind="text:formatMoney(-item.valor)"></td>
                        <!--/ko -->

                        <!--ko if: item.tipo.id !=29-->
                          <td class="text-right" data-bind="text: formatMoney(item.valor)"></td>
                        <!--/ko -->

                      <td data-bind="text: item.tipo.nombre"></td>
                      <td data-bind="text: item.descripcion"></td>
                      <td>

                        {% if 'financiero.change_financierocuentamovimiento' in perms %}

                          <!--ko if: item.bloquear !=1-->
                            <a href="#" data-bind="click:$root.consultar_por_id">
                              <i class="fa fa-pencil-square-o fa-2x"></i>
                            </a>
                          <!--/ko -->
                        {% endif %}
                        
                      </td>
                    </tr>
                     
                  </tbody>
                </table>

                <div id="paginacion" >
                  <div data-bind="pagination: {
                                currentPage: paginacion.pagina_actual,
                                totalCount: paginacion.total,
                                pageSize:paginacion.cantidad_por_paginas,
                                maxPages: paginacion.maxPaginas,
                                directions: paginacion.direcciones,
                                boundary: paginacion.limite,
                                text: paginacion.text }">

                  </div>
                </div>

                
              </div>

            </div>
          </div>

        </div><!--cierra row de validacion de la tabla-->

    </div><!--col-lg-12" -->
  </div><!--cierra row -->


<!--Modal-->

<div id="modal_acciones" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">

        <form action="." method="post">
        {% csrf_token %}

          <div class="form-group">
            <label>Fecha (*)</label>
            <div class="input-group date">

              <input class="form-control" type="text" placeholder="Seleccione la fecha"
              data-bind="datePicker:movimiento_cuentaVO.fecha,value:movimiento_cuentaVO.fecha, dateTimePickerOptions:{maxDate:new Date()}" onkeypress="return false">
              
              <label for="fecha" class="input-group-addon cursor"><i class="fa fa-calendar"></i>
              </label>

            </div>   
          </div> 

          <div class="form-group">
            <label>Tipo de movimiento (*)</label>
              <select class="form-control" data-bind="value:movimiento_cuentaVO.tipo_id">
                <option value="">[Seleccione...]</option>
                  <!--ko foreach:{ data:lista_tipo_select, as:'item'} -->
                  <option data-bind="value:item.id,text:item.nombre"></option>
                  <!--/ko-->
            </select>
          </div>

          <!--ko if:validacion_tipo_cuenta()==32-->

          <div class="form-group">
            <label>Desde</label>
            <div class="input-group date">

              <input class="form-control" type="text" placeholder="Seleccione la fecha"
              data-bind="datePicker:movimiento_cuentaVO.desde,value:movimiento_cuentaVO.desde
              " onkeypress="return false">

              <label for="desde" class="input-group-addon cursor"><i class="fa fa-calendar"></i>
              </label>

            </div>   
          </div> 

          <div class="form-group">
            <label>Hasta</label>
            <div class="input-group date">

              <input class="form-control" type="text" placeholder="Seleccione la fecha"
              data-bind="datePicker:movimiento_cuentaVO.hasta,value:movimiento_cuentaVO.hasta
              " onkeypress="return false">

              <label for="hasta" class="input-group-addon cursor"><i class="fa fa-calendar"></i>
              </label>

            </div>   
          </div> 

          <!--/ko-->

          <div class="form-group">
            <label>Valor</label>
              <input type="text" data-bind="value:movimiento_cuentaVO.valor.formatted,onlyNumber:movimiento_cuentaVO.valor" class="form-control" placeholder="Dígite el valor del movimiento"/>
          </div>


          <div class="form-group">
            <label>Descripción</label>
            <textarea rows="3" data-bind="value:movimiento_cuentaVO.descripcion" class="form-control" placeholder="Dígite la descripción"></textarea>
          </div>

        </form>

       </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bind="click:guardar">
            <i class="fa fa-floppy-o"></i> Guardar
          </button>
        </div>

    </div>
  </div>
</div>

<!--Modal-->



<!--Modal para generar informe-->

<div id="modal_informe" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
        </div>
        <div class="modal-body">

          <form>

            <div class="form-group">
              <label>Desde</label>
              <div class="input-group date">

                <input class="form-control" id="desde" name="desde" type="text" placeholder="Seleccione la fecha" data-bind="value:desde,datePicker:desde" onkeypress="return false">
                <label for="fecha_desde" class="input-group-addon cursor"><i class="fa fa-calendar"></i>
                </label>

              </div>   
            </div>


            <div class="form-group">
              <label>Hasta</label>
              <div class="input-group date">

                <input class="form-control" id="hasta" name="hasta" type="text" placeholder="Seleccione la fecha" data-bind="value:hasta,datePicker:hasta" onkeypress="return false">
                <label for="fecha_hasta" class="input-group-addon cursor"><i class="fa fa-calendar"></i>
                </label>

              </div>   
            </div>  

          </form>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bind="click:exportar_excel_movimiento">
            <i class="fa fa-print"></i> Exportar
          </button>
        </div>

    </div>
  </div>
</div>

<!--Fin del modal para generar informe-->


<!--Modal filtrar las cuentas-->

  <div id="modal_filtro_movimiento" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
          </div>
          <div class="modal-body">

             <div class="form-group">
              <label>Desde</label>
              <div class="input-group date">

                <input class="form-control" id="desde_filtro" name="desde_filtro" type="text" placeholder="Seleccione la fecha" data-bind="value:desde_filtro,datePicker:desde_filtro" onkeypress="return false">
                <label for="fecha_desde" class="input-group-addon cursor"><i class="fa fa-calendar"></i>
                </label>

              </div>   
            </div>


            <div class="form-group">
              <label>Hasta</label>
              <div class="input-group date">

                <input class="form-control" id="hasta_filtro" name="hasta_filtro" type="text" placeholder="Seleccione la fecha" data-bind="value:hasta_filtro,datePicker:hasta_filtro" onkeypress="return false">
                <label for="fecha_hasta" class="input-group-addon cursor"><i class="fa fa-calendar"></i>
                </label>

              </div>   
            </div>  


            <div class="form-group">
              <label>Tipo de movimiento</label>
                <select class="form-control" id="tipo_filtro" name="tipo_filtro">
                  <option value="0">[Seleccione...]</option>
                    <!--ko foreach:{ data:lista_tipo_select, as:'item'} -->
                    <option data-bind="value:item.id,text:item.nombre"></option>
                    <!--/ko-->
              </select>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bind="click:function(){consultar(1);}">
              <i class="fa fa-search"></i> Filtrar
            </button>
          </div>

      </div>
    </div>
  </div><!--cierra modal_filtro-->

  <!--Fin del modal de filtro-->



<!--Loading-->
  
{% endblock contenido %}

{% load static %}

{%block imports %}

  <script src='{% static "js/plugins/globalize/globalize.min.js" %}'></script>
  <script src='{% static "js/plugins/moment/moment.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/plugins/datepicker/js/bootstrap-datetimepicker.js" %}'>
  </script>

  <script src='{% static "js/plugins/accounting/accounting.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/plugins/fileInput/fileinput.js" %}'></script>
  <script type="text/javascript" src='{% static "js/ViewModels/financiero/movimiento_cuenta.js" %}?v=4'></script>

  <script type="text/javascript">

    $(document).ready(function () {

      movimiento.movimiento_cuentaVO.cuenta_id({{id_cuenta}});
      movimiento.consultar(1);//iniciamos la primera funcion
      movimiento.consultar_lista_tipo();
      // movimiento.encabezado_movimiento();
    });  

  </script>

{% endblock imports %}

