{% extends 'page.html' %}
{% load static %}

{%block imports_css %}
 <link rel="stylesheet" type="text/css" href='{% static "css/fileInput/fileinput.min.css" %}'>

  <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyDP-V_ViyXNNnyrI9T3KyqmLfOMq_YA5I8"></script> -->
<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBJIu6W6VBANXP1Tq6mCKhjvupUARUNIuI'></script>
{% endblock imports_css %}

{% block encabezado %}
  <a href="{% url 'avanceObraLite.presupuesto' cronograma_id  %}" data-placement="right"    
    data-toggle="tooltip" data-original-title="Regresar al presupuesto">
    <i class="fa fa-arrow-left" style="font-size: 20px;"></i>
  </a>
  Apoyos
{% endblock encabezado %}

{% block title %}Apoyos{% endblock title%}
{% block mapa %}
  &nbsp;&nbsp;&nbsp;
  <li><a href="{% url 'usuario.index' %}"><i class="glyphicon glyphicon-home"></i></a></li>
  <li><a href="{% url 'avanceObraLite.cronograma' %}">Cronograma</a></li>
  <li><a href="{% url 'avanceObraLite.cronograma_proyecto' proyecto_id %}">Cronograma de Proyecto</a></li>
  <li><a href="{% url 'avanceObraLite.presupuesto' cronograma_id %}">Presupuesto</a></li>
  <li class="active">Apoyos</li>
{% endblock mapa %}

{% block opciones_listado %}
            <li>
              <a href="#" data-bind="click:abrir_modal_carga">
                  <i class="fa fa-upload" style="font-size: 20px;"></i>
              </a>
            </li>
{% endblock opciones_listado %}

{% block contenido %}

 

  <div class="row" >

<div class="col-lg-12">
  
  
      <div id="map" class="col-lg-12"  style="border-color:black;border-style: solid;height: 600px;">
      </div>
  </div>

</div>


<input type="hidden" id="id_empresa" value="{{user.usuario.empresa.id}}" class="form-control" >  
<input type="hidden" id="id_presupuesto" value="{{id_presupuesto}}" class="form-control" >  
<input type="hidden" id="id_capa_manual" value="{{id_capa_manual}}" class="form-control" >  
<input type="hidden" id="id_capa_archivo" value="{{id_capa_archivo}}" class="form-control" >  



  <!--Loading-->

  <!--Modal-->

<div id="modal_acciones" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
        <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" data-bind="value:apoyoVO.nombre" class="form-control" >           
        </div>    
        <div class="modal-footer">

          <button type="button" class="btn btn-primary" data-bind="click:guardar">Guardar</button>
        </div>      
        </form>
    </div>
  </div>
</div>
</div>


<!--Modal-->

<div id="modal_cargar" class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">
        <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <Strong>Proyecto:  {{presupuesto.cronograma.proyecto.nombre}}</Strong><br><br>
        <Strong>Esquema:  {{presupuesto.cronograma.esquema.nombre}}</Strong><br><br>
        <Strong>Presupuesto:  {{presupuesto.nombre}}</Strong><br><br>
        
         <div class="form-group">
            <a href="#" data-bind="click:descargar_plantilla"><label style="cursor: pointer;">Plantilla para diligenciar <i class="fa fa-arrow-down" style="font-size: 20px;cursor: pointer;"></i></label></a>       
        </div>


        <div class="form-group">          
          <label>Archivo</label>
           <input type="file" class="note-image-input" id="archivo" name="archivo"  data-bind="fileData:{value:archivo_carga,allowedFileExtensions: ['xls','xlsx'],elErrorContainer: '#errorBlock', removeLabel:''}"/> 
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-primary" data-bind="click:guardar_datos">Iniciar Carga</button>
        </div>    
        </form>
    </div>
  </div>
</div>
</div>

<!-- Inicio Modal unidades constructivas y materiales a ejecutar -->
<div id="modal_cantidades" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">Cantidades de obra</h4>
      </div>
       <div class="modal-body">
        <div class="panel">
          <div class="panel-heading">
            <ul class="nav panel-tabs-border panel-tabs panel-tabs-left">
              <li class="active">
                <a href="#tab2_1" data-toggle="tab">Unidades constructivas</a>
              </li>
              <li>
                <a href="#tab2_2" data-toggle="tab">Materiales</a>
              </li>
            </ul>
          </div>
          <div class="panel-body">
            <div class="tab-content pn br-n">
              <div id="tab2_1" class="tab-pane active">
                <div class="row">
                  <div class="col-md-10">
                    <div data-bind="html: mensajeUc"></div> 
                    <div class="table-responsive" data-bind="visible:(listadoUc()!=null && listadoUc().length > 0)">
                      <h4>Listado de Unidades constructivas</h4>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Codigo</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                          </tr>
                        </thead>
                        <tbody data-bind="foreach:{data:listadoUc, as:'item'}">
                          <td data-bind="text: item.codigo"></td>
                          <td data-bind="text: item.descripcion"></td>
                          <td data-bind="text: item.cantidad"></td>
                        </tbody>
                      </table>
                    </div>                    
                  </div>
                </div>
              </div>
              <div id="tab2_2" class="tab-pane">
                <div class="row">
                  <div class="col-md-10">
                    <div data-bind="html: mensajeMateriales"></div> 
                    <div class="table-responsive" data-bind="visible:(listadoMateriales()!=null && listadoMateriales().length > 0)">
                      <h4>Listado de materiales</h4>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Codigo</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                          </tr>
                        </thead>
                        <tbody data-bind="foreach:{data:listadoMateriales, as:'item'}">
                          <td data-bind="text: item.codigo"></td>
                          <td data-bind="text: item.descripcion"></td>
                          <td data-bind="text: item.cantidad"></td>
                        </tbody>
                      </table>
                    </div>                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin Modal unidades constructivas y materiales a ejecutar -->

  

{% endblock contenido %}

{% load static %}

{%block imports %}
  <script type="text/javascript" src='{% static "js/plugins/fileInput/fileinput.js" %}'></script>
    
    <script type="text/javascript" src='{% static "js/ViewModels/avanceObraLite/apoyo_con_gps.js" %}'></script>
{% endblock imports %}