*.pyc
__pycache__
myvenv
venv
db.sqlite3
.DS_Store
media
empresa/admin.pyc
*.pyc
empresa/admin.pyc
*.pyc
sinin4/settings.pyc
sinin4/urls.pyc
sinin4/wsgi.pyc
*.pyc
usuario/admin.pyc
*.pyc
*.docx
*.pyc
*.pyc
empresa/models.pyc
*.pyc
*.pyc
correspondencia/migrations/0002_auto_20170904_0931.py
*.pyc
empresa/models.pyc
*.pyc
empresa/models.pyc
empresa/models.pyc

multa/migrations/0002_auto_20170911_1526.py
multa/migrations/0002_solicitudpronunciamiento.py
correspondencia/migrations/0002_auto_20170920_1703.py


correspondencia/migrations/0002_correspfijo_estado.py
*.xlsx
empresa/admin.pyc
usuario/views.pyc
usuario/models.pyc
empresa/models.pyc
empresa/models.pyc
empresa/views.pyc
usuario/admin.pyc
usuario/models.pyc
usuario/urls.pyc


empresa/admin.pyc
empresa/admin.pyc
*.pyc
*.pyc
*.pyc
empresa/models.pyc
empresa/models.pyc
empresa/views.pyc
empresa/models.pyc
empresa/admin.pyc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

celerybeat.pid
celerybeat-schedule
celerybeat-schedule
papelera/
staticfiles/
static/estructuras/
*.pid
*.pyc
.env
*.txt
*.log
*.out
CARIBEMAR2023.pem
.env.prod
.env.local
