{% extends 'page.html' %}
{% load static %}

{%block imports_css %}
	<link rel="stylesheet" type="text/css" href='{% static "css/fileInput/fileinput.min.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "js/plugins/datepicker/css/bootstrap-datetimepicker.css" %}'>
	<!-- <link rel="stylesheet" type="text/css" href='{% static "js/plugins/tagmanager/tagmanager.css" %}'> -->
{% endblock imports_css %}

{% block title %}Cruce{% endblock title%}
	{% block mapa %}
	  <li><a href="{% url 'usuario.index' %}"><i class="glyphicon glyphicon-home"></i></a></li>
	  <li><a href="{% url 'factura.inicio' %}">Opciones</a></li>
	  <li class="active">Cruce</li>
	{% endblock mapa %}
{% block encabezado %}<!-- Cruce -->{% endblock encabezado %}

{% block opciones_listado %}
  {% if app in perms %}
    {% if app|add:'.add_'|add:model in perms%}        
      <li>
        <a href="#">
          <i class="fa fa-plus" data-bind="click:abrir_modal" style="font-size: 20px;"></i>
        </a>
      </li>
    {% endif %}
		<li>
			<a href="#">
				<i class="fa fa-cloud-download" data-bind="click:exportar_excel" style="font-size: 20px;"></i>
			</a>
		</li>
		{% if app|add:'.delete_'|add:model in perms%}
      <li>
        <a href="#">
          <i class="fa fa-trash" data-bind="click:eliminar" style="font-size: 20px;"><div><div><div></div></div></div></i>
        </a>
      </li>
    {% endif %}
	{% endif %}
{% endblock opciones_listado %}

{% block contenido %}

<div class="alert alert-default light alert-dismissable" data-bind="visible:(info_contrato() != ''), dropdown">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <i class="fa fa-cog pr10 hidden"></i>
  <span data-bind="html:info_contrato"></span>
</div>

<!--Inicio de la table -->
<div class="row" data-bind="visible:visible_listado">
  
  <div class="col-lg-12">

		<div class="panel panel-sky">
			<div class="panel-heading">
				<span class="panel-title">
					<span>      
						<a href="{% url 'factura.inicio' %}"><i class="fa fa-arrow-left text-primary" style="font-size: 20px;"						aria-hidden="true"></i></a>
					  </span>					
					Listado Compensaciones
				</span>
				<!-- <div class="pull-right">
					<a href="#" title="Filtrar"><i data-bind="click:abrir_filtro" class="fa fa-filter fa-3x" style="color:#4a89dc; cursor:pointer;"></i></a>
				</div> -->
      </div>
			<div class="panel-body">
				<div data-bind="html: mensaje"></div>
				<div class="table-responsive" data-bind="visible:(listado()!=null && listado().length > 0), dropdown">
					<table class="table">
						<thead>
							<tr>
								<th>
									<div class="option-group field admin-form">
										<label class="option option-primary" >
											<input name="mobileos" value="ok" type="checkbox" data-bind="checked:checkall">
											<span class="checkbox"></span>
										</label>
									</div>
								</th>
								<th>N° Contrato</th>
								<th>Fecha</th>
								<th>Valor</th>
								<th style="width: 10%;">Opciones</th>
							</tr>
						</thead>
						<tbody>
							<!--ko foreach:{ data:listado, as:'item'} -->
								<tr>
									<td>
										<div class="option-group field admin-form" >
											<label class=" mt10 option option-primary"  >
												<input name="mobileos" type="checkbox" data-bind="checked:eliminado,value:id" />
												<span class="checkbox"></span>
												<!-- <span data-bind="text: item.nombre"></span> -->
											</label>
										</div><!-- end .option-group section -->
									</td>
									<td data-bind="text: item.contrato.numero"></td>
									<td data-bind="text: item.fecha"></td>
									<td data-bind="text: formatMoney(item.valor)"></td>
									<td>
										<div class="btn-group text-right">
											<i style="cursor: pointer; color:#4a89dc" class="fa fa-ellipsis-h fa-2x dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></i>
											<ul class="dropdown-menu" role="menu">
												<li>
													<a href="#" data-bind="click:$root.consultar_por_id_detalle">Ver Detalle</a>
												</li>
												<li>
													<a href="#" data-bind="click:$root.reporteCruce">Reporte</a>
												</li>
												
											</ul>
										</div>
									</td>
								</tr>
							<!--/ko-->
						</tbody>
					</table>
					<div id="paginacion" >
						<div data-bind="pagination: {
									   currentPage: paginacion.pagina_actual,
									   totalCount: paginacion.total,
									   pageSize:paginacion.cantidad_por_paginas,
									   maxPages: paginacion.maxPaginas,
									   directions: paginacion.direcciones,
									   boundary: paginacion.limite,
									   text: paginacion.text }">
						</div>
					</div>
				</div>

			</div>
		</div><!-- /.panel panel-sky -->

  </div>
</div><!-- end section -->
<!--Fin de la table -->

<!--Inicio - datos a Cruzar -->
	<div class="section row" data-bind="visible:visible_table">
		<div class="col-md-6">
			{% include 'factura/_buscarAnticipoCruce.html' %}
		</div>
		<div class="col-md-6">
			{% include 'factura/_buscarFacturaCruce.html' %}
		</div>
	</div><!-- ./section row -->
	<div class="section row" data-bind="visible:visible_table">
		<div class="col-md-5">

		</div>
		<div class="col-md-3">
			<button type="button" class="btn btn-primary" data-bind="click:confirmarCruce">Compensar Registro</button>
			<button type="button" class="btn btn-primary" data-bind="click:cancelarCruce">Cancelar</button>
		</div>
		<div class="col-md-4">

		</div>
	</div><br/><!-- ./section row -->
	<div class="section row" data-bind="visible:visible_table">
		<div class="col-md-6">
			{% include 'factura/_buscarCesionCruce.html' %}
		</div>
		<div class="col-md-6">
			{% include 'factura/_buscarDescuentoCruce.html' %}
		</div>
	</div><!-- ./section row -->
	<div class="section row" data-bind="visible:visible_table">
		<div class="col-md-6">
			{% include 'factura/_buscarMultaCruce.html' %}
		</div>
		<div class="col-md-6">

		</div>
	</div><!-- ./section row -->
<!--Fin - datos a Cruzar -->

<!--Inicio Modal - Buscar contrato -->
<div id="modal_contrato" style="overflow:auto;" data-backdrop="static" data-keyboard="false" class="modal fade bd-example-modal-ls" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-ls">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="gridModalLabel">Buscar Contrato</h4>
			</div>
			<div class="modal-body">

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>Tipo de Contrato:</label>
							<select class="form-control" data-bind="value:buscar_contrato.tipo_contrato">
								<option value="">[Seleccione...]</option>
								{% for item in tipos %}
									<option value="{{ item.id }}">{{ item.nombre }}</option>
								{% endfor %}
							</select>
						</div>

						<div class="form-group">
							<label>Número o Nombre:</label>
							<input class="form-control" data-bind='value:buscar_contrato.nom_num_contrato' type="text">
						</div>
					</div>
				</div><br/>
				<div data-bind="html: mensaje_cont"></div>

				<div class="panel panel-sky" data-bind="visible:(lista_contrato()!=null && lista_contrato().length > 0)">
					<div class="panel-heading">
						<span class="panel-title">
							Listado de contratos
						</span>
					</div>
					<div class="panel-body">
						<div class="table-responsive" data-bind="dropdown">
							<table class="table">
								<thead>
									<tr>
										<th>Número</th>
										<th>Nombre</th>
										<th>Seleccionar</th>
									</tr>
								</thead>
								<tbody>
									<!--ko foreach:{ data:lista_contrato, as:'item'} -->
										<tr>
											<td data-bind="text: item.numero"></td>
											<td data-bind="text: item.nombre"></td>
											<!-- <td>
												<i data-bind="click:$root.ponerContrato" style="cursor: pointer; color:#4a89dc" class="fa fa-check fa-2x"></i>
											</td> -->
											<td>
												<div class="col-md-9 radio-custom radio-primary mb5">
													<input data-bind="checked: $root.cruceVO.contrato_id, attr: { id: 'idcontrato'+item.id, value:item.id }" type="radio" value=""  name="referencia">
													<label data-bind="attr: { for: 'idcontrato'+item.id }, click:$root.ponerContrato" ></label>
												</div>
											</td>
										</tr>
									<!--/ko-->
								</tbody>
							</table>
							<div id="paginacion2" >
								<div data-bind="pagination: {
											   currentPage: paginacion2.pagina_actual,
											   totalCount: paginacion2.total,
											   pageSize:paginacion2.cantidad_por_paginas,
											   maxPages: paginacion2.maxPaginas,
											   directions: paginacion2.direcciones,
											   boundary: paginacion2.limite,
											   text: paginacion2.text }">
								</div>
							</div>
						</div>

					</div>
				</div><!-- /.panel panel-sky -->

			</div><!-- /.modal-body -->

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bind="click:function(){ buscarContrato(1);}">Filtrar</button>
			</div>
		</div>
	</div>
</div>
<!--Fin Modal - Buscar contrato -->

<!--Inicio Modal - confirmar Cruce -->
<div id="modal_confirmar_cruce" style="overflow:auto;" data-backdrop="static" data-keyboard="false" class="modal fade bd-example-modal-ls" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-ls">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="gridModalLabel">Confirmación de Cruce</h4>
			</div>
			<div class="modal-body">

				<div class="row">
					<div class="col-md-12">
						
					</div>
				</div><br/>
				<div data-bind="html: mensaje_cont"></div>

				<div class="panel panel-sky" >
					<!--<div class="panel-heading"> data-bind="visible:(listado_confirmacion_anticipo()!=null && listado_confirmacion_anticipo().length > 0)"
						<span class="panel-title">
							Listado de contratos
						</span>
					</div> -->
					<div class="panel-body">
						<div class="table-responsive" data-bind="dropdown">
							<table class="table">
								<thead>
									<tr>
										<th>Tipo</th>
										<th>Referencia</th>
										<th>Valor</th>
									</tr>
								</thead>
								<tbody>
									<!--ko foreach:{ data:listado_confirmacion_anticipo, as:'item'} -->
										<tr class="success">
											<td data-bind="text: item.tipo"></td>
											<td data-bind="text: item.referencia"></td>
											<td data-bind="text: formatMoney(item.valor)+' (+)'"></td>
										</tr>
									<!--/ko-->
									<!--ko foreach:{ data:listado_confirmacion_factura, as:'item'} -->
										<tr class="danger">
											<td data-bind="text: item.tipo"></td>
											<td data-bind="text: item.referencia"></td>
											<td data-bind="text: formatMoney(item.valor) +' (-)'"></td>
										</tr>
									<!--/ko-->
									<!--ko foreach:{ data:listado_confirmacion_cesion, as:'item'} -->
										<tr class="success">
											<td data-bind="text: item.tipo"></td>
											<td data-bind="text: item.referencia"></td>
											<td data-bind="text: formatMoney(item.valor)+' (+)'"></td>
										</tr>
									<!--/ko-->
									<!--ko foreach:{ data:listado_confirmacion_descuento, as:'item'} -->
										<tr class="success">
											<td data-bind="text: item.tipo"></td>
											<td data-bind="text: item.referencia"></td>
											<td data-bind="text: formatMoney(item.valor)+' (+)'"></td>
										</tr>
									<!--/ko-->
									<!--ko foreach:{ data:listado_confirmacion_multa, as:'item'} -->
										<tr class="success">
											<td data-bind="text: item.tipo"></td>
											<td data-bind="text: item.referencia"></td>
											<td data-bind="text: formatMoney(item.valor)+' (+)'"></td>
										</tr>
									<!--/ko-->
									<tr>
										<td colspan="2" style="padding-left: 50%; padding-right: 10%">Saldo:</td>
										<td class="warning" data-bind="text: formatMoney($root.valor_total())"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<p class="lead" data-bind="text: mensaje_valor"></p>
					</div>
				</div><!-- /.panel panel-sky -->

			</div><!-- /.modal-body -->

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bind="click:function(){ $('#modal_guardar_cruce').modal('show');}">Acptar</button>
				<button type="button" class="btn btn-primary" data-bind="click:function(){ $('#modal_confirmar_cruce').modal('hide');}">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!--Fin Modal - confirmar Cruce -->

<!--Inicio Modal - guardar Cruce -->
<div id="modal_guardar_cruce" style="overflow:auto;" data-backdrop="static" data-keyboard="false" class="modal fade bd-example-modal-ls" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-ls">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="gridModalLabel">Confirmación de Cruce</h4>
			</div>
			<div class="modal-body">

				<div class="row">
					<div class="col-md-12">
						
						<div class="form-group">
              <label>Fecha Inicio:</label>
              <input class="form-control" data-bind='datePicker:cruceVO.fecha, value:cruceVO.fecha'  type="text">
            </div>
						<div class="form-group">
							<label>Referencia:</label>
							<input class="form-control" data-bind='value:cruceVO.referencia' type="text">
						</div>
						<div class="form-group">
              <label>Descripción:</label>
              <textarea class="form-control textarea-grow" data-bind='value:cruceVO.descripcion' rows="4"></textarea>
            </div>
            <div class="form-group">
              <label>Valor</label>
              <input type="text" class="form-control" data-bind="value:cruceVO.valor.formatted, onlyNumber:cruceVO.valor" disabled="">
            </div>

					</div>
				</div><br/>
				<div data-bind="html: mensaje_cont"></div>

			</div><!-- /.modal-body -->

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bind="click:function(){ guardar();}">Guardar</button>
				<button type="button" class="btn btn-primary" data-bind="click:function(){ $('#modal_confirmar_cruce, #modal_guardar_cruce').modal('hide');}">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!--Fin Modal - guardar Cruce -->

<!--Inicio Modal - Filtro Cruce -->
<!--Fin Modal - Filtro Cruce -->

<!--Inicio Modal - Detalle del Cruce-->
<div id="detalle_cruce" class="modal fade bd-example-modal-ls" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-ls">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="gridModalLabel">Detalle de la Compensación</h4>
			</div>
			<div class="modal-body">
				<div class="" data-animate="[&quot;200&quot;,&quot;fadeIn&quot;]">

					<h4> Información de la Compensación </h4>
					<ul class="icon-list">
						<li>
						<b> Referencia:</b>&nbsp;<small data-bind="html:detalle.referencia"></small>
						</li>
						<li>
						<b> N° Contrato:</b>&nbsp;<small data-bind="html:detalle.num_contrato"></small>
						</li>
						<li>
						<b> Fecha:</b>&nbsp;<small data-bind="html:detalle.fecha"></small>
						</li>
						<li>
						<b> Descripción:</b>&nbsp;<small data-bind="html:detalle.descripcion"></small>
						</li>
						<li>
						<b> Valor:</b>&nbsp;<small data-bind="html:formatMoney(detalle.valor())"></small>
						</li>
					</ul>

					<div class="table-responsive" >
						
						<!--ko if: detalle.giro().length > 0 -->
							<div class="panel-heading">
								<span class="panel-title">Giro</span>
							</div>
							<table class="table">
								<thead>
									<tr>
										<th>Referencia</th>
										<th>Nombre</th>
										<th>Valor</th>
										<th style="width: 10%;">Soporte</th>
									</tr>
								</thead>
								<tbody>
									<!--ko foreach:{ data:detalle.giro, as:'item'} -->
										<tr>
											<td data-bind="text: item.referencia"></td>
											<td data-bind="text: item.nombre__nombre"></td>
											<td data-bind="text: formatMoney(item.valor)"></td>
											<td>
												<small>
													<!--ko if: item.soporte != '' && item.soporte != null -->
														<a data-bind="attr:{href: '../../giros/ver-soporte/?id=' + item.id}" target="_blank">
															<i class="fa fa-file"></i>
														</a>
													<!-- /ko -->
												</small>
											</td>
										</tr>
									<!--/ko-->
								</tbody>
							</table>
						<!--/ko-->

						<!--ko if: detalle.factura().length > 0 -->
							<div class="panel-heading">
								<span class="panel-title">Factura</span>
							</div>
							<table class="table">
								<thead>
									<tr>
										<th>Referencia</th>
										<th>fecha</th>
										<th>Valor</th>
										<th style="width: 10%;">Soporte</th>
									</tr>
								</thead>
								<tbody>
									<!--ko foreach:{ data:detalle.factura, as:'item'} -->
										<tr>
											<td data-bind="text: item.referencia"></td>
											<td data-bind="text: item.fecha"></td>
											<td data-bind="text: formatMoney(item.valor_contable)"></td>
											<td>
												<small>
													<!--ko if: item.soporte != '' && item.soporte != null -->
														<a data-bind="attr:{href: '../../factura/ver-soporte/?id=' + item.id}" target="_blank">
															<i class="fa fa-file"></i>
														</a>
													<!-- /ko -->
												</small>
											</td>
										</tr>
									<!--/ko-->
								</tbody>
							</table>
						<!--/ko-->

						<!--ko if: detalle.cesion().length > 0 -->
							<div class="panel-heading">
								<span class="panel-title">Cesion</span>
							</div>
							<table class="table">
								<thead>
									<tr>
										<th>Referencia</th>
										<th>fecha</th>
										<th>Valor</th>
										<th style="width: 10%;">Soporte</th>
									</tr>
								</thead>
								<tbody>
									<!--ko foreach:{ data:detalle.cesion, as:'item'} -->
										<tr>
											<td data-bind="text: item.referencia"></td>
											<td data-bind="text: item.fecha"></td>
											<td data-bind="text: formatMoney(item.valor)"></td>
											<td>
												<small>
													<!--ko if: item.soporte != '' && item.soporte != null -->
														<a data-bind="attr:{href: '../../factura/ver-soporte-cesion/?id='+item.id}" target="_blank">
															<i class="fa fa-file"></i>
														</a>
													<!-- /ko -->
												</small>
											</td>
										</tr>
									<!--/ko-->
								</tbody>
							</table>
						<!--/ko-->

						<!--ko if: detalle.descuento().length > 0 -->
							<div class="panel-heading">
								<span class="panel-title">Descuento</span>
							</div>
							<table class="table">
								<thead>
									<tr>
										<th>Referencia</th>
										<th>Concepto</th>
										<th>Valor</th>
										<th style="width: 10%;">Soporte</th>
									</tr>
								</thead>
								<tbody>
									<!--ko foreach:{ data:detalle.descuento, as:'item'} -->
										<tr>
											<td data-bind="text: item.referencia"></td>
											<td data-bind="text: item.concepto"></td>
											<td data-bind="text: formatMoney(item.valor)"></td>
											<td>
												<small>
													<!--ko if: item.soporte != '' && item.soporte != null -->
														<a data-bind="attr:{href: '../../factura/ver-soporte-descuento/?id=' + item.id}" target="_blank">
															<i class="fa fa-file"></i>
														</a>
													<!-- /ko -->
												</small>
											</td>
										</tr>
									<!--/ko-->
								</tbody>
							</table>
						<!--/ko-->

						<!--ko if: detalle.multa().length > 0 -->
							<div class="panel-heading">
								<span class="panel-title">Multa</span>
							</div>
							<table class="table">
								<thead>
									<tr>
										<th>Referencia</th>
										<th>Fecha</th>
										<th>Valor</th>
										<th style="width: 10%;">Soporte</th>
									</tr>
								</thead>
								<tbody>
									<!--ko foreach:{ data:detalle.multa, as:'item'} -->
										<tr>
											<td data-bind="text: item.codigoReferencia"></td>
											<td data-bind="text: item.fechaDiligencia"></td>
											<td data-bind="text: formatMoney(item.valorImpuesto)"></td>
											<td>
												<small>
													<!--ko if: item.soporte != '' && item.soporte != null -->
														<a data-bind="attr:{href: '../../multa/ver-soporte-solicitud/?id=' + item.id}" target="_blank">
															<i class="fa fa-file"></i>
														</a>
													<!-- /ko -->
												</small>
											</td>
										</tr>
									<!--/ko-->
								</tbody>
							</table>
						<!--/ko-->
					</div>

				</div>
			</div> <!-- ./modal-body -->
		</div>
	</div>
</div>
<!--Fin Modal - Detalle del Cruce-->

<!--Loading-->
{% endblock contenido %}

{% load static %}

{%block imports %}

<script src='{% static "js/plugins/moment/moment.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/plugins/datepicker/js/bootstrap-datetimepicker.js" %}'></script>
<script type="text/javascript" src='{% static "js/plugins/accounting/accounting.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/plugins/fileInput/fileinput.js" %}'></script>
<!-- <script type="text/javascript" src='{% static "js/plugins/tagmanager/tagmanager.js" %}'></script> -->
<script type="text/javascript" src='{% static "js/ViewModels/factura/cruce.js" %}?v=2'></script>

{% endblock imports %}